<%= render "partial/navbar" %>
<main class="" id="main-collapse">
<br>
<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="pull-right">
<% if @question.sex == "男" %>
    <%= image_tag "male.png", :class => "img-circle profile-2" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <% else %>
    <%= image_tag "female.png", :class => "img-circle profile-2" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>
    </div>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-10">
<h4><%= @question.content %></h4>
</div>
</div>
</div>
<br><br><br><br>

<% if @question.photo_file_name %>
<div class="img-show">
<%= image_tag @question.photo.url, :class =>'pc' %>
</div>
<br><br>
<% end %>


	<% if @question.sex == "男" %>

	<% if current_user.sex == "男" %>


	<div class="like-font-show">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
        <div class="col-xs-6 col-sm-6 col-md-6">
          	<div class="text-center">
		        <i class="fa fa-thumbs-o-up good-btn-un" aria-hidden="true"></i><span style="color: black;">アリ</span>
		        <% answer_good_count = Answer.where(question_id: @question.id, kind: 1).count %>
		        &nbsp;<%= answer_good_count %>
        	</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="text-center">
		        <i class="fa fa-thumbs-o-down bad-btn-un" aria-hidden="true"></i><span style="color: black;">ナシ</span>
		        <% answer_bad_count = Answer.where(question_id: @question.id, kind: 2).count %>
		        &nbsp;<%= answer_bad_count %> 
	        </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>

	<% else %>

	<div class="like-font-show">
      <% if Answer.find_by(user_id: current_user.id, question_id: @question.id) %>
        <% if Answer.find_by(user_id: current_user.id, question_id: @question.id, kind: 1) %>
          <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
          <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="text-center">
          <%= link_to("/answers/#{@question.id}/destroy1", {method: "post"}) do %>
          <i class="fa fa-thumbs-o-up good-btn" aria-hidden="true"></i><span style="color: black;">アリ</span>
          <% end %>
          <% answer_good_count = Answer.where(question_id: @question.id, kind: 1).count %>
            &nbsp;<%= answer_good_count %>
          </div>
          </div>
          <div class="col-xs-6 col-ms-6 col-md-6">
          <div class="text-center">
          <%= link_to("/likes/#{@question.id}/update2", {method: "post"}) do %>
          <i class="fa fa-thumbs-o-down bad-btn-un" aria-hidden="true"></i><span style="color: black;">ナシ</span>
          <% end %>
          <% answer_bad_count = Answer.where(question_id: @question.id, kind: 2).count %>
            &nbsp;<%= answer_bad_count %> 
          </div>
          </div>
          </div>
          </div>
    </div>
    </div>
      <% else %>
          <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-xs-6 col-sm-6 col-md-36">
              <div class="text-center">
          <%= link_to("/answers/#{@question.id}/update1", {method: "post"}) do %>
          <i class="fa fa-thumbs-o-up good-btn-un" aria-hidden="true"></i><span style="color: black;">アリ</span>
          <% end %>
          <% answer_good_count = Answer.where(question_id: @question.id, kind: 1).count %>
            &nbsp;<%= answer_good_count %>
          </div>
          </div>
          <div class="col-xs-6 col-ms-6 col-md-6">
            <div class="text-center">
          <%= link_to("/answers/#{@question.id}/destroy2", {method: "post"}) do %>
          <i class="fa fa-thumbs-o-down bad-btn" aria-hidden="true"></i><span style="color: black;">ナシ</span>
          <% end %>
          <% answer_bad_count = Answer.where(question_id: @question.id, kind: 2).count %>
            &nbsp;<%= answer_bad_count %> 
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
      <% end %>
    <% else %>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="text-center">
        <%= link_to("/answers/#{@question.id}/create1", {method: "post"}) do %>
        <i class="fa fa-thumbs-o-up good-btn-un" aria-hidden="true"></i><span style="color: black;">アリ</span>
        <% end %>
        <% answer_good_count = Answer.where(question_id: @question.id, kind: 1).count %>
            &nbsp;<%= answer_good_count %>
        </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="text-center">
        <%= link_to("/answers/#{@question.id}/create2", {method: "post"}) do %>
          <i class="fa fa-thumbs-o-down bad-btn-un" aria-hidden="true"></i><span style="color: black;">ナシ</span>
        <% end %>  
        <% answer_bad_count = Answer.where(question_id: @question.id, kind: 2).count %>
            &nbsp;<%= answer_bad_count %> 
        </div>
        </div>
        </div>
        </div>
          </div>
          </div>
    

      <% end %>
      </div>

      <% end %>
      

  <% else %>
  	<% if current_user.sex == "男" %>
  		<div class="like-font-show">
      <% if Answer.find_by(user_id: current_user.id, question_id: @question.id) %>
        <% if Answer.find_by(user_id: current_user.id, question_id: @question.id, kind: 1) %>
          <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
          <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="text-center">
          <%= link_to("/answers/#{@question.id}/destroy1", {method: "post"}) do %>
          <i class="fa fa-thumbs-o-up good-btn" aria-hidden="true"></i><span style="color: black;">アリ</span>
          <% end %>
          <% answer_good_count = Answer.where(question_id: @question.id, kind: 1).count %>
            &nbsp;<%= answer_good_count %>
          </div>
          </div>
          <div class="col-xs-6 col-ms-6 col-md-6">
          <div class="text-center">
          <%= link_to("/likes/#{@question.id}/update2", {method: "post"}) do %>
          <i class="fa fa-thumbs-o-down bad-btn-un" aria-hidden="true"></i><span style="color: black;">ナシ</span>
          <% end %>
          <% answer_bad_count = Answer.where(question_id: @question.id, kind: 2).count %>
            &nbsp;<%= answer_bad_count %> 
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
      <% else %>
          <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="text-center">
          <%= link_to("/answers/#{@question.id}/update1", {method: "post"}) do %>
          <i class="fa fa-thumbs-o-up good-btn-un" aria-hidden="true"></i><span style="color: black;">アリ</span>
          <% end %>
          <% answer_good_count = Answer.where(question_id: @question.id, kind: 1).count %>
            &nbsp;<%= answer_good_count %>
          </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="text-center">
          <%= link_to("/answers/#{@question.id}/destroy2", {method: "post"}) do %>
          <i class="fa fa-thumbs-o-down bad-btn" aria-hidden="true"></i><span style="color: black;">ナシ</span>
          <% end %>
          <% answer_bad_count = Answer.where(question_id: @question.id, kind: 2).count %>
            &nbsp;<%= answer_bad_count %> 
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
      <% end %>
    <% else %>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="text-center">
        <%= link_to("/answers/#{@question.id}/create1", {method: "post"}) do %>
        <i class="fa fa-thumbs-o-up good-btn-un" aria-hidden="true"></i><span style="color: black;">アリ</span>
        <% end %>
        <% answer_good_count = Answer.where(question_id: @question.id, kind: 1).count %>
            &nbsp;<%= answer_good_count %>
        </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="text-center">
        <%= link_to("/answers/#{@question.id}/create2", {method: "post"}) do %>
          <i class="fa fa-thumbs-o-down bad-btn-un" aria-hidden="true"></i><span style="color: black;">ナシ</span>
        <% end %>  
        <% answer_bad_count = Answer.where(question_id: @question.id, kind: 2).count %>
            &nbsp;<%= answer_bad_count %> 
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    

      <% end %>
      </div>

  	<% else %>


  	<div class="like-font-show">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
        <div class="col-xs-6 col-sm-6 col-md-6">
          	<div class="text-center">
		        <i class="fa fa-thumbs-o-up good-btn-un" aria-hidden="true"></i><span style="color: black;">アリ</span>
		        <% answer_good_count = Answer.where(question_id: @question.id, kind: 1).count %>
		        &nbsp;<%= answer_good_count %>
        	</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="text-center">
		        <i class="fa fa-thumbs-o-down bad-btn-un" aria-hidden="true"></i><span style="color: black;">ナシ</span>
		        <% answer_bad_count = Answer.where(question_id: @question.id, kind: 2).count %>
		        &nbsp;<%= answer_bad_count %> 
	        </div>
        </div>
      </div>
    </div>
    </div>
        </div>
        </div>

  	<% end %>
  <% end %>

  <div class="row">
  <div class="col-xs-offset-7 col-xs-4 col-sm-offset-7 col-sm-3 col-md-offset-7 col-md-2">
    <div class="panel panel-default">
      <div class="text-center">
          <% if Clip.find_by(user_id: current_user.id, question_id: @question.id) %>
            <%= link_to("/clips/#{@question.id}/destroy", {method: "post"}) do %>
            <i class="fa fa-paperclip clip-btn " aria-hidden="true"></i><span style="color: black;">クリップを外す</span>
            <% end %>
            <% clip_count = Clip.where(question_id: @question.id).count %>
            &nbsp;<%= clip_count %>
          <% else %>
            <%= link_to("/clips/#{@question.id}/create", {method: "post"}) do %>
            <i class="fa fa-paperclip clip-btn-un " aria-hidden="true"></i><span style="color: black;">クリップする</span>
            <% end %>
            <% clip_count = Clip.where(question_id: @question.id).count %>
            &nbsp;<%= clip_count %>
          <% end %>
        </div>
        </div>
        </div>
         </div>
    
<% if @question.user == current_user %>
<br><br>
<div class="img-show">
<%= link_to "編集する", edit_question_path(@question), :class => "btn btn-default btn-sm" %>
<% end %>
</div>




  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="panel-body">      
          <!-- ここからフォーム -->
          <%= form_for @comment do |f| %>
            <br>  
            <div class="row">
              <div class="col-md-12 select">
                <div class="form-group">
                    <label>content</label>
                    <%= f.text_area :content, rows: 4, placeholder: "コメント", class: "form-control", required: "true" %>
                </div> 
              </div>
            </div>
                  <%= f.hidden_field :sex, value: current_user.sex %>
                  <%= f.hidden_field :question_id, value: @question.id %>
            <div class="actions">
              <%= f.submit "投稿", class: "btn btn-primary btn-sm pull-right" %>
            </div>
          <% end %>
        
      </div>
    </div>
  </div>
<br>

  

  <% if Comment.find_by(question_id: @question.id) %>
  <% @comments.each do |comment| %>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">
  <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="pull-right">
    <% if comment.sex == "男" %>
    <%= image_tag "male.png", :class => "img-circle profile-0" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <% else %>
    <%= image_tag "female.png", :class => "img-circle profile-0" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>
    </div>
  </div>
  <div class="col-xs-8 col-sm-8 col-md-8">
    <%= comment.content %>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <div class="strftime">
    <%= comment.created_at.strftime("%Y/%m/%d") %>
    </div>
    </div>
    <br>
    <hr>
    </div>
  </div>
    
  <% end %>
  <% end %>
  






    


</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./main.85741bff.js"></script></body>
