<%= render "partial/navbar2" %>
<main class="" id="main-collapse">
 
<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">
 <div class="panel panel-default"> 
<%= search_form_for @q, url: questions_men_path do |f| %>
    <div class="panel-body">
        <div class="form-group">
          <div class="city-check">
      <label class="checkbox-inline">
       <%= f.check_box :category_eq_any, { multiple: true },checked_value = "誘う", unchecked_value = "" %>誘う
      </label>
      <label class="checkbox-inline">
        <%= f.check_box :category_eq_any, { multiple: true },checked_value = "プラン", unchecked_value = "" %>プラン
      </label>
      <label class="checkbox-inline">
        <%= f.check_box :category_eq_any, { multiple: true },checked_value = "当日", unchecked_value = "" %>当日
      </label>
      <label class="checkbox-inline">
        <%= f.check_box :category_eq_any, { multiple: true },checked_value = "デート後", unchecked_value = "" %>デート後
      </label>
      <label class="checkbox-inline">
        <%= f.check_box :category_eq_any, { multiple: true },checked_value = "メッセージ", unchecked_value = "" %>メッセージ
      </label>
      <label class="checkbox-inline">
        <%= f.check_box :category_eq_any, { multiple: true },checked_value = "その他", unchecked_value = "" %>その他
      </label>
       </div>    
       <%= f.submit "検索", class: "btn btn-default btn-sm pull-right" %>
      </div> 
        <% end %>
        </div>
        </div>
</div>
</div>

  <br>


  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">
      <% if @arrlistings %>
      <% @arrlistings.each do |question| %>
      <%= link_to question_path(question) do %>
      <div class="black">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="pull-right">
      <%= image_tag "female.png", :class => "img-circle profile-2" %>
      </div>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-10">
      <%= question.content %>
      </div>
      </div>
      </div>
      <% end %>
      <br>

      <div class="row">

        <div class="col-xs-offset-4 col-xs-2 col-sm-offset-4 col-sm-2 col-md-offset-4 col-md-2">
          <% comment_count = Comment.where(question_id: question.id).count %>
          <i class="fa fa-comment-o" aria-hidden="true"></i>
          &nbsp;<%= comment_count %>
        </div>



        <div class="col-xs-2 col-sm-2 col-md-2">
          <% if Clip.find_by(user_id: current_user.id, question_id: question.id) %>
            <%= link_to("/clips/#{question.id}/destroy", {method: "post"}) do %>
            <i class="fa fa-paperclip clip-btn " aria-hidden="true"></i><span style="color: black;"></span>
            <% end %>
            <% clip_count = Clip.where(question_id: question.id).count %>
            &nbsp;<%= clip_count %>
          <% else %>
            <%= link_to("/clips/#{question.id}/create", {method: "post"}) do %>
            <i class="fa fa-paperclip clip-btn-un " aria-hidden="true"></i><span style="color: black;"></span>
            <% end %>
            <% clip_count = Clip.where(question_id: question.id).count %>
            &nbsp;<%= clip_count %>
          <% end %>
        </div>


      <% if current_user.sex == "男" %>

        <% if Answer.find_by(user_id: current_user.id, question_id: question.id) %>
          <% if Answer.find_by(user_id: current_user.id, question_id: question.id, kind: 1) %> 
            <div class="col-md-2">
            <%= link_to("/answers/#{question.id}/destroy1", {method: "post"}) do %>
            <i class="fa fa-thumbs-o-up good-btn" aria-hidden="true"></i><span style="color: black;"></span>
            <% end %>
            <% answer_good_count = Answer.where(question_id: question.id, kind: 1).count %>
            &nbsp;<%= answer_good_count %>
            </div>
            
            <div class="col-xs-2 col-sm-2 col-md-2">
            <%= link_to("/answers/#{question.id}/update2", {method: "post"}) do %>
            <i class="fa fa-thumbs-o-down bad-btn-un" aria-hidden="true"></i><span style="color: black;"></span>
            <% end %>
            <% answer_bad_count = Answer.where(question_id: question.id, kind: 2).count %>
            &nbsp;<%= answer_bad_count %>  
            </div>    
          <% else %>  
            <div class="col-xs-2 col-sm-2 col-md-2">       
            <%= link_to("/answers/#{question.id}/update1", {method: "post"}) do %>
            <i class="fa fa-thumbs-o-up good-btn-un" aria-hidden="true"></i><span style="color: black;"></span>
            <% end %>
            <% answer_good_count = Answer.where(question_id: question.id, kind: 1).count %>
            &nbsp;<%= answer_good_count %>
            </div>   
               
            <div class="col-xs-2 col-sm-2 col-md-2">
            <%= link_to("/answers/#{question.id}/destroy2", {method: "post"}) do %>
            <i class="fa fa-thumbs-o-down bad-btn" aria-hidden="true"></i><span style="color: black;"></span>
            <% end %>
            <% answer_bad_count = Answer.where(question_id: question.id, kind: 2).count %>
            &nbsp;<%= answer_bad_count %> 
            </div>       
          <% end %>
        <% else %>
          <div class="col-xs-2 col-sm-2 col-md-2">
          <%= link_to("/answers/#{question.id}/create1", {method: "post"}) do %>
          <i class="fa fa-thumbs-o-up good-btn-un" aria-hidden="true"></i><span style="color: black;"></span>
          <% end %>
          <% answer_good_count = Answer.where(question_id: question.id, kind: 1).count %>
          &nbsp;<%= answer_good_count %>
          </div>   
             
          <div class="col-xs-2 col-sm-2 col-md-2">
          <%= link_to("/answers/#{question.id}/create2", {method: "post"}) do %>
          <i class="fa fa-thumbs-o-down bad-btn-un" aria-hidden="true"></i><span style="color: black;"></span>
          <% end %>  
          <% answer_bad_count = Answer.where(question_id: question.id, kind: 2).count %>
          &nbsp;<%= answer_bad_count %> 
          </div>   
        <% end %>
      <% else %>

        <div class="col-xs-2 col-sm-2 col-md-2"> 
        <i class="fa fa-thumbs-o-up good-btn-un" aria-hidden="true"></i><span style="color: black;"></span>      
        <% answer_good_count = Answer.where(question_id: question.id, kind: 1).count %>
        &nbsp;<%= answer_good_count %>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2">
        <i class="fa fa-thumbs-o-down bad-btn-un" aria-hidden="true"></i><span style="color: black;"></span>
        <% answer_bad_count = Answer.where(question_id: question.id, kind: 2).count %>
        &nbsp;<%= answer_bad_count %> 
        </div> 


      <% end %>




      </div>

      <hr>
  <% end %>
  <% end %>
    </div>
  </div>
</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./main.85741bff.js"></script></body>
