<% @spots.each do |spot| %>
  <div class="grid-item iii">
    <%= link_to spot_path(spot) do %>
    <% if spot.article_id %>
      <div class="index-movie">
      <%= image_tag spot.pictures.first.image.url, :class =>'img-responsive' %>
      <p><i class="fa fa-play-circle-o" aria-hidden="true"></i></p> 
      </div>
    <% else %>
      <%= image_tag spot.pictures.first.image.url, :class =>'img-responsive' %>
    <% end %>
      <div class="black title-font-index">
        <%= spot.title %>
      </div>
      <div class="prefecture-font-index">
        <i class="fa fa-map-marker" aria-hidden="true"></i><%= spot.station %>
      </div>
    <% end %>
    <%# wantdoneボタン %>
    <span id="like-of-<%= spot.id %>">
      <%= render partial: 'likes/like', locals: { spot: spot, likes: @likes } %>
    </span>
  </div>
<% end %>  