

<% @spots.each do |spot| %>
<%= form_tag("/spots/#{spot.id}/show00", method: :get) do %>

<% unless params[:spot1].blank? %>
	<%= hidden_field_tag :spot1, params[:spot1] %>
<% end %>
	
	<%= button_tag :type => "submit", :class =>"button-b" do %>
	<div class="result-b">	
	<%= image_tag spot.pictures.first.image.url, :class =>'img-result-b' %>
	<h3>
		<%# タイトル %>
        <%= spot.title %>
        <%# 駅 %>
        <br>
        <span style="font-size:11px;text-shadow: 0px 0px 0px black;"><i class="fa fa-map-marker"></i>&nbsp;<%= spot.station %></span>
	</h3>
	</div>
	<% end %>



<% end %>
<% end %>

