<%= render "partial/navbar" %>
<main class="" id="main-collapse">


<%#詳細条件モーダルボタン%>
<div class="btn-details">
 <a href="" data-toggle="modal" data-target="#myModal-distance" id="btn-detail">
  <i class="fa fa-search"></i>
 </a>
</div>

<%#詳細条件モーダルの中身%>
<div class="modal" id="myModal-distance">
  <%= form_tag(spots_path, method: :get) do %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="text-center" style="padding-top:30px;">
            <div class="panel-body">
              <div class="form-group" style="margin-bottom:-10px;">
                <p class="pull-left">スポット名</p>
                <%= text_field_tag :title, @title, placeholder: "タイトル", class: "form-control" %>
              </div>
              <br>
              <div class="form-group">
                <p class="pull-left">エリア</p>
                <div class="select-box01">
                  <%= select_tag :city, options_for_select([["指定なし", "指定なし"],["恵比寿・代官山・中目黒","恵比寿・代官山・中目黒"],["渋谷","渋谷"],["原宿・表参道・青山","原宿・表参道・青山"],["新宿","新宿"],["東京・丸の内・日本橋","東京・丸の内・日本橋"],["六本木・麻布・赤坂","六本木・麻布・赤坂"],["銀座・有楽町","銀座・有楽町"],["品川","品川"],["お台場","お台場"],["池袋","池袋"],["新橋・汐留・浜松町","新橋・汐留・浜松町"],["上野","上野"],["浅草・押上","浅草・押上"],["目黒・白金・五反田","目黒・白金・五反田"],["吉祥寺・三鷹","吉祥寺・三鷹"],["神楽坂・飯田橋","神楽坂・飯田橋"],["下北沢","下北沢"],["谷中・根津・千駄木","谷中・根津・千駄木"],["神田・秋葉原・御茶ノ水","神田・秋葉原・御茶ノ水"],["赤坂・虎ノ門・永田町","赤坂・虎ノ門・永田町"],["四ツ谷・信濃町・千駄ヶ谷","四ツ谷・信濃町・千駄ヶ谷"]], @city) %>
                </div>
              </div>
              <div class="form-group">
                <p class="pull-left">カテゴリー</p>
                <div class="select-box01">
                  <%= select_tag :category, options_for_select([["指定なし", "指定なし"], ["朝食", "朝食"], ["ランチ", "ランチ"], ["ディナー", "ディナー"], ["カフェ", "カフェ"], ["アニマルカフェ", "アニマルカフェ"], ["バー", "バー"], ["映画", "映画"], ["ショップ・雑貨屋", "ショップ・雑貨屋"], ["スポーツ", "スポーツ"], ["夜景", "夜景"], ["プラネタリウム", "プラネタリウム"], ["動物園", "動物園"], ["水族館", "水族館"], ["美術館", "美術館"], ["遊園地", "遊園地"], ["カラオケ", "カラオケ"], ["ボーリング", "ボーリング"], ["ダーツ", "ダーツ"], ["食べ歩き", "食べ歩き"], ["公園", "公園"], ["スパ・温泉", "スパ・温泉"], ["ゲームセンター", "ゲームセンター"], ["お寺・神社", "お寺・神社"], ["劇場", "劇場"], ["インターネットカフェ", "インターネットカフェ"], ["コンセプトカフェ・バー", "コンセプトカフェ・バー"], ["既", "既"], ["体験", "ストリート"], ["複合施設", "複合施設"], ["その他", "その他"]], @category) %>
                </div>
              </div>
              <div class="form-group">
                <div class="select-box01">
                  <p class="pull-left">住所(validation)</p>
                  <%= select_tag :latitude, options_for_select([["指定なし", "指定なし"], ["既", "既"], ["未", "未"]], @latitude) %>
                </div>
              </div>
              <div class="form-group">
                <div class="select-box01">
                  <p class="pull-left">説明(validation)</p>
                  <%= select_tag :description, options_for_select([["指定なし", "指定なし"], ["既", "既"], ["未", "未"]], @description) %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="">
      <%= submit_tag "絞る", :class => "btn btn-default inline" %>
    </div>
  <% end %>  
    <div class="btn-details">
     <a href="" data-toggle="modal" data-dismiss="modal" id="btn-detail">
      <i class="fa fa-close"></i>
     </a>
    </div>
</div>

<div class="hero-full-wrapper">
  <div class="grid">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <%= render 'index' %>
  </div>
</div>

<div class="text-center">
  <%= paginate @spots %>
</div>

<br><br>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>
 
</main>
<%= render "partial/footer" %>