<% set_meta_tags noindex: true %>
<%= render "partial/navbar" %>
<main class="" id="main-collapse">

<div class="title-content">
  <%= @spot.title %>の写真
</div> 
<hr class="style1">

<div class="hero-full-wrapper">
  <div class="grid">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <% @pictures.each do |picture| %>
    	<div class="grid-item">
        <%= link_to edit_picture_path(picture) do %>
    		  <%= image_tag picture.image.url(), :class =>'img-responsive' %> 
        <% end %>
    	</div>   
    <% end %>  
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>
 
</main>
<%= render "partial/footer" %>
