<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<div class="pc_1">
	
  <div class="box90" id=''>
	<div>
		<h4 style="color:white;text-shadow: 1px 1px 2px black;">距離からスポットを探す</h4>			
    </div>
  	<br>


    <div>
    <%= form_tag("/course/#{@course.id}/point/category", method: :get) do %>
	<%= hidden_field_tag :price_min , params[:price_min] %>
	<%= hidden_field_tag :price_max , params[:price_max] %>
	<%= hidden_field_tag :distance_on, "true" %>
	<%= hidden_field_tag :distance, params[:distance] %>
	<%= hidden_field_tag :timezone, params[:timezone] %>
	<%= hidden_field_tag :small, params[:small] %>
	</div>

	<div class="horizontal_scroll_spot">
	  <ul class="scroll_lst_spot">  
	  	<% @points.each.with_index(1) do |point, i| %>		
	  		<% spot = Spot.find(point.spot_id) %>
		    <li class="scroll_item_spot">
		      <h1><span class="number_spot"><%= i %></span></h1>  
	          <div class="radio-city1">	
	          	<% if i == 1 %>	
		          <%= radio_button_tag(:distance_spot, spot.id, true, {:id => "distance_spot_#{spot.id}"}) %>
		        <% else %>
		          <%= radio_button_tag(:distance_spot, spot.id, false, {:id => "distance_spot_#{spot.id}"}) %>
		        <% end %>
		        <label for="distance_spot_<%= spot.id %>">
		          <%= image_tag spot.pictures.first.image.url, :class =>'img-scroll_spot' %>
		          <h2>
		            <%= spot.title %>
		          </h2> 
		        </label>
		      </div>
		    </li>
		<% end %>
	  </ul>
	</div>

	<br>
	<div>
        <h4 class="" style="color:white;text-shadow: 1px 1px 2px black;">から</h4>
    </div>

    <br><br>
	  <div style="width:80%">
	    <input id="distance" name="distance" type="range" value="<%= params[:distance].to_i %>" min="1" max="2000" step="1" class="search-detail-b"
	      oninput="document.getElementById('output2').value=this.value">
	      <div class="pull-right">
	      <span class="rage-output">~</span><output id="output2" class="rage-output"><%= params[:distance].to_i %></output><span class="rage-output">m</span>
	    </div>
	  </div>
	 <br><br>
	<div>
	<%= submit_tag "次へ進む", :class => "btn btn-default" %>
	</div>
	<% end %>

	<div style="margin-top:5px;">

		<div style="display:inline-block;">
			<%= form_tag("/course/#{@course.id}/point/area", method: :get) do %>
	      	<%= hidden_field_tag :price_min , params[:price_min] %>
	      	<%= hidden_field_tag :price_max , params[:price_max] %>
	      	<%= hidden_field_tag :distance_on, "false" %>
	      	<%= hidden_field_tag :distance, params[:distance] %>
	      	<%= hidden_field_tag :timezone, params[:timezone] %>
	      	<%= hidden_field_tag :small, params[:small] %>
	      	<%= submit_tag "エリアを指定する", :class => "btn-stop" %>
	    	<% end %>
    	</div>

	</div>

  </div>

</div>

  <div class="pc_2">
    <%= render "partial/fotter_home" %>
  </div>


<%= render "partial/footer" %>
</mains>

