<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<div class="pc_1">
	
  <div class="box90" id=''>
	<div>
		<p style="color:white;text-shadow: 1px 1px 2px black;">追加するスポットを決めましょう</p>			
    </div>
    <div>
        <p class="" style="color:white;text-shadow: 1px 1px 2px black;"><%= @distance_spot.title %>からの距離はどうしますか？</p>
    </div>
  	<br>

    <div>
    <%= form_tag("/course/#{@course.id}/point/category", method: :get) do %>
	<%= hidden_field_tag :price_min , params[:price_min] %>
	<%= hidden_field_tag :price_max , params[:price_max] %>
	<%= hidden_field_tag :distance_on, "true" %>
	<%= hidden_field_tag :distance, params[:distance] %>
	<%= hidden_field_tag :timezone, params[:timezone] %>
	<%= hidden_field_tag :small, params[:small] %>
	<%= hidden_field_tag :distance_spot, params[:distance_spot] %>
	</div>

    <br><br><br>
	  <div style="width:80%">
	    <input id="distance" name="distance" type="range" value="<%= params[:distance].to_i %>" min="1" max="2000" step="1" class="search-detail-b"
	      oninput="document.getElementById('output2').value=this.value">
	      <div class="pull-right">
	      <span class="rage-output">~</span><output id="output2" class="rage-output"><%= params[:distance].to_i %></output><span class="rage-output">m</span>
	    </div>
	  </div>
	 <br><br>
	<div>
	<%= submit_tag "次へ進む", :class => "btn btn-default" %>
	</div>
	<% end %>

	<div style="margin-top:5px;">

		<div style="display:inline-block;">
			<%= form_tag("/course/#{@course.id}/point/area", method: :get) do %>
	      	<%= hidden_field_tag :price_min , params[:price_min] %>
	      	<%= hidden_field_tag :price_max , params[:price_max] %>
	      	<%= hidden_field_tag :distance_on, "false" %>
	      	<%= hidden_field_tag :distance, params[:distance] %>
	      	<%= hidden_field_tag :timezone, params[:timezone] %>
	      	<%= hidden_field_tag :small, params[:small] %>
	      	<%= hidden_field_tag :distance_spot, params[:distance_spot] %>
	      	<%= submit_tag "エリアを指定する", :class => "btn-stop" %>
	    	<% end %>
    	</div>

	</div>

  </div>

</div>

  <div class="pc_2">
    <%= render "partial/fotter_home" %>
  </div>


<%= render "partial/footer" %>
</mains>

