<%= render "partial/navbar" %>

<mains class="" id="main-collapse">


<% if !@spots.blank? %>

  <h4 class="text-center" style="margin:20px 0px;">
    どちらにしますか？
    <a href="" data-toggle="modal" data-target="#myModal-distance">
      <span style="font-size:12px;">
      <i class="fa fa-chevron-circle-down"></i>&nbsp;条件を絞る
      </span>
    </a>
  </h4> 

  <div class="modal fade" id="myModal-distance">
    <div class="modal-dialog">
      <div>
        <%= form_tag(demos_lunch_second_path, method: :get) do %>
          <%= hidden_field_tag :city_lunch, params[:city_lunch] %>
          <%= hidden_field_tag :price_lunch, params[:price_lunch] %>
          <%= hidden_field_tag :small_lunch, params[:small_lunch] %>
          <%= hidden_field_tag :spot1, @spot1.id %>
          <%= hidden_field_tag :large_second, params[:large_second] %>
          <div class="text-center" style="padding-top:30px;">
            <p>ジャンルを指定しますか？</p>
            <br>
            <div class="horizontal_scroll_search">
              <ul class="scroll_lst_search">
                <li class="scroll_item_search">
                    <span class="img_radio-cafe"> 
                  <%= radio_button_tag(:large_second, "昼カフェ", @cafe, {:id => "cafe"}) %>
                    <%= label_tag('cafe', "カフェ") %>
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="img_radio-park"> 
                  <%= radio_button_tag(:large_second, "公園", @park, {:id => "park"}) %>
                    <%= label_tag('park', "公園") %> 
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="img_radio-museum"> 
                  <%= radio_button_tag(:large_second, "ミュージアム", @museum, {:id => "museum"}) %>
                    <%= label_tag('museum', "ミュージアム") %> 
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="img_radio-shop"> 
                  <%= radio_button_tag(:large_second, "ショップ", @shop, {:id => "shop"}) %>
                    <%= label_tag('shop', "ショップ") %> 
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="img_radio-walk"> 
                  <%= radio_button_tag(:large_second, "食べ歩き", @walk, {:id => "walk"}) %>
                    <%= label_tag('walk', "食べ歩き") %> 
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="img_radio-active"> 
                  <%= radio_button_tag(:large_second, "昼アクティブ", @active, {:id => "active"}) %>
                    <%= label_tag('active', "アクティブ") %> 
                </span>
                </li>
              </ul>
            </div>
            <br><br>
            <p>２軒目の予算はいくらにしますか？</p>
            <br>
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10">
                <input id="price_dinner" name="price_dinner" type="range" value="<%= params[:price_second].to_i %>" min="1" max="8000" step="1" class="search-detail"
                  oninput="document.getElementById('output1').value=this.value">
                  <div class="pull-right">
                  <span class="rage-output2">~</span><output id="output1" class="rage-output2"><%= params[:price_second].to_i %></output><span class="rage-output2">円</span>
                </div>
              </div>
            </div>
            <br><br>
            <p>１軒目からの距離はどうしますか？</p>
            <br>
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10">
                <input id="distance_second" name="distance_second" type="range" value="<%= params[:distance_second].to_i %>" min="1" max="2000" step="1" class="search-detail"
                  oninput="document.getElementById('output2').value=this.value">
                  <div class="pull-right">
                  <span class="rage-output2">~</span><output id="output2" class="rage-output2"><%= params[:distance_second].to_i %></output><span class="rage-output2">m</span>
                </div>
              </div>
            </div>
            <br>
            <p>エリアを指定することもできます</p>
            <br>
            <div class="horizontal_scroll_search">
              <ul class="scroll_lst_search">
                <li class="scroll_item_search">
                    <span class="radio-city"> 
                  <%= radio_button_tag(:city_second, "恵比寿・代官山・中目黒", @ebisu, {:id => "ebisu"}) %>
                  <%= label_tag('ebisu', "恵比寿・代官山・中目黒") %>
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="radio-city"> 
                  <%= radio_button_tag(:city_second, "渋谷", @shibuya, {:id => "shibuya"}) %>
                  <%= label_tag('shibuya', "渋谷") %>
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="radio-city"> 
                  <%= radio_button_tag(:city_second, "原宿・表参道・青山", @harajuku, {:id => "harajuku"}) %>
                  <%= label_tag('harajuku', "原宿・表参道・青山") %>
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="radio-city"> 
                  <%= radio_button_tag(:city_second, "新宿", @shinjuku, {:id => "shinjuku"}) %>
                  <%= label_tag('shinjuku', "新宿") %>
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="radio-city"> 
                  <%= radio_button_tag(:city_second, "東京・丸の内・日本橋", @tokyo, {:id => "tokyo"}) %>
                  <%= label_tag('tokyo', "東京・丸の内・日本橋") %>
                </span>
                </li>
              </ul>
            </div>
            <br><br>
            <%= submit_tag "絞る", :class => "btn btn-default" %>
            <br>
            <button type="button" style="margin-right:10px;" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
            <br><br>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <%= form_tag(demos_lunch_search4_path, method: :get) do %>
    <%= hidden_field_tag :city_lunch, params[:city_lunch] %>
    <%= hidden_field_tag :price_lunch, params[:price_lunch] %>
    <%= hidden_field_tag :small_lunch, params[:small_lunch] %>
    <%= hidden_field_tag :large_second, params[:large_second] %>
    <%= hidden_field_tag :price_second, params[:price_second] %>
    <%= hidden_field_tag :distance_second, params[:distance_second] %>
    <%= hidden_field_tag :spot1, @spot1.id %>

    <% @spots.each do |spot| %>
      <div class="radio-city1">	
        <% @n = @n + 1 %>
        <% if @n == 1 %>	
          <%= radio_button_tag(:spot2, spot.id, true) %>
        <% else %>
          <%= radio_button_tag(:spot2, spot.id) %>
        <% end %>
        <label for="spot2_<%= spot.id %>">
          <%= image_tag spot.pictures.first.image.url, :class =>'img-course-result' %>
          <h3>
            <%= spot.title %><br><span style="font-size:10px;text-shadow: 0px 0px 0px black;"><i class="fa fa-map-marker" aria-hidden="true"></i><%= spot.station %></span>
          </h3> 
          <a href="" data-toggle="modal" data-target="#myModal<%= @n %>">
        	  <h4>
        	  	<i class="fa fa-info-circle" aria-hidden="true"></i>
        	  </h4>
          </a>
        </label>
      </div>
      <!-- モーダルウィンドウの中身 -->
      <div class="modal fade" id="myModal<%= @n %>">
        <div class="modal-dialog">
          <br>
          <%# 横スクロール写真 %>
          <div class="horizontal_scroll_wrap_content_spot">
            <ul class="scroll_lst_content">
              <% @pictures = spot.pictures.order(id: "ASC") %>
              <% @pictures.each do |picture| %>
                <li class="scroll_item_content">
                  <div class="scroll_item_inr_content">
                    <div class="scroll_item_thum_content">
                      <%# $$$spotから利用する写真をfitstなどで指定 %>
                      <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                    </div>
                    <div class="scroll_item_info_content_quote">
                      <p class="scroll_item_ttl_content_quote pull-right">
                        <% if !picture.url.blank? %>
                          <% if !picture.quote.blank? %>
                            <a href="<%= picture.url %>" target="_blank" class="gray">
                              出典&nbsp;<%= picture.quote %>
                            </a>
                          <% else %> 
                            <a href="<%= picture.url %>" target="_blank" class="gray">
                              出典&nbsp;
                            </a>
                          <% end %>
                        <% else %> 
                            &nbsp;
                        <% end %>  
                      </p>
                    </div>
                 </div>
                </li>
              <% end %>  
            </ul>
          </div>
          <div class="panel-body">
            <%# タイトル %>
            <div class="title-spot-show-min"><%= spot.title %></div>
            <%# 都道府県、エリア %>
            <p style="color: #CCCCCC;margin-top:5px 0px;font-size:12px">
              <i class="fa fa-map-marker" aria-hidden="true"></i><%= spot.city %>&nbsp;&nbsp;[<%= spot.station %>]
            </p> 
            <%# 見出し %>
            <% unless spot.heading.blank? %>
              <p class="aaa-min"><%= spot.heading %></p>
            <% end %>
            <%# Description %>
            <% unless spot.description.blank? %>
              <p style="font-size:12px"><%= spot.description %></p>
            <% end %>
            <%# 食べログ、rettyボタン等 %>
            <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
            <div class="info-box1-min">
              <% unless spot.tabelog.blank? %>
                <a href="<%= spot.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログで見る</a>
              <% end %>
              <% unless spot.retty.blank? %>
                <a href="<%= spot.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Rettyで見る</a>
              <% end %>
            </div>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
          </div>  
        </div>
      </div>
    <% end %>

    
      <div class="col-xs-12">
        <div class="text-center">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>	
    
    
      <div class="col-xs-12">
        <div class="text-center">
          <a href="javascript:;" onclick="koshin()" class=""><i class="fa fa-refresh"></i>&nbsp;Change</a>&nbsp;&nbsp;
          <%= submit_tag "次へ進む", :class => "btn btn-default" %>
        </div>
      </div>  


 


    

  <% end %>

<% else %>
  該当するスポットがありません
<% end %>

<script>
//更新
function koshin(){
	$('body,html').animate({
  scrollTop: 0},0);

  location.reload();
}
</script>


</mains>
