<%= render "partial/navbar" %>

<mains class="" id="main-collapse">

<%# スポットが１つの時 %>
<% if !@spot1.nil? %>
  <% if !@pictures1.nil? %>
    <% if @spot2.nil? %>


      <h3 class=" text-center">The&nbsp;course&nbsp;you&nbsp;made</h3>
        <%# コースの諸情報 %>
        <div class="result-info-box">
          <div class="result-info-box-1">
            <div class="result-info-btn">
              <i class="fa fa-sun-o"></i>
            </div>
            <div class="result-info">
              ランチから
            </div>
          </div>
          <div class="result-info-box-1">
            <div class="result-info-btn">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="result-info">
              <%= @spot1.city %>付近
            </div>
          </div>
          <div class="result-info-box-1">
            <div class="result-info-btn">
              <i class="fa fa-yen"></i>
            </div>
            <div class="result-info">
              ~<%= @spot1.price_dinner %>円/人
            </div>
          </div>
        </div>
        <%# 距離 %>
        <div class="distance-box">
          <%= @spot1.title %>
        </div>

      <%# 横スクロールアイキャッチ %>
      <div class="horizontal_scroll_wrap_result">
        <ul class="scroll_lst_result">
          <%# 画像とタイトル %>
          <li class="scroll_item_result">
              <div class="scroll_item_inr_result">
                <div class="frame-demo">
                  <%= image_tag @spot1.pictures.first.image.url, :class =>'img-demo-result' %>
                  <h3><%= @spot1.title %><br><span style="font-size:14px;text-shadow: 0px 0px 0px silver;"><i class="fa fa-map-marker" aria-hidden="true"></i><%= @spot1.station %></span></h3> 
                </div>
              </div>
          </li>
          <a href="" data-toggle="modal" data-target="#myModal1">
            <li class="scroll_item_result_maps">
              <div class="scroll_item_inr_result">     
                <div class="scroll_item_thum_result_info">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Info
                </div>           
              </div>
            </li>
          </a>
        </ul>
      </div>
      <!-- モーダルウィンドウの中身 -->
      <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
          <br>
          <%# 横スクロール写真 %>
          <div class="horizontal_scroll_wrap_content_spot">
            <ul class="scroll_lst_content">
              <% @pictures = @spot1.pictures.order(id: "ASC") %>
              <% @pictures.each do |picture| %>
                <li class="scroll_item_content">
                  <div class="scroll_item_inr_content">
                    <div class="scroll_item_thum_content">
                      <%# $$$spotから利用する写真をfitstなどで指定 %>
                      <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                    </div>
                    <div class="scroll_item_info_content_quote">
                      <p class="scroll_item_ttl_content_quote spot-show-p pull-right">
                        <% if !picture.url.blank? %>
                          <% if !picture.quote.blank? %>
                            <a href="<%= picture.url %>" target="_blank" class="gray">
                              出典&nbsp;<%= picture.quote %>
                            </a>
                          <% else %> 
                            <a href="<%= picture.url %>" target="_blank" class="gray">
                              出典&nbsp;
                            </a>
                          <% end %>
                        <% else %> 
                            &nbsp;
                        <% end %>  
                      </p>
                    </div>
                 </div>
                </li>
              <% end %>  
            </ul>
          </div>
          <div class="panel-body">
            <%# タイトル %>
            <div class="title-spot-show-min"><%= @spot1.title %></div>
            <%# 都道府県、エリア %>
            <p style="color: #CCCCCC;margin-top:5px 0px;font-size:12px">
              <i class="fa fa-map-marker" aria-hidden="true"></i><%= @spot1.city %>&nbsp;&nbsp;[<%= @spot1.station %>]
            </p> 
            <%# 見出し %>
            <% unless @spot1.heading.blank? %>
              <p class="aaa-min"><%= @spot1.heading %></p>
            <% end %>
            <%# Description %>
            <% unless @spot1.description.blank? %>
              <p style="font-size:12px"><%= @spot1.description %></p>
            <% end %>
            <%# 食べログ、rettyボタン等 %>
            <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
            <div class="info-box1-min">
              <% unless @spot1.tabelog.blank? %>
                <a href="<%= @spot1.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログで見る</a>
              <% end %>
              <% unless @spot1.retty.blank? %>
                <a href="<%= @spot1.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Rettyで見る</a>
              <% end %>
            </div>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
          </div>  
        </div>
      </div>
      <%# シェア %>
      <h4 class="text-center" style="margin:50px 0px 30px">シェアしていただけると幸いです</h4> 
      <div class="text-center">
        <a href="http://twitter.com/share?url=<%= url_for(only_path: false) %>&text=A.Date/あなたのデートに彩りを" target="_blank" class="tweet-btn"><i class="fa fa-twitter"></i> <span>Tweetする</span></a>
      </div>
      <%# コースを作り直す %>
      <h4 class="text-center" style="margin:50px 0px 30px">コースが気に入りませんでしたか？</h4> 
      <div class="text-center">
        <%= link_to root_path do %>
          <div class="raised4">
            コースを作り直す
          </div> 
        <% end %>
      </div>
      <%# マップ %>
      <div class="map-title-box">
        <div class="map-title">
          Map
          <br>
          <i class="fa fa-angle-double-down"></i>
        </div>
      </div>
      <div id="sample"></div>


    <%# スポットが２つの時 %>
    <% else %>
      <% if !@pictures2.nil? %>
        <% if @spot3.nil? %>
          

          <h3 class=" text-center">The&nbsp;course&nbsp;you&nbsp;made</h3>
          <%# コースの諸情報 %>
          <div class="result-info-box">
            <div class="result-info-box-1">
              <div class="result-info-btn">
                <i class="fa fa-sun-o"></i>
              </div>
              <div class="result-info">
                ランチから
              </div>
            </div>
            <div class="result-info-box-1">
              <div class="result-info-btn">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="result-info">
                <%= @spot1.city %>付近
              </div>
            </div>
            <div class="result-info-box-1">
              <div class="result-info-btn">
                <i class="fa fa-yen"></i>
              </div>
              <div class="result-info">
                ~<%= @spot1.price_dinner %>円/人
              </div>
            </div>
          </div>
          <%# 距離 %>
          <div class="distance-box">
            <%= @spot1.title %>
            <br>
            <span class="distance">↓ (<%= @distance_second %>m)</span>
            <br>
            <%= @spot2.title %>
          </div>


          <%# 横スクロールアイキャッチ %>
          <div class="horizontal_scroll_wrap_result">
            <ul class="scroll_lst_result">
              <%# 画像とタイトル %>
              <li class="scroll_item_result">
                  <div class="scroll_item_inr_result">
                    <div class="frame-demo">
                      <%= image_tag @spot1.pictures.first.image.url, :class =>'img-demo-result' %>
                      <h3>1,&nbsp;<%= @spot1.title %><br><span style="font-size:14px;text-shadow: 0px 0px 0px silver;"><i class="fa fa-map-marker" aria-hidden="true"></i><%= @spot1.station %></span></h3> 
                    </div>
                  </div>
              </li>
              <a href="" data-toggle="modal" data-target="#myModal1">
                <li class="scroll_item_result_maps">
                  <div class="scroll_item_inr_result">     
                    <div class="scroll_item_thum_result_info">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Info
                    </div>           
                  </div>
                </li>
              </a>
            </ul>
          </div>
          <!-- モーダルウィンドウの中身 -->
          <div class="modal fade" id="myModal1">
            <div class="modal-dialog">
              <br>
              <%# 横スクロール写真 %>
              <div class="horizontal_scroll_wrap_content_spot">
                <ul class="scroll_lst_content">
                  <% @pictures = @spot1.pictures.order(id: "ASC") %>
                  <% @pictures.each do |picture| %>
                    <li class="scroll_item_content">
                      <div class="scroll_item_inr_content">
                        <div class="scroll_item_thum_content">
                          <%# $$$spotから利用する写真をfitstなどで指定 %>
                          <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                        </div>
                        <div class="scroll_item_info_content_quote">
                          <p class="scroll_item_ttl_content_quote spot-show-p pull-right">
                            <% if !picture.url.blank? %>
                              <% if !picture.quote.blank? %>
                                <a href="<%= picture.url %>" target="_blank" class="gray">
                                  出典&nbsp;<%= picture.quote %>
                                </a>
                              <% else %> 
                                <a href="<%= picture.url %>" target="_blank" class="gray">
                                  出典&nbsp;
                                </a>
                              <% end %>
                            <% else %> 
                                &nbsp;
                            <% end %>  
                          </p>
                        </div>
                     </div>
                    </li>
                  <% end %>  
                </ul>
              </div>
              <div class="panel-body">
                <%# タイトル %>
                <div class="title-spot-show-min"><%= @spot1.title %></div>
                <%# 都道府県、エリア %>
                <p style="color: #CCCCCC;margin-top:5px 0px;font-size:12px">
                  <i class="fa fa-map-marker" aria-hidden="true"></i><%= @spot1.city %>&nbsp;&nbsp;[<%= @spot1.station %>]
                </p> 
                <%# 見出し %>
                <% unless @spot1.heading.blank? %>
                  <p class="aaa-min"><%= @spot1.heading %></p>
                <% end %>
                <%# Description %>
                <% unless @spot1.description.blank? %>
                  <p style="font-size:12px"><%= @spot1.description %></p>
                <% end %>
                <%# 食べログ、rettyボタン等 %>
                <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
                <div class="info-box1-min">
                  <% unless @spot1.tabelog.blank? %>
                    <a href="<%= @spot1.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログで見る</a>
                  <% end %>
                  <% unless @spot1.retty.blank? %>
                    <a href="<%= @spot1.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Rettyで見る</a>
                  <% end %>
                </div>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
              </div>  
            </div>
          </div>
          <%# 横スクロールアイキャッチ %>
          <div class="horizontal_scroll_wrap_result">
            <ul class="scroll_lst_result">
              <%# 画像とタイトル %>
              <li class="scroll_item_result">
                  <div class="scroll_item_inr_result">
                    <div class="frame-demo">
                      <%= image_tag @spot2.pictures.first.image.url, :class =>'img-demo-result' %>
                      <h3>2,&nbsp;<%= @spot2.title %><br><span style="font-size:14px;text-shadow: 0px 0px 0px silver;"><i class="fa fa-map-marker" aria-hidden="true"></i><%= @spot2.station %></span></h3> 
                    </div>
                  </div>
              </li>
              <a href="" data-toggle="modal" data-target="#myModal2">
                <li class="scroll_item_result_maps">
                  <div class="scroll_item_inr_result">     
                    <div class="scroll_item_thum_result_info">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Info
                    </div>           
                  </div>
                </li>
              </a>
            </ul>
          </div>
          <!-- モーダルウィンドウの中身 -->
          <div class="modal fade" id="myModal2">
            <div class="modal-dialog">
              <br>
              <%# 横スクロール写真 %>
              <div class="horizontal_scroll_wrap_content_spot">
                <ul class="scroll_lst_content">
                  <% @pictures = @spot2.pictures.order(id: "ASC") %>
                  <% @pictures.each do |picture| %>
                    <li class="scroll_item_content">
                      <div class="scroll_item_inr_content">
                        <div class="scroll_item_thum_content">
                          <%# $$$spotから利用する写真をfitstなどで指定 %>
                          <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                        </div>
                        <div class="scroll_item_info_content_quote">
                          <p class="scroll_item_ttl_content_quote spot-show-p pull-right">
                            <% if !picture.url.blank? %>
                              <% if !picture.quote.blank? %>
                                <a href="<%= picture.url %>" target="_blank" class="gray">
                                  出典&nbsp;<%= picture.quote %>
                                </a>
                              <% else %> 
                                <a href="<%= picture.url %>" target="_blank" class="gray">
                                  出典&nbsp;
                                </a>
                              <% end %>
                            <% else %> 
                                &nbsp;
                            <% end %>  
                          </p>
                        </div>
                     </div>
                    </li>
                  <% end %>  
                </ul>
              </div>
              <div class="panel-body">
                <%# タイトル %>
                <div class="title-spot-show-min"><%= @spot2.title %></div>
                <%# 都道府県、エリア %>
                <p style="color: #CCCCCC;margin-top:5px 0px;font-size:12px">
                  <i class="fa fa-map-marker" aria-hidden="true"></i><%= @spot2.city %>&nbsp;&nbsp;[<%= @spot2.station %>]
                </p> 
                <%# 見出し %>
                <% unless @spot2.heading.blank? %>
                  <p class="aaa-min"><%= @spot2.heading %></p>
                <% end %>
                <%# Description %>
                <% unless @spot2.description.blank? %>
                  <p style="font-size:12px"><%= @spot2.description %></p>
                <% end %>
                <%# 食べログ、rettyボタン等 %>
                <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
                <div class="info-box1-min">
                  <% unless @spot2.tabelog.blank? %>
                    <a href="<%= @spot2.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログで見る</a>
                  <% end %>
                  <% unless @spot2.retty.blank? %>
                    <a href="<%= @spot2.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Rettyで見る</a>
                  <% end %>
                </div>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
              </div>  
            </div>
          </div>
          <%# シェア %>
          <h4 class="text-center" style="margin:50px 0px 30px">シェアしていただけると幸いです</h4> 
          <div class="text-center">
            <a href="http://twitter.com/share?url=<%= url_for(only_path: false) %>&text=A.Date/あなたのデートに彩りを" target="_blank" class="tweet-btn"><i class="fa fa-twitter"></i> <span>Tweetする</span></a>
          </div>
          <%# コースを作り直す %>
          <h4 class="text-center" style="margin:50px 0px 30px">コースが気に入りませんでしたか？</h4> 
          <div class="text-center">
            <%= link_to root_path do %>
              <div class="raised4">
                コースを作り直す
              </div> 
            <% end %>
          </div>
          <%# マップ %>
          <div class="map-title-box">
            <div class="map-title">
              Map
              <br>
              <i class="fa fa-angle-double-down"></i>
            </div>
          </div>
          <div id="sample"></div>


        <%# スポットが3つの時 %>
        <% else %>
          <% if !@pictures3.nil? %>
            

            <h3 class=" text-center">The&nbsp;course&nbsp;you&nbsp;made</h3>
            <%# コースの諸情報 %>
            <div class="result-info-box">
              <div class="result-info-box-1">
                <div class="result-info-btn">
                  <i class="fa fa-sun-o"></i>
                </div>
                <div class="result-info">
                  ランチから
                </div>
              </div>
              <div class="result-info-box-1">
                <div class="result-info-btn">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="result-info">
                  <%= @spot1.city %>付近
                </div>
              </div>
              <div class="result-info-box-1">
                <div class="result-info-btn">
                  <i class="fa fa-yen"></i>
                </div>
                <div class="result-info">
                  ~<%= @spot1.price_dinner %>円/人
                </div>
              </div>
            </div>
            <%# 距離 %>
            <div class="distance-box">
              <%= @spot1.title %>
              <br>
              <span class="distance">↓ (<%= @distance_second %>m)</span>
              <br>
              <%= @spot2.title %>
              <br>
              <span class="distance">↓ (<%= @distance_third %>m)</span>
              <br>
              <%= @spot3.title %>
            </div>

            <%# 横スクロールアイキャッチ %>
            <div class="horizontal_scroll_wrap_result">
              <ul class="scroll_lst_result">
                <%# 画像とタイトル %>
                <li class="scroll_item_result">
                    <div class="scroll_item_inr_result">
                      <div class="frame-demo">
                        <%= image_tag @spot1.pictures.first.image.url, :class =>'img-demo-result' %>
                        <h3>1,&nbsp;<%= @spot1.title %><br><span style="font-size:14px;text-shadow: 0px 0px 0px silver;"><i class="fa fa-map-marker" aria-hidden="true"></i><%= @spot1.station %></span></h3> 
                      </div>
                    </div>
                </li>
                <a href="" data-toggle="modal" data-target="#myModal1">
                  <li class="scroll_item_result_maps">
                    <div class="scroll_item_inr_result">     
                      <div class="scroll_item_thum_result_info">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Info
                      </div>           
                    </div>
                  </li>
                </a>
              </ul>
            </div>
            <!-- モーダルウィンドウの中身 -->
            <div class="modal fade" id="myModal1">
              <div class="modal-dialog">
                <br>
                <%# 横スクロール写真 %>
                <div class="horizontal_scroll_wrap_content_spot">
                  <ul class="scroll_lst_content">
                    <% @pictures = @spot1.pictures.order(id: "ASC") %>
                    <% @pictures.each do |picture| %>
                      <li class="scroll_item_content">
                        <div class="scroll_item_inr_content">
                          <div class="scroll_item_thum_content">
                            <%# $$$spotから利用する写真をfitstなどで指定 %>
                            <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                          </div>
                          <div class="scroll_item_info_content_quote">
                            <p class="scroll_item_ttl_content_quote spot-show-p pull-right">
                              <% if !picture.url.blank? %>
                                <% if !picture.quote.blank? %>
                                  <a href="<%= picture.url %>" target="_blank" class="gray">
                                    出典&nbsp;<%= picture.quote %>
                                  </a>
                                <% else %> 
                                  <a href="<%= picture.url %>" target="_blank" class="gray">
                                    出典&nbsp;
                                  </a>
                                <% end %>
                              <% else %> 
                                  &nbsp;
                              <% end %>  
                            </p>
                          </div>
                       </div>
                      </li>
                    <% end %>  
                  </ul>
                </div>
                <div class="panel-body">
                  <%# タイトル %>
                  <div class="title-spot-show-min"><%= @spot1.title %></div>
                  <%# 都道府県、エリア %>
                  <p style="color: #CCCCCC;margin-top:5px 0px;font-size:12px">
                    <i class="fa fa-map-marker" aria-hidden="true"></i><%= @spot1.city %>&nbsp;&nbsp;[<%= @spot1.station %>]
                  </p> 
                  <%# 見出し %>
                  <% unless @spot1.heading.blank? %>
                    <p class="aaa-min"><%= @spot1.heading %></p>
                  <% end %>
                  <%# Description %>
                  <% unless @spot1.description.blank? %>
                    <p style="font-size:12px"><%= @spot1.description %></p>
                  <% end %>
                  <%# 食べログ、rettyボタン等 %>
                  <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
                  <div class="info-box1-min">
                    <% unless @spot1.tabelog.blank? %>
                      <a href="<%= @spot1.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログで見る</a>
                    <% end %>
                    <% unless @spot1.retty.blank? %>
                      <a href="<%= @spot1.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Rettyで見る</a>
                    <% end %>
                  </div>
                  <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
                </div>  
              </div>
            </div>
            <%# 横スクロールアイキャッチ %>
            <div class="horizontal_scroll_wrap_result">
              <ul class="scroll_lst_result">
                <%# 画像とタイトル %>
                <li class="scroll_item_result">
                    <div class="scroll_item_inr_result">
                      <div class="frame-demo">
                        <%= image_tag @spot2.pictures.first.image.url, :class =>'img-demo-result' %>
                        <h3>2,&nbsp;<%= @spot2.title %><br><span style="font-size:14px;text-shadow: 0px 0px 0px silver;"><i class="fa fa-map-marker" aria-hidden="true"></i><%= @spot2.station %></span></h3> 
                      </div>
                    </div>
                </li>
                <a href="" data-toggle="modal" data-target="#myModal2">
                  <li class="scroll_item_result_maps">
                    <div class="scroll_item_inr_result">     
                      <div class="scroll_item_thum_result_info">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Info
                      </div>           
                    </div>
                  </li>
                </a>
              </ul>
            </div>
            <!-- モーダルウィンドウの中身 -->
            <div class="modal fade" id="myModal2">
              <div class="modal-dialog">
                <br>
                <%# 横スクロール写真 %>
                <div class="horizontal_scroll_wrap_content_spot">
                  <ul class="scroll_lst_content">
                    <% @pictures = @spot2.pictures.order(id: "ASC") %>
                    <% @pictures.each do |picture| %>
                      <li class="scroll_item_content">
                        <div class="scroll_item_inr_content">
                          <div class="scroll_item_thum_content">
                            <%# $$$spotから利用する写真をfitstなどで指定 %>
                            <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                          </div>
                          <div class="scroll_item_info_content_quote">
                            <p class="scroll_item_ttl_content_quote spot-show-p pull-right">
                              <% if !picture.url.blank? %>
                                <% if !picture.quote.blank? %>
                                  <a href="<%= picture.url %>" target="_blank" class="gray">
                                    出典&nbsp;<%= picture.quote %>
                                  </a>
                                <% else %> 
                                  <a href="<%= picture.url %>" target="_blank" class="gray">
                                    出典&nbsp;
                                  </a>
                                <% end %>
                              <% else %> 
                                  &nbsp;
                              <% end %>  
                            </p>
                          </div>
                       </div>
                      </li>
                    <% end %>  
                  </ul>
                </div>
                <div class="panel-body">
                  <%# タイトル %>
                  <div class="title-spot-show-min"><%= @spot2.title %></div>
                  <%# 都道府県、エリア %>
                  <p style="color: #CCCCCC;margin-top:5px 0px;font-size:12px">
                    <i class="fa fa-map-marker" aria-hidden="true"></i><%= @spot2.city %>&nbsp;&nbsp;[<%= @spot2.station %>]
                  </p> 
                  <%# 見出し %>
                  <% unless @spot2.heading.blank? %>
                    <p class="aaa-min"><%= @spot2.heading %></p>
                  <% end %>
                  <%# Description %>
                  <% unless @spot2.description.blank? %>
                    <p style="font-size:12px"><%= @spot2.description %></p>
                  <% end %>
                  <%# 食べログ、rettyボタン等 %>
                  <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
                  <div class="info-box1-min">
                    <% unless @spot2.tabelog.blank? %>
                      <a href="<%= @spot2.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログで見る</a>
                    <% end %>
                    <% unless @spot2.retty.blank? %>
                      <a href="<%= @spot2.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Rettyで見る</a>
                    <% end %>
                  </div>
                  <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
                </div>  
              </div>
            </div>
            <%# 横スクロールアイキャッチ %>
            <div class="horizontal_scroll_wrap_result">
              <ul class="scroll_lst_result">
                <%# 画像とタイトル %>
                <li class="scroll_item_result">
                    <div class="scroll_item_inr_result">
                      <div class="frame-demo">
                        <%= image_tag @spot3.pictures.first.image.url, :class =>'img-demo-result' %>
                        <h3>2,&nbsp;<%= @spot3.title %><br><span style="font-size:14px;text-shadow: 0px 0px 0px silver;"><i class="fa fa-map-marker" aria-hidden="true"></i><%= @spot3.station %></span></h3> 
                      </div>
                    </div>
                </li>
                <a href="" data-toggle="modal" data-target="#myModal3">
                  <li class="scroll_item_result_maps">
                    <div class="scroll_item_inr_result">     
                      <div class="scroll_item_thum_result_info">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Info
                      </div>           
                    </div>
                  </li>
                </a>
              </ul>
            </div>
            <!-- モーダルウィンドウの中身 -->
            <div class="modal fade" id="myModal3">
              <div class="modal-dialog">
                <br>
                <%# 横スクロール写真 %>
                <div class="horizontal_scroll_wrap_content_spot">
                  <ul class="scroll_lst_content">
                    <% @pictures = @spot3.pictures.order(id: "ASC") %>
                    <% @pictures.each do |picture| %>
                      <li class="scroll_item_content">
                        <div class="scroll_item_inr_content">
                          <div class="scroll_item_thum_content">
                            <%# $$$spotから利用する写真をfitstなどで指定 %>
                            <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                          </div>
                          <div class="scroll_item_info_content_quote">
                            <p class="scroll_item_ttl_content_quote spot-show-p pull-right">
                              <% if !picture.url.blank? %>
                                <% if !picture.quote.blank? %>
                                  <a href="<%= picture.url %>" target="_blank" class="gray">
                                    出典&nbsp;<%= picture.quote %>
                                  </a>
                                <% else %> 
                                  <a href="<%= picture.url %>" target="_blank" class="gray">
                                    出典&nbsp;
                                  </a>
                                <% end %>
                              <% else %> 
                                  &nbsp;
                              <% end %>  
                            </p>
                          </div>
                       </div>
                      </li>
                    <% end %>  
                  </ul>
                </div>
                <div class="panel-body">
                  <%# タイトル %>
                  <div class="title-spot-show-min"><%= @spot3.title %></div>
                  <%# 都道府県、エリア %>
                  <p style="color: #CCCCCC;margin-top:5px 0px;font-size:12px">
                    <i class="fa fa-map-marker" aria-hidden="true"></i><%= @spot3.city %>&nbsp;&nbsp;[<%= @spot3.station %>]
                  </p> 
                  <%# 見出し %>
                  <% unless @spot3.heading.blank? %>
                    <p class="aaa-min"><%= @spot3.heading %></p>
                  <% end %>
                  <%# Description %>
                  <% unless @spot3.description.blank? %>
                    <p style="font-size:12px"><%= @spot3.description %></p>
                  <% end %>
                  <%# 食べログ、rettyボタン等 %>
                  <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
                  <div class="info-box1-min">
                    <% unless @spot3.tabelog.blank? %>
                      <a href="<%= @spot3.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログで見る</a>
                    <% end %>
                    <% unless @spot3.retty.blank? %>
                      <a href="<%= @spot3.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Rettyで見る</a>
                    <% end %>
                  </div>
                  <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
                </div>  
              </div>
            </div>
            <%# シェア %>
            <h4 class="text-center" style="margin:50px 0px 30px">シェアしていただけると幸いです</h4> 
            <div class="text-center">
              <a href="http://twitter.com/share?url=<%= url_for(only_path: false) %>&text=A.Date/あなたのデートに彩りを" target="_blank" class="tweet-btn"><i class="fa fa-twitter"></i> <span>Tweetする</span></a>
            </div>
            <%# コースを作り直す %>
            <h4 class="text-center" style="margin:50px 0px 30px">コースが気に入りませんでしたか？</h4> 
            <div class="text-center">
              <%= link_to root_path do %>
                <div class="raised4">
                  コースを作り直す
                </div> 
              <% end %>
            </div>
            <%# マップ %>
            <div class="map-title-box">
              <div class="map-title">
                Map
                <br>
                <i class="fa fa-angle-double-down"></i>
              </div>
            </div>
            <div id="sample"></div>



          <% else %>
	           該当するデートコースはありません
          <% end %>
        <% end %>
      <% else %>
	       該当するデートコースはありません
      <% end %>
    <% end %>
  <% else %>
       該当するデートコースはありません
  <% end %>
<% else %>
  該当するデートコースはありません
<% end %>



<script type="text/javascript">
  var map;
var marker = [];
var infoWindow = [];
var markerData = [ // マーカーを立てる場所名・緯度・経度

<% if !@spot1.nil? %>
<% if @spot2.nil? %>
  {
       name: "<%= @spot1.title %>",
       lat: <%= @spot1.latitude %>,
        lng: <%= @spot1.longitude %>,
  }, 
<% else %>
<% if @spot3.nil? %>
  {
       name: "<%= @spot1.title %>",
       lat: <%= @spot1.latitude %>,
        lng: <%= @spot1.longitude %>,
  }, 
  {
       name: "<%= @spot2.title %>",
       lat: <%= @spot2.latitude %>,
        lng: <%= @spot2.longitude %>,
  }, 
<% else %>
  {
       name: "<%= @spot1.title %>",
       lat: <%= @spot1.latitude %>,
        lng: <%= @spot1.longitude %>,
  }, 
  {
       name: "<%= @spot2.title %>",
       lat: <%= @spot2.latitude %>,
        lng: <%= @spot2.longitude %>,
  }, 
  {
       name: "<%= @spot3.title %>",
       lat: <%= @spot3.latitude %>,
        lng: <%= @spot3.longitude %>,
  }, 
<% end %>
<% end %>
<% end %>

];
 
function initMap() {
 // 地図の作成
    var mapLatLng = new google.maps.LatLng({lat: markerData[0]['lat'], lng: markerData[0]['lng']}); // 緯度経度のデータ作成
   map = new google.maps.Map(document.getElementById('sample'), { // #sampleに地図を埋め込む
    gestureHandling: 'greedy',
     center: mapLatLng, // 地図の中心を指定
      zoom: 15 // 地図のズームを指定
   });
 
 // マーカー毎の処理
 for (var i = 0; i < markerData.length; i++) {
        markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']}); // 緯度経度のデータ作成
        marker[i] = new google.maps.Marker({ // マーカーの追加
         position: markerLatLng, // マーカーを立てる位置を指定
            map: map // マーカーを立てる地図を指定
       });
 
     infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
         content: '<div class="sample">' + markerData[i]['name'] + '</div>' // 吹き出しに表示する内容
       });
 
     markerEvent(i); // マーカーにクリックイベントを追加
 }
 
   
}
 
// マーカーにクリックイベントを追加
function markerEvent(i) {
    marker[i].addListener('click', function() { // マーカーをクリックしたとき
      infoWindow[i].open(map, marker[i]); // 吹き出しの表示
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1SfOngJW_fXuuUcTf9-0BTn9Io38U10A&callback=initMap" async defer></script>



</mains>
