<% @courses.each.with_index(1) do |course, i| %>
  <% unless course.points.size == 0 %>
    <% @point = Point.where(course_id: course.id).order(number: "ASC").first %>
      <div class="radio-city-b smoke">  
        <%= link_to "/seeks/course/#{course.id}" do %>
          <%= image_tag @point.spot.pictures.first.image.url, :class =>'img-course-result' %>
          <h4>
            <% if (user_signed_in?) && current_user.id == course.user_id %>
              <div style="line-height:1.3;">
                <%= course.title %>
              </div>
              <div style="font-size:12px;color:#CCCCCC;margin-top:5px;">
                <i class="fas fa-map-marker-alt"></i>&nbsp;<%= course.city %>
              </div>
            <% else %>
              <% if course.kind == "提案" %>    
                <div style="line-height:1.3;">
                  <%= course.title %>
                </div>
                <div style="font-size:12px;color:#CCCCCC;">
                  <i class="fas fa-map-marker-alt"></i>&nbsp;<%= course.city %>
                </div>
              <% else %>         
                <div style="line-height:1.3;">
                  <%= course.city %>デート
                </div>
                <div style="font-size:12px;color:#CCCCCC;margin-top:5px;">
                  <i class="fas fa-map-marker-alt"></i>&nbsp;<%= course.city %>
                </div>
              <% end %>
            <% end %>   
          </h4>
          <h3>
            <% if (user_signed_in?) && current_user.id == course.user_id %>
              <div style="">
                <span>
                  <%= image_tag course.user.image, :class => "img-circle img_user_course" %>
                </span>
                <span style="text-shadow:none;font-size:12px;color:#CCCCCC;">
                  <%= course.user.nickname %>(あなたのプランです)
                </span>
              </div>     
            <% else %>
              <% if course.kind == "提案" %>
                <div style="">
                  <span>
                    <%= image_tag course.user.image, :class => "img-circle img_user_course" %>
                  </span>
                  <span style="text-shadow:none;font-size:12px;color:#CCCCCC;">
                    <%= course.user.nickname %>
                  </span>
                </div>  
              <% else %>
                <div style="">
                  <span>
                    <%= image_tag "avatar-default.png", :class => "img-circle img_user_course" %>
                  </span>
                  <span style="text-shadow:none;font-size:12px;color:#CCCCCC;">
                    ユーザー
                  </span>
                </div>  
              <% end %>
            <% end %>   
          </h3>
          <%#画像全体リンク踏めるように%>
          <p></p>
        <% end %>
        <%#いいねボタン%>
        <h2>
          <% if user_signed_in? %>
            <span id="min-of-<%= course.id %>">
              <%= render partial: 'loves/min', locals: { course: course, loves: @loves } %>
            </span>
          <% else %>
            <% love_count = Love.where(course_id: course.id).count %>
            <span id="btn-like-off-min">
              <i class="fas fa-heart"></i>&nbsp;<span style="font-size:14px;"><%= love_count %></span>
            </span>
          <% end %>
        </h2>
      </div>
    
  <% end %>
<% end %>