<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

    <div class="img_about05">
      <h4><span class="what-white">あなたにデートコースを提案します</span></h4>
    </div>

    <div class="box-what3">
      <div class="text-center" style="padding:0px 40px;color:black;">
        <br><br>
        <p>A.Dateがあなたの条件に合ったデートコースをご提案します。<br>あなたのデートの条件をお伝えください。</p>
        <p style="font-size:10px;">※東京エリアのみの対応となります</p>
      </div>
    </div>

    <div class="box-what3">
      <div class="text-center" style="padding:30px 0px 0px;">
        <h3><span class="what">Example</span></h3>
        <div style="padding:30px 0px 0px;">
          <div class="box-feature1">
            <%= image_tag "man.png", :class =>'img-feature' %>
          </div>
          <div class="box-feature2" style="border-radius:5px;border:1px solid black;padding:10px 10px;">
            <p style="font-size:12px;color:black;">恵比寿駅で<br>仕事終わり19時から終電まで<br>1人あたり8000円以内<br>高級感があって恵比寿っぽいけどコスパがいいお店を教えて欲しい。そのあとはお洒落なバーとかいいなあ。</p>
          </div>
        </div>
        <div style="font-size:30px;color:black;">
          <i class="fas fa-chevron-down"></i>
        </div>
        <a href="https://www.a-date.jp/seeks/result?utf8=✓&ss%5B%5D=378&ss%5B%5D=413">
          <% @spot1 = Spot.find_by(title: "Ubcra") %>
          <div class="radio-city-b smoke">  
              <%= image_tag @spot1.pictures.first.image.url, :class =>'img-course-result' %>
              <h1>
                京野菜ディナーのあとはインターホンを押して入る隠れ家的バーの恵比寿王道デート
                <br>
                <span style="font-size:12px;color:rgba(255, 255, 255, 0.7);">https://www.a-date.jp/seeks/result</span>
              </h1>
          </div>
        </a>
        <div style="padding:50px 0px 0px;">
          <div class="box-feature1">
            <%= image_tag "man.png", :class =>'img-feature' %>
          </div>
          <div class="box-feature2" style="border-radius:5px;border:1px solid black;padding:10px 10px;">
            <p style="font-size:12px;color:black;">渋谷駅付近<br>14時から<br>1人あたり5000円以内<br>初デートにぴったりなランチデートを提案してほしい。</p>
          </div>
        </div>
        <div style="font-size:30px;color:black;">
          <i class="fas fa-chevron-down"></i>
        </div>
        <a href="https://www.a-date.jp/seeks/result?utf8=✓&ss%5B%5D=449&ss%5B%5D=749&ss%5B%5D=1028">
          <% @spot2 = Spot.find_by(title: "THE THEATER TABLE") %>
          <div class="radio-city-b smoke">  
              <%= image_tag @spot2.pictures.first.image.url, :class =>'img-course-result' %>
              <h1>
                渋谷でおしゃれランチ、盛り上がったらプラネタリウムを観に行ってもいいかも
                <br>
                <span style="font-size:12px;color:rgba(255, 255, 255, 0.7);">https://www.a-date.jp/seeks/result</span>
              </h1>
          </div>
        </a>
        <div style="padding:50px 0px 0px;">
          <div class="box-feature1">
            <%= image_tag "man.png", :class =>'img-feature' %>
          </div>
          <div class="box-feature2" style="border-radius:5px;border:1px solid black;padding:10px 10px;">
            <p style="font-size:12px;color:black;">池袋駅付近<br>12時から21時<br>1人あたり10000円以内<br>彼女と昼からカジュアルにデートしたい。</p>
          </div>
        </div>
        <div style="font-size:30px;color:black;">
          <i class="fas fa-chevron-down"></i>
        </div>
        <a href="https://www.a-date.jp/seeks/result?utf8=✓&ss%5B%5D=1394&ss%5B%5D=1316&ss%5B%5D=1315&ss%5B%5D=1305">
          <% @spot3 = Spot.find_by(title: "ラシーヌ ファーム トゥー パーク") %>
          <div class="radio-city-b smoke">  
              <%= image_tag @spot3.pictures.first.image.url, :class =>'img-course-result' %>
              <h1>
                芝生いっぱいの公園の前でランチ、夜はボーリングからの焼肉のアクティブデート
                <br>
                <span style="font-size:12px;color:rgba(255, 255, 255, 0.7);">https://www.a-date.jp/seeks/result</span>
              </h1>
          </div>
        </a>
      </div>
    </div>

    <div class="box-what3">
      <div class="text-center" style="padding:60px 0px;">
        <h3><span class="what">Feature</span></h3>
        <div style="padding:20px 0px;">
          <div class="box-feature1">
            <%= image_tag "user.png", :class =>'img-feature' %>
          </div>
          <div class="box-feature2">
            <h4 style="font-size:15px;">面倒な会員登録なし</h4>
            <p style="font-size:12px;">会員登録することなく、LINEやメールで提案してもらえます。</p>
          </div>
        </div>
        <div style="padding:20px 0px;">
          <div class="box-feature1">
            <%= image_tag "thumb.png", :class =>'img-feature' %>
          </div>
          <div class="box-feature2">
            <h4 style="font-size:15px;">あなただけのためのコース</h4>
            <p style="font-size:12px;">A.Dateはあなたの希望に沿ったコースをお作りします。</p>
          </div>
        </div>
        <div style="padding:20px 0px;">
          <div class="box-feature1">
            <%= image_tag "clock.png", :class =>'img-feature' %>
          </div>
          <div class="box-feature2">
            <h4 style="font-size:15px;">30分以内にご提案</h4>
            <p style="font-size:12px;">自分でプランを作る時、１時間以上かかるなんて当たり前。A.Dateは30分以内にご提案させていただきます。</p>
          </div>
        </div>
      </div>
    </div>

<% if (user_signed_in?) %>
  <% if current_user.authority == "manager" %>

    <div class="box-what3">
      <div class="text-center" style="padding:0px 0px 10px;">
        <h3><span class="what">Course</span></h3>
        <p style="padding-top:10px;color:black;">A.Dateが実際にご提案したデートプランです。</p>
        <br>
        <% @courses.each.with_index(1) do |course, i| %>
          <% @point = Point.where(course_id: course.id).order(number: "ASC").first %>
          <%= link_to "/seeks/course/#{course.id}" do %>
            <div class="radio-city-b smoke">  
                <%= image_tag @point.spot.pictures.first.image.url, :class =>'img-course-result' %>
                <h1>
                  <%= course.title %>
                </h1>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="fotter_result">
      <div style="text-align:center;font-size:20px;color:black;">
        <a href="/" class="site-title black" style="letter-spacing:0em;">A.Date</a>
        <p>あなたの代わりにデートコースを</p>
      </div>
      <div style="text-align:center;">
        <a class="btn-sns" href="https://www.instagram.com/adate_ig/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="btn-sns" href="https://www.facebook.com/adate.fa/" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn-sns" href="https://twitter.com/adate_tw/" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>

  <% end %>
<% end %>

    <div class="img_about06">
	  <h4>
		<span class="what-white"><span class="site-title">Use&nbsp;&nbsp;A.Date</span></span>
	  </h4>
      <h4>
      	<%= link_to seeks_method_path do %>
          <div class="raised-trans">
            デートコースを提案してもらう
          </div>
        <% end %>
      </h4>
    </div>

</mains>

