<%= render "partial/navbar" %>
<main class="" id="main-collapse">

    <% if params[:ss].blank? %>
      <p class="text-center" style="color:black;">まずはエリアを決めましょう</p>
      <h4 class="text-center">どこでデートしますか？</h4>
    <% else %>
      <p class="text-center" style="color:black;"><%= @ss.size + 1 %>軒目のエリアを決めましょう</p>
      <h4 class="text-center"><%= @ss.size + 1 %>軒目のエリアはどこにしますか？</h4>
    <% end %>
  	<br>

	  <%= form_tag(seeks_category_path, method: :get) do %>
    	<%= hidden_field_tag :city, "恵比寿・代官山・中目黒" %>
    	<%= hidden_field_tag :price_min , params[:price_min] %>
    	<%= hidden_field_tag :price_max , params[:price_max] %>
    	<%= hidden_field_tag :distance_on, params[:distance_on] %>
    	<%= hidden_field_tag :distance, params[:distance] %>
    	<%= hidden_field_tag :timezone, params[:timezone] %>
    	<%= hidden_field_tag :small, params[:small] %>
      <% unless params[:ss].blank? %>
        <%= hidden_field_tag 'ss[]', params[:ss] %>
      <% end %>
    	<%= button_tag :type => "submit", :class =>"button-bb" do %>
      	<div class="box-area-img">
      		<%= image_tag "ebisu00.jpg", :class =>'img-area' %>
      		<div class="text-area">
      			恵比寿・代官山・中目黒
      		</div>
        </div>
  	  <% end %>
    <% end %>


    <%= form_tag(seeks_category_path, method: :get) do %>
    	<%= hidden_field_tag :city, "渋谷" %>
    	<%= hidden_field_tag :price_min , params[:price_min] %>
    	<%= hidden_field_tag :price_max , params[:price_max] %>
    	<%= hidden_field_tag :distance_on, params[:distance_on] %>
    	<%= hidden_field_tag :distance, params[:distance] %>
    	<%= hidden_field_tag :timezone, params[:timezone] %>
    	<%= hidden_field_tag :small, params[:small] %>
      <% unless params[:ss].blank? %>
        <%= hidden_field_tag 'ss[]', params[:ss] %>
      <% end %>
    	<%= button_tag :type => "submit", :class =>"button-bb" do %>
      	<div class="box-area-img">
      		<%= image_tag "shibuya00.jpg", :class =>'img-area' %>
      		<div class="text-area">
      			渋谷
      		</div>
        </div>
    	<% end %>
    <% end %>

    <%= form_tag(seeks_category_path, method: :get) do %>
    	<%= hidden_field_tag :city, "原宿・表参道・青山" %>
    	<%= hidden_field_tag :price_min , params[:price_min] %>
    	<%= hidden_field_tag :price_max , params[:price_max] %>
    	<%= hidden_field_tag :distance_on, params[:distance_on] %>
    	<%= hidden_field_tag :distance, params[:distance] %>
    	<%= hidden_field_tag :timezone, params[:timezone] %>
    	<%= hidden_field_tag :small, params[:small] %>
      <% unless params[:ss].blank? %>
        <%= hidden_field_tag 'ss[]', params[:ss] %>
      <% end %>
    	<%= button_tag :type => "submit", :class =>"button-bb" do %>
    	  <div class="box-area-img">
      		<%= image_tag "harajuku00.jpg", :class =>'img-area' %>
      		<div class="text-area">
      			原宿・表参道・青山
      		</div>
      	</div>
    	<% end %>
    <% end %>

    <%= form_tag(seeks_category_path, method: :get) do %>
    	<%= hidden_field_tag :city, "東京・丸の内・日本橋" %>
    	<%= hidden_field_tag :price_min , params[:price_min] %>
    	<%= hidden_field_tag :price_max , params[:price_max] %>
    	<%= hidden_field_tag :distance_on, params[:distance_on] %>
    	<%= hidden_field_tag :distance, params[:distance] %>
    	<%= hidden_field_tag :timezone, params[:timezone] %>
    	<%= hidden_field_tag :small, params[:small] %>
    	<% unless params[:ss].blank? %>
        <%= hidden_field_tag 'ss[]', params[:ss] %>
      <% end %>
    	<%= button_tag :type => "submit", :class =>"button-bb" do %>
    	  <div class="box-area-img">
      		<%= image_tag "tokyo00.jpg", :class =>'img-area' %>
      		<div class="text-area">
      			東京・丸の内・日本橋
      		</div>
      	</div>
    	<% end %>
    <% end %>

    <%= form_tag(seeks_category_path, method: :get) do %>
    	<%= hidden_field_tag :city, "新宿" %>
    	<%= hidden_field_tag :price_min , params[:price_min] %>
    	<%= hidden_field_tag :price_max , params[:price_max] %>
    	<%= hidden_field_tag :distance_on, params[:distance_on] %>
    	<%= hidden_field_tag :distance, params[:distance] %>
    	<%= hidden_field_tag :timezone, params[:timezone] %>
    	<%= hidden_field_tag :small, params[:small] %>
    	<% unless params[:ss].blank? %>
        <%= hidden_field_tag 'ss[]', params[:ss] %>
      <% end %>
    	<%= button_tag :type => "submit", :class =>"button-bb" do %>
    	  <div class="box-area-img">
      		<%= image_tag "shinnjuku00.jpg", :class =>'img-area' %>
      		<div class="text-area">
      			新宿
      		</div>
      	</div>
    	<% end %>
    <% end %>

    <%= form_tag(seeks_category_path, method: :get) do %>
    	<%= hidden_field_tag :city, "六本木・麻布・赤坂" %>
    	<%= hidden_field_tag :price_min , params[:price_min] %>
    	<%= hidden_field_tag :price_max , params[:price_max] %>
    	<%= hidden_field_tag :distance_on, params[:distance_on] %>
    	<%= hidden_field_tag :distance, params[:distance] %>
    	<%= hidden_field_tag :timezone, params[:timezone] %>
    	<%= hidden_field_tag :small, params[:small] %>
    	<%= hidden_field_tag 'ss[]', params[:ss] %>
    	<%= button_tag :type => "submit", :class =>"button-bb" do %>
    	  <div class="box-area-img">
      		<%= image_tag "roppongi00.jpg", :class =>'img-area' %>
      		<div class="text-area">
      			六本木・麻布・赤坂
      		</div>
      	</div>
    	<% end %>
    <% end %>

    <%= form_tag(seeks_category_path, method: :get) do %>
      <%= hidden_field_tag :city, "お台場" %>
      <%= hidden_field_tag :price_min , params[:price_min] %>
      <%= hidden_field_tag :price_max , params[:price_max] %>
      <%= hidden_field_tag :distance_on, params[:distance_on] %>
      <%= hidden_field_tag :distance, params[:distance] %>
      <%= hidden_field_tag :timezone, params[:timezone] %>
      <%= hidden_field_tag :small, params[:small] %>
      <% unless params[:ss].blank? %>
        <%= hidden_field_tag 'ss[]', params[:ss] %>
      <% end %>
      <%= button_tag :type => "submit", :class =>"button-bb" do %>
        <div class="box-area-img">
          <%= image_tag "odaiba00.jpg", :class =>'img-area' %>
          <div class="text-area">
            お台場
          </div>
        </div>
      <% end %>
    <% end %>

    <%= form_tag(seeks_category_path, method: :get) do %>
      <%= hidden_field_tag :city, "品川" %>
      <%= hidden_field_tag :price_min , params[:price_min] %>
      <%= hidden_field_tag :price_max , params[:price_max] %>
      <%= hidden_field_tag :distance_on, params[:distance_on] %>
      <%= hidden_field_tag :distance, params[:distance] %>
      <%= hidden_field_tag :timezone, params[:timezone] %>
      <%= hidden_field_tag :small, params[:small] %>
      <% unless params[:ss].blank? %>
        <%= hidden_field_tag 'ss[]', params[:ss] %>
      <% end %>
      <%= button_tag :type => "submit", :class =>"button-bb" do %>
        <div class="box-area-img">
          <%= image_tag "shinagawa00.jpg", :class =>'img-area' %>
          <div class="text-area">
            品川
          </div>
        </div>
      <% end %>
    <% end %>

    <%= form_tag(seeks_category_path, method: :get) do %>
      <%= hidden_field_tag :city, "池袋" %>
      <%= hidden_field_tag :price_min , params[:price_min] %>
      <%= hidden_field_tag :price_max , params[:price_max] %>
      <%= hidden_field_tag :distance_on, params[:distance_on] %>
      <%= hidden_field_tag :distance, params[:distance] %>
      <%= hidden_field_tag :timezone, params[:timezone] %>
      <%= hidden_field_tag :small, params[:small] %>
      <% unless params[:ss].blank? %>
        <%= hidden_field_tag 'ss[]', params[:ss] %>
      <% end %>
      <%= button_tag :type => "submit", :class =>"button-bb" do %>
        <div class="box-area-img">
          <%= image_tag "ikebukuro00.jpg", :class =>'img-area' %>
          <div class="text-area">
            池袋
          </div>
        </div>
      <% end %>
    <% end %>

    <%= form_tag(seeks_category_path, method: :get) do %>
      <%= hidden_field_tag :city, "銀座・有楽町" %>
      <%= hidden_field_tag :price_min , params[:price_min] %>
      <%= hidden_field_tag :price_max , params[:price_max] %>
      <%= hidden_field_tag :distance_on, params[:distance_on] %>
      <%= hidden_field_tag :distance, params[:distance] %>
      <%= hidden_field_tag :timezone, params[:timezone] %>
      <%= hidden_field_tag :small, params[:small] %>
      <% unless params[:ss].blank? %>
        <%= hidden_field_tag 'ss[]', params[:ss] %>
      <% end %>
      <%= button_tag :type => "submit", :class =>"button-bb" do %>
        <div class="box-area-img">
          <%= image_tag "ginza00.jpg", :class =>'img-area' %>
          <div class="text-area">
            銀座・有楽町
          </div>
        </div>
      <% end %>
    <% end %>

</main>

