<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

	<br>
  	<h3 class="text-center">何がしたいですか？</h3>
  	  <h4 class="text-center" style="margin:20px 0px;">
	    <a href="" data-toggle="modal" data-target="#myModal-distance">
	      <span style="font-size:12px;">
	      <i class="fa fa-map-marker"></i>&nbsp;<%= params[:city] %>
	      </span>
	    </a>
	  </h4> 
  	<br>

  	<%#詳細条件モーダルの中身%>
	<div class="modal" id="myModal-distance">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <%= form_tag(seeks_category_path, method: :get) do %>
			<div class="text-center" style="padding-top:30px;">
		        <p>エリアを指定することができます</p>
		        <br>
		        <div class="box-city">
		        	<span class="radio-city"> 
		              <%= radio_button_tag(:city, "すべてのエリア", @all, {:id => "all"}) %>
		              <%= label_tag('all', "すべてのエリア") %>
		            </span>
		            <br>
		            <span class="radio-city"> 
		              <%= radio_button_tag(:city, "恵比寿・代官山・中目黒", @ebisu, {:id => "ebisu"}) %>
		              <%= label_tag('ebisu', "恵比寿・代官山・中目黒") %>
		            </span>
		            <span class="radio-city"> 
		              <%= radio_button_tag(:city, "渋谷", @shibuya, {:id => "shibuya"}) %>
		              <%= label_tag('shibuya', "渋谷") %>
		            </span>
		            <span class="radio-city"> 
		              <%= radio_button_tag(:city, "原宿・表参道・青山", @harajuku, {:id => "harajuku"}) %>
		              <%= label_tag('harajuku', "原宿・表参道・青山") %>
		            </span>
		            <span class="radio-city"> 
		              <%= radio_button_tag(:city, "新宿", @shinjuku, {:id => "shinjuku"}) %>
		              <%= label_tag('shinjuku', "新宿") %>
		            </span>
		            <span class="radio-city"> 
		              <%= radio_button_tag(:city, "東京・丸の内・日本橋", @tokyo, {:id => "tokyo"}) %>
		              <%= label_tag('tokyo', "東京・丸の内・日本橋") %>
		            </span>
		            <span class="radio-city"> 
		              <%= radio_button_tag(:city, "六本木・麻布・赤坂", @roppongi, {:id => "roppongi"}) %>
		              <%= label_tag('roppongi', "六本木・麻布・赤坂") %>
		            </span>    
		        </div>
	        	<br>
	        	<%= submit_tag "絞る", :class => "btn btn-default" %>
	        	<br><br>
	        	<div class="panel-body">
		          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">閉じる×</button>
		        </div>
	        </div>
	      <% end %>  
	    </div>
	  </div>
	</div>

      <div class="box-b">
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :large, "朝食" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
            	<div class="box-category-img">
            		<%= image_tag "breakfast00.jpg", :class =>'img-category' %>
            		<span class="text-category">朝食食べたい</span>
            	</div>
            	<div class="number-category">
	              <%= @breakfast_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
	          <%= hidden_field_tag :large, "ランチ" %>
	          <%= hidden_field_tag :city, params[:city] %>
	          <%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "lunch00.jpg", :class =>'img-category' %>
            		<span class="text-category">ランチしたい</span>
            	</div>
            	<div class="number-category">
	              <%= @lunch_n %>件
	            </div>
	          <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
	          <%= hidden_field_tag :large, "ディナー" %>
	          <%= hidden_field_tag :city, params[:city] %>
	          <%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "dinner00.jpg", :class =>'img-category' %>
            		<span class="text-category">ディナーしたい</span>
            	</div>
            	<div class="number-category">
	              <%= @dinner_n %>件
	            </div>
	          <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
	          <%= hidden_field_tag :large, "カフェ" %>
	          <%= hidden_field_tag :city, params[:city] %>
	          <%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "cafe00.jpg", :class =>'img-category' %>
            		<span class="text-category">カフェ行きたい</span>
            	</div>
            	<div class="number-category">
	              <%= @cafe_n %>件
	            </div>
	          <% end %>
          <% end %>
        </div>
      	<div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :large, "アニマルカフェ" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "animal00.jpg", :class =>'img-category' %>
            		<span class="text-category">アニマルカフェ行きたい</span>
            	</div>
            	<div class="number-category">
	              <%= @animal_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :large, "スイーツ" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "sweets00.jpg", :class =>'img-category' %>
            		<span class="text-category">スイーツ食べたい</span>
            	</div>
            	<div class="number-category">
	              <%= @sweets_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :large, "バー" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "bar00.jpg", :class =>'img-category' %>
            		<span class="text-category">バー行きたい</span>
            	</div>
            	<div class="number-category">
	              <%= @bar_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :large, "映画" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "movie00.jpg", :class =>'img-category' %>
            		<span class="text-category">映画見たい</span>
            	</div>
            	<div class="number-category">
	              <%= @movie_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :large, "ショップ・雑貨屋" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "shop00.jpg", :class =>'img-category' %>
            		<span class="text-category">ショップ・雑貨屋に行きたい</span>
            	</div>
            	<div class="number-category">
	              <%= @shop_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :large, "カラオケ" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "karaoke00.jpg", :class =>'img-category' %>
            		<span class="text-category">カラオケしたい</span>
            	</div>
            	<div class="number-category">
	              <%= @karaoke_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :large, "スポーツ" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "sport00.jpg", :class =>'img-category' %>
            		<span class="text-category">スポーツしたい</span>
            	</div>
            	<div class="number-category">
	              <%= @sport_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :large, "夜景" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "night-view00.jpg", :class =>'img-category' %>
            		<span class="text-category">夜景見たい</span>
            	</div>
            	<div class="number-category">
	              <%= @night_view_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :large, "プラネタリウム" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "planetarium00.jpg", :class =>'img-category' %>
            		<span class="text-category">プラネタリウム見たい</span>
            	</div>
            	<div class="number-category">
	              <%= @planetarium_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :large, "動物園" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "zoo00.jpg", :class =>'img-category' %>
            		<span class="text-category">動物園行きたい</span>
            	</div>
            	<div class="number-category">
	              <%= @zoo_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :scene, "水族館" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "aquarium00.jpg", :class =>'img-category' %>
            		<span class="text-category">水族館行きたい</span>
            	</div>
            	<div class="number-category">
	              <%= @aquarium_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :scene, "美術館" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "museum00.jpg", :class =>'img-category' %>
            		<span class="text-category">美術館行きたい</span>
            	</div>
            	<div class="number-category">
	              <%= @museum_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :scene, "遊園地" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "amusement-park00.jpg", :class =>'img-category' %>
            		<span class="text-category">遊園地行きたい</span>
            	</div>
            	<div class="number-category">
	              <%= @amusement_park_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :scene, "ボーリング" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "bowling00.jpg", :class =>'img-category' %>
            		<span class="text-category">ボーリングしたい</span>
            	</div>
            	<div class="number-category">
	              <%= @bowling_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :scene, "ダーツ" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "darts00.jpg", :class =>'img-category' %>
            		<span class="text-category">ダーツしたい</span>
            	</div>
            	<div class="number-category">
	              <%= @darts_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :scene, "食べ歩き" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "walk-eat00.jpg", :class =>'img-category' %>
            		<span class="text-category">食べ歩きしたい</span>
            	</div>
            	<div class="number-category">
	              <%= @walk_eat_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-b-in">
          <%= form_tag(seeks_term_path, method: :get) do %>
          	<%= hidden_field_tag :scene, "公園" %>
          	<%= hidden_field_tag :city, params[:city] %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "park00.jpg", :class =>'img-category' %>
            		<span class="text-category">公園行きたい</span>
            	</div>
            	<div class="number-category">
	              <%= @park_n %>件
	            </div>
            <% end %>
          <% end %>
        </div>
      </div>
      


</mains>


