<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

	<br>
	<% if @spot_n == 1 %>
		<h4 class="text-center">まずはどこに行きますか？</h4>
	<% end %>
	<% if @spot_n == 2 %>
		<h4 class="text-center">２軒目はどこに行きますか？</h4>
	<% end %>
	<% if @spot_n == 3 %>
		<h4 class="text-center">３軒目はどこに行きますか？</h4>
	<% end %>
	<br>

  	<% if params[:spot1].blank? %>
  	<% else %>
  		<% if params[:spot2].blank? %>
  			<%= form_tag(seeks_result_path, method: :get) do %>
  				<%= hidden_field_tag :spot1, params[:spot1] %>
  				<div class="text-center">
  					<%= submit_tag "ここまでにする", :class => "btn btn-default btn-sm" %>
  				</div>
  			<% end %>
  			<br>
  		<% else %>
  			<% if params[:spot3].blank? %>
  				<%= form_tag(seeks_result_path, method: :get) do %>
  					<%= hidden_field_tag :spot1, params[:spot1] %>
  					<%= hidden_field_tag :spot2, params[:spot2] %>
  					<div class="text-center">
		  				<%= submit_tag "ここまでにする", :class => "btn btn-default btn-sm" %>
		  			</div>
		  		<% end %>
		  		<br>
  			<% end %>
  		<% end %>
  	<% end %>

<div class="panel-body">

	<div class="hero-full-wrapper">
	  <div class="grid">
	    <div class="gutter-sizer"></div>
	    <div class="grid-sizer"></div>


	    <% unless @lunch_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_meal_path, method: :get) do %>
		    	<%= hidden_field_tag :large, "ランチ" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
			    	<div class="box-category-img">
		        		<%= image_tag "lunch00.jpg", :class =>'img-category' %>
		        		<div class="text-category">
		        			ランチしたい
		        		</div>
		        	</div>
	        	<% end %>
            <% end %>
	    </div>
	    <% end %>

	    <% unless @dinner_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_meal_path, method: :get) do %>
	          <%= hidden_field_tag :large, "ディナー" %>
	          <%= hidden_field_tag :city, params[:city] %>
	          <%= hidden_field_tag :price_min , params[:price_min] %>
	          <%= hidden_field_tag :price_max , params[:price_max] %>
          	  <%= hidden_field_tag :distance_on, params[:distance_on] %>
          	  <%= hidden_field_tag :distance, params[:distance] %>
          	  <%= hidden_field_tag :timezone, params[:timezone] %>
          	  <%= hidden_field_tag :small, params[:small] %>
          	    <% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          <%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "dinner00.jpg", :class =>'img-category' %>
            		<div class="text-category">
            			ディナーしたい
            		</div>
            	</div>
	          <% end %>
          <% end %>
	    </div>
	    <% end %>

	    <% unless @cafe_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          <%= hidden_field_tag :large, "カフェ" %>
	          <%= hidden_field_tag :city, params[:city] %>
	          <%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
          	  <%= hidden_field_tag :timezone, params[:timezone] %>
          	  <%= hidden_field_tag :small, params[:small] %>
          	  	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          <%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="box-category-img">
            		<%= image_tag "cafe00.jpg", :class =>'img-category' %>
            		<div class="text-category">
            			カフェ行きたい
            		</div>
            	</div>
	          <% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @bar_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "バー" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "bar00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			バー行きたい
	            		</div>
	            	</div>
	            <% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @movie_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "映画" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "movie00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			映画見たい
	            		</div>
	            	</div>
	            <% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @shop_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "ショップ・雑貨屋" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "shop00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			ショップ・雑貨屋に行きたい
	            		</div>
	            	</div>
	            <% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @walk_eat_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "食べ歩き" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "walk-eat00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			食べ歩きしたい
	            		</div>
	            	</div>
	            <% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @park_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "公園" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
		        <% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "park00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			公園行きたい	            			
	            		</div>
	            	</div>
	            <% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @night_view_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "夜景" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "night-view00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			夜景見たい
	            		</div>
	            	</div>
	            <% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @planetarium_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "プラネタリウム" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "planetarium00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			プラネタリウム見たい
	            		</div>
	            	</div>
	            <% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @karaoke_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "カラオケ" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "karaoke00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			カラオケしたい
	            		</div>
	            	</div>
	            <% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @bowling_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "ボーリング" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "bowling00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			ボーリングしたい
	            		</div>
	            	</div>
	            <% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @sport_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "スポーツ" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "sport00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			スポーツしたい
	            		</div>
	            	</div>
            	<% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @darts_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "ダーツ" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , 0 %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "darts00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			ダーツしたい
	            		</div>
	            	</div>
	            <% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @museum_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "美術館" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
	          	<% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "museum00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			美術館行きたい
	            		</div>
	            	</div>
	            <% end %>
          	<% end %>
	    </div>
	    <% end %>

	    <% unless @other_n.to_i == 0 %>
	    <div class="grid-item">
	    	<%= form_tag(seeks_choice_path, method: :get) do %>
	          	<%= hidden_field_tag :large, "その他" %>
	          	<%= hidden_field_tag :city, params[:city] %>
	          	<%= hidden_field_tag :price_min , params[:price_min] %>
	          	<%= hidden_field_tag :price_max , params[:price_max] %>
	          	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	          	<%= hidden_field_tag :distance, params[:distance] %>
	          	<%= hidden_field_tag :timezone, params[:timezone] %>
	          	<%= hidden_field_tag :small, params[:small] %>
	          	<% unless params[:spot1].blank? %>
	          		<%= hidden_field_tag :spot1, params[:spot1] %>
	          	<% end %>
			  	<% unless params[:spot2].blank? %>
	          		<%= hidden_field_tag :spot2, params[:spot2] %>
		        <% end %>
	          	<%= button_tag :type => "submit", :class =>"button1" do %>
		            <div class="box-category-img">
	            		<%= image_tag "other00.jpg", :class =>'img-category' %>
	            		<div class="text-category">
	            			その他
	            		</div>
	            	</div>
	            <% end %>
          	<% end %>
	    </div>
	    <% end %>

	  </div>
	</div>

</div>


	
	  


	<% if @spot_n == 2 %>
		<div class="visible-xs">
			<div class="sticky-bar-spot">
				<div class="sticky-menu-spot">
					<a href="" data-toggle="modal" data-target="#myModal-spot1">
						<%= image_tag @spot1.pictures.first.image.url, :class =>'img-stickey-spot' %>
						<div class="title-stickey-spot">
							<p><%= @spot1.title %></p>
							<% unless @spot1.large.blank? %>
					          <p><i class="fa fa-tag"></i>
					          <% @i = 0 %>
					            <% @spot1.large.each do |large| %>
					              <% @i = @i + 1 %>
					              <% if @i == @spot1.large.size %>
					                <%= large %>
					              <% else %>
					                <%= large %>/
					              <% end %> 
					            <% end %>
					          </p> 
					        <% end %>
						</div>
					</a>
				</div>
			</div>
			<div class="fotter-box2"></div>
		</div>
	<% end %>
	<% if @spot_n == 3 %>
		<div class="visible-xs">
			<div class="sticky-bar-spot">
				<div class="sticky-menu-spot">
					<a href="" data-toggle="modal" data-target="#myModal-spot1">
			    		<%= image_tag @spot1.pictures.first.image.url, :class =>'img-stickey-spot' %>
			    		<div class="title-stickey-spot">
							<p><%= @spot1.title %></p>
							<% unless @spot1.large.blank? %>
					          <p><i class="fa fa-tag"></i>
					          <% @i = 0 %>
					            <% @spot1.large.each do |large| %>
					              <% @i = @i + 1 %>
					              <% if @i == @spot1.large.size %>
					                <%= large %>
					              <% else %>
					                <%= large %>/
					              <% end %> 
					            <% end %>
					          </p> 
					        <% end %>
						</div>
			    	</a>
			    	<a href="" data-toggle="modal" data-target="#myModal-spot2">
			      		<%= image_tag @spot2.pictures.first.image.url, :class =>'img-stickey-spot' %>
			      		<div class="title-stickey-spot">
							<p><%= @spot2.title %></p>
							<% unless @spot2.large.blank? %>
					          <p><i class="fa fa-tag"></i>
					          <% @i = 0 %>
					            <% @spot2.large.each do |large| %>
					              <% @i = @i + 1 %>
					              <% if @i == @spot2.large.size %>
					                <%= large %>
					              <% else %>
					                <%= large %>/
					              <% end %> 
					            <% end %>
					          </p> 
					        <% end %>
						</div>
			      	</a>
    			</div>
    		</div>
    		<div class="fotter-box2"></div>
    	</div>
	<% end %>



<% if @spot_n == 2 %>
  <!-- モーダルウィンドウの中身 -->
  <div class="modal" id="myModal-spot1">
    <div class="modal-dialog">
    <div class="modal-content">
      <br>
      <%# 横スクロール写真 %>
      <div class="horizontal_scroll_wrap_content_spot">
        <ul class="scroll_lst_content">
          <% @pictures = @spot1.pictures.order(id: "ASC") %>
          <% @pictures.each do |picture| %>
            <li class="scroll_item_content">
              <div class="scroll_item_inr_content">
                <div class="scroll_item_thum_content">
                  <%# $$$spotから利用する写真をfitstなどで指定 %>
                  <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                </div>
                <div class="scroll_item_info_content_quote">
                  <p class="scroll_item_ttl_content_quote spot-show-p pull-right">
                    <% if !picture.url.blank? %>
                      <% if !picture.quote.blank? %>
                        <a href="<%= picture.url %>" target="_blank" class="gray">
                          出典&nbsp;<%= picture.quote %>
                        </a>
                      <% else %> 
                        <a href="<%= picture.url %>" target="_blank" class="gray">
                          出典&nbsp;
                        </a>
                      <% end %>
                    <% else %> 
                        &nbsp;
                    <% end %>  
                  </p>
                </div>
             </div>
            </li>
          <% end %>  
        </ul>
      </div>
      <div class="panel-body">
        <%# タイトル %>
        <div class="title-spot-show-min"><%= @spot1.title %></div>
        <%# 都道府県、エリア %>
            <p style="color: #66666;margin:5px 0px;font-size:12px">
              <i class="fa fa-map-marker"></i>&nbsp;<%= @spot1.station %>
            </p> 
        <%# 料金 %>
        <p style="color: #666666;margin:5px 0px;font-size:12px">
          <% unless @spot1.price_lunch.blank? %>
            <i class="fa fa-sun-o"></i>~<%= @spot1.price_lunch %>円/
          <% end %>
          <% unless @spot1.price_dinner.blank? %>
            <i class="fa fa-moon-o"></i>~<%= @spot1.price_dinner %>円/
          <% end %>
          <% unless @spot1.price_spot.blank? %>
            <i class="fa fa-yen"></i>~<%= @spot1.price_spot %>円
          <% end %>
        </p> 
        <%# カテゴリー %>
        <% unless @spot1.large.blank? %>
          <p style="color: #666666;margin:5px 0px;font-size:12px"><i class="fa fa-tag"></i>&nbsp;
          <% @i = 0 %>
            <% @spot1.large.each do |large| %>
              <% @i = @i + 1 %>
              <% if @i == @spot1.large.size %>
                <%= large %>
              <% else %>
                <%= large %>/
              <% end %> 
            <% end %>
          </p> 
        <% end %>
        <%# ジャンル %>
        <% unless @spot1.small.blank? %>
          <p style="color: #666666;margin:5px 0px;font-size:12px"><i class="fa fa-cutlery"></i>&nbsp;
          <% @i = 0 %>
            <% @spot1.small.each do |small| %>
              <% @i = @i + 1 %>
              <% if @i == @spot1.small.size %>
                <%= small %>
              <% else %>
                <%= small %>/
              <% end %>
            <% end %>
          </p> 
        <% end %>
        <%# 営業時間 %>
        <div onclick="obj=document.getElementById('open1').style; obj.display=(obj.display=='none')?'block':'none';">
          <p style="cursor:pointer;color: #66666;margin:5px 0px;font-size:12px;">
            <i class="fa fa-clock-o"></i>
            <% if @wday == 0 %>
            <% unless @spot1.sunday.blank? %>(日)<%= @spot1.sunday %><% end %>
            <% end %>
            <% if @wday == 1 %>
            <% unless @spot1.monday.blank? %>(月)<%= @spot1.monday %><% end %>
            <% end %>
            <% if @wday == 2 %>
            <% unless @spot1.tuesday.blank? %>(火)<%= @spot1.tuesday %><% end %>
            <% end %>
            <% if @wday == 3 %>
            <% unless @spot1.wednesday.blank? %>(水)<%= @spot1.wednesday %><% end %>
            <% end %>
            <% if @wday == 4 %>
            <% unless @spot1.thursday.blank? %>(木)<%= @spot1.thursday %><% end %>
            <% end %>
            <% if @wday == 5 %>
            <% unless @spot1.friday.blank? %>(金)<%= @spot1.friday %><% end %>
            <% end %>
            <% if @wday == 6 %>
            <% unless @spot1.saturday.blank? %>(土)<%= @spot1.saturday %><% end %>
            <% end %>
            ▼
          </p>
        </div>
        <div id="open1" style="display:none;clear:both;">
          <p style="color: #66666;margin-top:5px;font-size:12px">
            月&nbsp;&nbsp;<% unless @spot1.monday.blank? %><%= @spot1.monday %><% end %><br>
            火&nbsp;&nbsp;<% unless @spot1.tuesday.blank? %><%= @spot1.tuesday %><% end %><br>
            水&nbsp;&nbsp;<% unless @spot1.wednesday.blank? %><%= @spot1.wednesday %><% end %><br>
            木&nbsp;&nbsp;<% unless @spot1.thursday.blank? %><%= @spot1.thursday %><% end %><br>
            金&nbsp;&nbsp;<% unless @spot1.friday.blank? %><%= @spot1.friday %><% end %><br>
            土&nbsp;&nbsp;<% unless @spot1.saturday.blank? %><%= @spot1.saturday %><% end %><br>
            日&nbsp;&nbsp;<% unless @spot1.sunday.blank? %><%= @spot1.sunday %><% end %><br>
            祝&nbsp;&nbsp;<% unless @spot1.holiday.blank? %><%= @spot1.holiday %><% end %><br>
          </p> 
        </div>
        <%# 食べログ、rettyボタン等 %>
        <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
        <div class="info-box1-min">
          <% unless @spot1.tabelog.blank? %>
            <a href="<%= @spot1.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログ</a>
          <% end %>
          <% unless @spot1.retty.blank? %>
            <a href="<%= @spot1.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Retty</a>
          <% end %>
          <% unless @spot1.introduction.blank? %>
            <a href="<%= @spot1.introduction %>" target="_blank" class="raise4-result"><span><i class="fa fa-instagram"></i>&nbsp;Instagram</span></a>
          <% end %>
        </div>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
      </div>  
    </div>
    </div>
  </div>
<% end %>


<% if @spot_n == 3 %>
	<!-- モーダルウィンドウの中身 -->
  <div class="modal" id="myModal-spot1">
    <div class="modal-dialog">
    <div class="modal-content">
      <br>
      <%# 横スクロール写真 %>
      <div class="horizontal_scroll_wrap_content_spot">
        <ul class="scroll_lst_content">
          <% @pictures = @spot1.pictures.order(id: "ASC") %>
          <% @pictures.each do |picture| %>
            <li class="scroll_item_content">
              <div class="scroll_item_inr_content">
                <div class="scroll_item_thum_content">
                  <%# $$$spotから利用する写真をfitstなどで指定 %>
                  <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                </div>
                <div class="scroll_item_info_content_quote">
                  <p class="scroll_item_ttl_content_quote spot-show-p pull-right">
                    <% if !picture.url.blank? %>
                      <% if !picture.quote.blank? %>
                        <a href="<%= picture.url %>" target="_blank" class="gray">
                          出典&nbsp;<%= picture.quote %>
                        </a>
                      <% else %> 
                        <a href="<%= picture.url %>" target="_blank" class="gray">
                          出典&nbsp;
                        </a>
                      <% end %>
                    <% else %> 
                        &nbsp;
                    <% end %>  
                  </p>
                </div>
             </div>
            </li>
          <% end %>  
        </ul>
      </div>
      <div class="panel-body">
        <%# タイトル %>
        <div class="title-spot-show-min"><%= @spot1.title %></div>
        <%# 都道府県、エリア %>
            <p style="color: #66666;margin:5px 0px;font-size:12px">
              <i class="fa fa-map-marker"></i>&nbsp;<%= @spot1.station %>
            </p> 
        <%# 料金 %>
        <p style="color: #666666;margin:5px 0px;font-size:12px">
          <% unless @spot1.price_lunch.blank? %>
            <i class="fa fa-sun-o"></i>~<%= @spot1.price_lunch %>円/
          <% end %>
          <% unless @spot1.price_dinner.blank? %>
            <i class="fa fa-moon-o"></i>~<%= @spot1.price_dinner %>円/
          <% end %>
          <% unless @spot1.price_spot.blank? %>
            <i class="fa fa-yen"></i>~<%= @spot1.price_spot %>円
          <% end %>
        </p> 
        <%# カテゴリー %>
        <% unless @spot1.large.blank? %>
          <p style="color: #666666;margin:5px 0px;font-size:12px"><i class="fa fa-tag"></i>&nbsp;
          <% @i = 0 %>
            <% @spot1.large.each do |large| %>
              <% @i = @i + 1 %>
              <% if @i == @spot1.large.size %>
                <%= large %>
              <% else %>
                <%= large %>/
              <% end %> 
            <% end %>
          </p> 
        <% end %>
        <%# ジャンル %>
        <% unless @spot1.small.blank? %>
          <p style="color: #666666;margin:5px 0px;font-size:12px"><i class="fa fa-cutlery"></i>&nbsp;
          <% @i = 0 %>
            <% @spot1.small.each do |small| %>
              <% @i = @i + 1 %>
              <% if @i == @spot1.small.size %>
                <%= small %>
              <% else %>
                <%= small %>/
              <% end %>
            <% end %>
          </p> 
        <% end %>
        <%# 営業時間 %>
        <div onclick="obj=document.getElementById('open1').style; obj.display=(obj.display=='none')?'block':'none';">
          <p style="cursor:pointer;color: #66666;margin:5px 0px;font-size:12px;">
            <i class="fa fa-clock-o"></i>
            <% if @wday == 0 %>
            <% unless @spot1.sunday.blank? %>(日)<%= @spot1.sunday %><% end %>
            <% end %>
            <% if @wday == 1 %>
            <% unless @spot1.monday.blank? %>(月)<%= @spot1.monday %><% end %>
            <% end %>
            <% if @wday == 2 %>
            <% unless @spot1.tuesday.blank? %>(火)<%= @spot1.tuesday %><% end %>
            <% end %>
            <% if @wday == 3 %>
            <% unless @spot1.wednesday.blank? %>(水)<%= @spot1.wednesday %><% end %>
            <% end %>
            <% if @wday == 4 %>
            <% unless @spot1.thursday.blank? %>(木)<%= @spot1.thursday %><% end %>
            <% end %>
            <% if @wday == 5 %>
            <% unless @spot1.friday.blank? %>(金)<%= @spot1.friday %><% end %>
            <% end %>
            <% if @wday == 6 %>
            <% unless @spot1.saturday.blank? %>(土)<%= @spot1.saturday %><% end %>
            <% end %>
            ▼
          </p>
        </div>
        <div id="open1" style="display:none;clear:both;">
          <p style="color: #66666;margin-top:5px;font-size:12px">
            月&nbsp;&nbsp;<% unless @spot1.monday.blank? %><%= @spot1.monday %><% end %><br>
            火&nbsp;&nbsp;<% unless @spot1.tuesday.blank? %><%= @spot1.tuesday %><% end %><br>
            水&nbsp;&nbsp;<% unless @spot1.wednesday.blank? %><%= @spot1.wednesday %><% end %><br>
            木&nbsp;&nbsp;<% unless @spot1.thursday.blank? %><%= @spot1.thursday %><% end %><br>
            金&nbsp;&nbsp;<% unless @spot1.friday.blank? %><%= @spot1.friday %><% end %><br>
            土&nbsp;&nbsp;<% unless @spot1.saturday.blank? %><%= @spot1.saturday %><% end %><br>
            日&nbsp;&nbsp;<% unless @spot1.sunday.blank? %><%= @spot1.sunday %><% end %><br>
            祝&nbsp;&nbsp;<% unless @spot1.holiday.blank? %><%= @spot1.holiday %><% end %><br>
          </p> 
        </div>
        <%# 食べログ、rettyボタン等 %>
        <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
        <div class="info-box1-min">
          <% unless @spot1.tabelog.blank? %>
            <a href="<%= @spot1.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログ</a>
          <% end %>
          <% unless @spot1.retty.blank? %>
            <a href="<%= @spot1.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Retty</a>
          <% end %>
          <% unless @spot1.introduction.blank? %>
            <a href="<%= @spot1.introduction %>" target="_blank" class="raise4-result"><span><i class="fa fa-instagram"></i>&nbsp;Instagram</span></a>
          <% end %>
        </div>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
      </div>  
    </div>
    </div>
  </div>
  <!-- モーダルウィンドウの中身 -->
  <div class="modal" id="myModal-spot2">
    <div class="modal-dialog">
    <div class="modal-content">
      <br>
      <%# 横スクロール写真 %>
      <div class="horizontal_scroll_wrap_content_spot">
        <ul class="scroll_lst_content">
          <% @pictures = @spot2.pictures.order(id: "ASC") %>
          <% @pictures.each do |picture| %>
            <li class="scroll_item_content">
              <div class="scroll_item_inr_content">
                <div class="scroll_item_thum_content">
                  <%# $$$spotから利用する写真をfitstなどで指定 %>
                  <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                </div>
                <div class="scroll_item_info_content_quote">
                  <p class="scroll_item_ttl_content_quote spot-show-p pull-right">
                    <% if !picture.url.blank? %>
                      <% if !picture.quote.blank? %>
                        <a href="<%= picture.url %>" target="_blank" class="gray">
                          出典&nbsp;<%= picture.quote %>
                        </a>
                      <% else %> 
                        <a href="<%= picture.url %>" target="_blank" class="gray">
                          出典&nbsp;
                        </a>
                      <% end %>
                    <% else %> 
                        &nbsp;
                    <% end %>  
                  </p>
                </div>
             </div>
            </li>
          <% end %>  
        </ul>
      </div>
      <div class="panel-body">
        <%# タイトル %>
        <div class="title-spot-show-min"><%= @spot2.title %></div>
        <%# 都道府県、エリア %>
            <p style="color: #66666;margin:5px 0px;font-size:12px">
              <i class="fa fa-map-marker"></i>&nbsp;<%= @spot2.station %>
            </p> 
        <%# 料金 %>
        <p style="color: #666666;margin:5px 0px;font-size:12px">
          <% unless @spot2.price_lunch.blank? %>
            <i class="fa fa-sun-o"></i>~<%= @spot2.price_lunch %>円/
          <% end %>
          <% unless @spot2.price_dinner.blank? %>
            <i class="fa fa-moon-o"></i>~<%= @spot2.price_dinner %>円/
          <% end %>
          <% unless @spot2.price_spot.blank? %>
            <i class="fa fa-yen"></i>~<%= @spot2.price_spot %>円
          <% end %>
        </p> 
        <%# カテゴリー %>
        <% unless @spot2.large.blank? %>
          <p style="color: #666666;margin:5px 0px;font-size:12px"><i class="fa fa-tag"></i>&nbsp;
          <% @i = 0 %>
            <% @spot2.large.each do |large| %>
              <% @i = @i + 1 %>
              <% if @i == @spot2.large.size %>
                <%= large %>
              <% else %>
                <%= large %>/
              <% end %> 
            <% end %>
          </p> 
        <% end %>
        <%# ジャンル %>
        <% unless @spot2.small.blank? %>
          <p style="color: #666666;margin:5px 0px;font-size:12px"><i class="fa fa-cutlery"></i>&nbsp;
          <% @i = 0 %>
            <% @spot2.small.each do |small| %>
              <% @i = @i + 1 %>
              <% if @i == @spot2.small.size %>
                <%= small %>
              <% else %>
                <%= small %>/
              <% end %>
            <% end %>
          </p> 
        <% end %>
        <%# 営業時間 %>
        <div onclick="obj=document.getElementById('open2').style; obj.display=(obj.display=='none')?'block':'none';">
          <p style="cursor:pointer;color: #66666;margin:5px 0px;font-size:12px;">
            <i class="fa fa-clock-o"></i>
            <% if @wday == 0 %>
            <% unless @spot2.sunday.blank? %>(日)<%= @spot2.sunday %><% end %>
            <% end %>
            <% if @wday == 1 %>
            <% unless @spot2.monday.blank? %>(月)<%= @spot2.monday %><% end %>
            <% end %>
            <% if @wday == 2 %>
            <% unless @spot2.tuesday.blank? %>(火)<%= @spot2.tuesday %><% end %>
            <% end %>
            <% if @wday == 3 %>
            <% unless @spot2.wednesday.blank? %>(水)<%= @spot2.wednesday %><% end %>
            <% end %>
            <% if @wday == 4 %>
            <% unless @spot2.thursday.blank? %>(木)<%= @spot2.thursday %><% end %>
            <% end %>
            <% if @wday == 5 %>
            <% unless @spot2.friday.blank? %>(金)<%= @spot2.friday %><% end %>
            <% end %>
            <% if @wday == 6 %>
            <% unless @spot2.saturday.blank? %>(土)<%= @spot2.saturday %><% end %>
            <% end %>
            ▼
          </p>
        </div>
        <div id="open2" style="display:none;clear:both;">
          <p style="color: #66666;margin-top:5px;font-size:12px">
            月&nbsp;&nbsp;<% unless @spot2.monday.blank? %><%= @spot2.monday %><% end %><br>
            火&nbsp;&nbsp;<% unless @spot2.tuesday.blank? %><%= @spot2.tuesday %><% end %><br>
            水&nbsp;&nbsp;<% unless @spot2.wednesday.blank? %><%= @spot2.wednesday %><% end %><br>
            木&nbsp;&nbsp;<% unless @spot2.thursday.blank? %><%= @spot2.thursday %><% end %><br>
            金&nbsp;&nbsp;<% unless @spot2.friday.blank? %><%= @spot2.friday %><% end %><br>
            土&nbsp;&nbsp;<% unless @spot2.saturday.blank? %><%= @spot2.saturday %><% end %><br>
            日&nbsp;&nbsp;<% unless @spot2.sunday.blank? %><%= @spot2.sunday %><% end %><br>
            祝&nbsp;&nbsp;<% unless @spot2.holiday.blank? %><%= @spot2.holiday %><% end %><br>
          </p> 
        </div>
        <%# 食べログ、rettyボタン等 %>
        <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
        <div class="info-box1-min">
          <% unless @spot2.tabelog.blank? %>
            <a href="<%= @spot2.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログ</a>
          <% end %>
          <% unless @spot2.retty.blank? %>
            <a href="<%= @spot2.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Retty</a>
          <% end %>
          <% unless @spot2.introduction.blank? %>
        <a href="<%= @spot2.introduction %>" target="_blank" class="raise4-result"><span><i class="fa fa-instagram"></i>&nbsp;Instagram</span></a>
      <% end %>
        </div>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
      </div>  
    </div>
    </div>
  </div>
<% end %>


      
        

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>

</mains>


