<%= render "partial/navbar" %>

<mains class="" id="main-collapse">

<% if @spots.blank? %>	

  <h4 class="text-center" style="margin:20px 0px;">
    該当するスポットがありません
  </h4> 

  <h4 class="text-center" style="margin:20px 0px;">
    <a href="" data-toggle="modal" data-target="#myModal-distance">
      <span style="font-size:12px;">
      <i class="fa fa-chevron-circle-down"></i>&nbsp;条件変更
      </span>
    </a>
  </h4> 

<% else %>

	<h4 class="text-center" style="margin:20px 0px;">
	    どちらにしますか？
	    <a href="" data-toggle="modal" data-target="#myModal-distance">
	      <span style="font-size:12px;">
	      <i class="fa fa-chevron-circle-down"></i>&nbsp;条件変更
	      </span>
	    </a>
    </h4> 
    
    <% if @spot_n == 1 || @spot_n == 2 %>
    <%= form_tag(seeks_distance_path, method: :get) do %>
    <% if @spot_n == 1 %>
    	<%= hidden_field_tag :distance, 500 %>
    <% end %>
    <% if @spot_n == 2 %>
    	<%= hidden_field_tag :spot1, params[:spot1] %>
    	<%= hidden_field_tag :distance, 500 %>
    <% end %>
    
		<% @spots.each do |spot| %>
      <div class="radio-city1">	
        <% @n = @n + 1 %>
        <% if @spot_n == 1 %>
	        <% if @n == 1 %>	
	          <%= radio_button_tag(:spot1, spot.id, true) %>
	        <% else %>
	          <%= radio_button_tag(:spot1, spot.id) %>
	        <% end %>
	    <% end %>
	    <% if @spot_n == 2 %>
	        <% if @n == 1 %>	
	          <%= radio_button_tag(:spot2, spot.id, true) %>
	        <% else %>
	          <%= radio_button_tag(:spot2, spot.id) %>
	        <% end %>
	    <% end %>
        <label for="spot<%= @spot_n %>_<%= spot.id %>">
          <%= image_tag spot.pictures.first.image.url, :class =>'img-course-result' %>
          <h3>
            <%# タイトル %>
            <%= spot.title %>
            <%# 駅 %>
            <span style="font-size:11px;"><br><i class="fa fa-map-marker"></i>&nbsp;<%= spot.station %></span>
            <%# ジャンル %>
            <% unless spot.small.blank? %>
              <span style="font-size:11px;"><br><i class="fa fa-cutlery"></i>&nbsp;</span>
              <% @i = 0 %>
              <% spot.small.each do |small| %>
                <% @i = @i + 1 %>
                <span style="font-size:11px;">
                  <% if @i == spot.small.size %>
                    <%= small %>
                  <% else %>
                    <%= small %>/
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </h3> 
          <a href="" data-toggle="modal" data-target="#myModal<%= @n %>">
        	  <h4>
        	  	<i class="fa fa-info-circle" aria-hidden="true"></i>
        	  </h4>
          </a>
        </label>
      </div>
      <!-- モーダルウィンドウの中身 -->
      <div class="modal" id="myModal<%= @n %>">
        <div class="modal-dialog">
        <div class="modal-content">
          <br>
          <%# 横スクロール写真 %>
          <div class="horizontal_scroll_wrap_content_spot">
            <ul class="scroll_lst_content">
              <% @pictures = spot.pictures.order(id: "ASC") %>
              <% @pictures.each do |picture| %>
                <li class="scroll_item_content">
                  <div class="scroll_item_inr_content">
                    <div class="scroll_item_thum_content">
                      <%# $$$spotから利用する写真をfitstなどで指定 %>
                      <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                    </div>
                    <div class="scroll_item_info_content_quote">
                      <p class="scroll_item_ttl_content_quote pull-right">
                        <% if !picture.url.blank? %>
                          <% if !picture.quote.blank? %>
                            <a href="<%= picture.url %>" target="_blank" class="gray">
                              出典&nbsp;<%= picture.quote %>
                            </a>
                          <% else %> 
                            <a href="<%= picture.url %>" target="_blank" class="gray">
                              出典&nbsp;
                            </a>
                          <% end %>
                        <% else %> 
                            &nbsp;
                        <% end %>  
                      </p>
                    </div>
                 </div>
                </li>
              <% end %>  
            </ul>
          </div>
          <div class="panel-body">
            <%# タイトル %>
            <div class="title-spot-show-min"><%= spot.title %></div>
            <%# 都道府県、エリア %>
            <p style="color: #66666;margin:5px 0px;font-size:12px">
              <i class="fa fa-map-marker"></i>&nbsp;<%= spot.station %>
            </p> 
            <%# 料金 %>
            <p style="color: #666666;margin:5px 0px;font-size:12px">
              <% unless spot.price_lunch.blank?  && spot.price_lunch != 0 %>
                <i class="fa fa-sun-o"></i>&nbsp;~<%= spot.price_lunch %>円&nbsp;&nbsp;&nbsp;
              <% end %>
              <% unless spot.price_dinner.blank?  && spot.dinner_lunch != 0 %>
                <i class="fa fa-moon-o"></i>&nbsp;~<%= spot.price_dinner %>円
              <% end %>
            </p> 
            <%# カテゴリー %>
            <% unless spot.large.blank? %>
              <p style="color: #666666;margin:5px 0px;font-size:12px"><i class="fa fa-tag"></i>
              <% @i = 0 %>
                <% spot.large.each do |large| %>
                  <% @i = @i + 1 %>
                  <% if @i == spot.large.size %>
                    <%= large %>
                  <% else %>
                    <%= large %>/
                  <% end %> 
                <% end %>
              </p> 
            <% end %>
            <%# ジャンル %>
            <% unless spot.small.blank? %>
              <p style="color: #666666;margin:5px 0px;font-size:12px"><i class="fa fa-cutlery"></i>&nbsp;
              <% @i = 0 %>
                <% spot.small.each do |small| %>
                  <% @i = @i + 1 %>
                  <% if @i == spot.small.size %>
                    <%= small %>
                  <% else %>
                    <%= small %>/
                  <% end %>
                <% end %>
              </p> 
            <% end %>
            <%# 営業時間 %>
            <div onclick="obj=document.getElementById('open<%= @n %>').style; obj.display=(obj.display=='none')?'block':'none';">
              <p style="cursor:pointer;color: #66666;margin:5px 0px;font-size:12px;">
                <i class="fa fa-clock-o"></i>
                <% if @wday == 0 %>
                <% unless spot.sunday.blank? %>(日)<%= spot.sunday %><% end %>
                <% end %>
                <% if @wday == 1 %>
                <% unless spot.monday.blank? %>(月)<%= spot.monday %><% end %>
                <% end %>
                <% if @wday == 2 %>
                <% unless spot.tuesday.blank? %>(火)<%= spot.tuesday %><% end %>
                <% end %>
                <% if @wday == 3 %>
                <% unless spot.wednesday.blank? %>(水)<%= spot.wednesday %><% end %>
                <% end %>
                <% if @wday == 4 %>
                <% unless spot.thursday.blank? %>(木)<%= spot.thursday %><% end %>
                <% end %>
                <% if @wday == 5 %>
                <% unless spot.friday.blank? %>(金)<%= spot.friday %><% end %>
                <% end %>
                <% if @wday == 6 %>
                <% unless spot.saturday.blank? %>(土)<%= spot.saturday %><% end %>
                <% end %>
                ▼
              </p>
            </div>
            <div id="open<%= @n %>" style="display:none;clear:both;">
              <p style="color: #66666;margin-top:5px;font-size:12px">
                月&nbsp;&nbsp;<% unless spot.monday.blank? %><%= spot.monday %><% end %><br>
                火&nbsp;&nbsp;<% unless spot.tuesday.blank? %><%= spot.tuesday %><% end %><br>
                水&nbsp;&nbsp;<% unless spot.wednesday.blank? %><%= spot.wednesday %><% end %><br>
                木&nbsp;&nbsp;<% unless spot.thursday.blank? %><%= spot.thursday %><% end %><br>
                金&nbsp;&nbsp;<% unless spot.friday.blank? %><%= spot.friday %><% end %><br>
                土&nbsp;&nbsp;<% unless spot.saturday.blank? %><%= spot.saturday %><% end %><br>
                日&nbsp;&nbsp;<% unless spot.sunday.blank? %><%= spot.sunday %><% end %><br>
                祝&nbsp;&nbsp;<% unless spot.holiday.blank? %><%= spot.holiday %><% end %><br>
              </p> 
            </div>
            <%# 食べログ、rettyボタン等 %>
            <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
            <div class="info-box1-min">
              <% unless spot.tabelog.blank? %>
                <a href="<%= spot.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログ</a>
              <% end %>
              <% unless spot.retty.blank? %>
                <a href="<%= spot.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Retty</a>
              <% end %>
              <% unless spot.introduction.blank? %>
                <a href="<%= spot.introduction %>" target="_blank" class="raise4-result"><span><i class="fa fa-instagram"></i>&nbsp;Instagram</span></a>
              <% end %>
            </div>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
          </div>  
        </div>
        </div>
      </div>
    <% end %>

    	<br>
      <div class="col-xs-12">
        <div class="text-center">
          <a href="javascript:;" onclick="koshin()" class=""><i class="fa fa-refresh"></i>&nbsp;Change</a>&nbsp;&nbsp;
          <%= submit_tag "次へ進む", :class => "btn btn-default" %>
        </div>
      </div>  
		   
	<% end %>
	<% end %>


	<% if @spot_n == 3 %>
    <%= form_tag(seeks_result_path, method: :get) do %>
    <%= hidden_field_tag :spot1, params[:spot1] %>
	<%= hidden_field_tag :spot2, params[:spot2] %>
	<%= hidden_field_tag :distance, 500 %>

	<% @spots.each do |spot| %>
      <div class="radio-city1">	
        <% @n = @n + 1 %>
        <% if @n == 1 %>	
          <%= radio_button_tag(:spot3, spot.id, true) %>
        <% else %>
          <%= radio_button_tag(:spot3, spot.id) %>
        <% end %>
        <label for="spot3_<%= spot.id %>">
          <%= image_tag spot.pictures.first.image.url, :class =>'img-course-result' %>
          <h3>
            <%# タイトル %>
            <%= spot.title %>
            <%# 駅 %>
            <span style="font-size:11px;"><br><i class="fa fa-map-marker"></i>&nbsp;<%= spot.station %></span>
            <%# ジャンル %>
            <% unless spot.small.blank? %>
              <span style="font-size:11px;"><br><i class="fa fa-cutlery"></i>&nbsp;</span>
              <% @i = 0 %>
              <% spot.small.each do |small| %>
                <% @i = @i + 1 %>
                <span style="font-size:11px;">
                  <% if @i == spot.small.size %>
                    <%= small %>
                  <% else %>
                    <%= small %>/
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </h3> 
          <a href="" data-toggle="modal" data-target="#myModal<%= @n %>">
        	  <h4>
        	  	<i class="fa fa-info-circle" aria-hidden="true"></i>
        	  </h4>
          </a>
        </label>
      </div>
      <!-- モーダルウィンドウの中身 -->
      <div class="modal" id="myModal<%= @n %>">
        <div class="modal-dialog">
        <div class="modal-content">
          <br>
          <%# 横スクロール写真 %>
          <div class="horizontal_scroll_wrap_content_spot">
            <ul class="scroll_lst_content">
              <% @pictures = spot.pictures.order(id: "ASC") %>
              <% @pictures.each do |picture| %>
                <li class="scroll_item_content">
                  <div class="scroll_item_inr_content">
                    <div class="scroll_item_thum_content">
                      <%# $$$spotから利用する写真をfitstなどで指定 %>
                      <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                    </div>
                    <div class="scroll_item_info_content_quote">
                      <p class="scroll_item_ttl_content_quote pull-right">
                        <% if !picture.url.blank? %>
                          <% if !picture.quote.blank? %>
                            <a href="<%= picture.url %>" target="_blank" class="gray">
                              出典&nbsp;<%= picture.quote %>
                            </a>
                          <% else %> 
                            <a href="<%= picture.url %>" target="_blank" class="gray">
                              出典&nbsp;
                            </a>
                          <% end %>
                        <% else %> 
                            &nbsp;
                        <% end %>  
                      </p>
                    </div>
                 </div>
                </li>
              <% end %>  
            </ul>
          </div>
          <div class="panel-body">
            <%# タイトル %>
            <div class="title-spot-show-min"><%= spot.title %></div>
            <%# 都道府県、エリア %>
            <p style="color: #66666;margin:5px 0px;font-size:12px">
              <i class="fa fa-map-marker"></i>&nbsp;<%= spot.station %>
            </p> 
            <%# 料金 %>
            <p style="color: #666666;margin:5px 0px;font-size:12px">
              <% unless spot.price_lunch.blank?  && spot.price_lunch != 0 %>
                <i class="fa fa-sun-o"></i>&nbsp;~<%= spot.price_lunch %>円&nbsp;&nbsp;&nbsp;
              <% end %>
              <% unless spot.price_dinner.blank?  && spot.dinner_lunch != 0 %>
                <i class="fa fa-moon-o"></i>&nbsp;~<%= spot.price_dinner %>円
              <% end %>
            </p> 
            <%# カテゴリー %>
            <% unless spot.large.blank? %>
              <p style="color: #666666;margin:5px 0px;font-size:12px"><i class="fa fa-tag"></i>
              <% @i = 0 %>
                <% spot.large.each do |large| %>
                  <% @i = @i + 1 %>
                  <% if @i == spot.large.size %>
                    <%= large %>
                  <% else %>
                    <%= large %>/
                  <% end %> 
                <% end %>
              </p> 
            <% end %>
            <%# ジャンル %>
            <% unless spot.small.blank? %>
              <p style="color: #666666;margin:5px 0px;font-size:12px"><i class="fa fa-cutlery"></i>&nbsp;
              <% @i = 0 %>
                <% spot.small.each do |small| %>
                  <% @i = @i + 1 %>
                  <% if @i == spot.small.size %>
                    <%= small %>
                  <% else %>
                    <%= small %>/
                  <% end %>
                <% end %>
              </p> 
            <% end %>
            <%# 営業時間 %>
            <div onclick="obj=document.getElementById('open<%= @n %>').style; obj.display=(obj.display=='none')?'block':'none';">
              <p style="cursor:pointer;color: #66666;margin:5px 0px;font-size:12px;">
                <i class="fa fa-clock-o"></i>
                <% if @wday == 0 %>
                <% unless spot.sunday.blank? %>(日)<%= spot.sunday %><% end %>
                <% end %>
                <% if @wday == 1 %>
                <% unless spot.monday.blank? %>(月)<%= spot.monday %><% end %>
                <% end %>
                <% if @wday == 2 %>
                <% unless spot.tuesday.blank? %>(火)<%= spot.tuesday %><% end %>
                <% end %>
                <% if @wday == 3 %>
                <% unless spot.wednesday.blank? %>(水)<%= spot.wednesday %><% end %>
                <% end %>
                <% if @wday == 4 %>
                <% unless spot.thursday.blank? %>(木)<%= spot.thursday %><% end %>
                <% end %>
                <% if @wday == 5 %>
                <% unless spot.friday.blank? %>(金)<%= spot.friday %><% end %>
                <% end %>
                <% if @wday == 6 %>
                <% unless spot.saturday.blank? %>(土)<%= spot.saturday %><% end %>
                <% end %>
                ▼
              </p>
            </div>
            <div id="open<%= @n %>" style="display:none;clear:both;">
              <p style="color: #66666;margin-top:5px;font-size:12px">
                月&nbsp;&nbsp;<% unless spot.monday.blank? %><%= spot.monday %><% end %><br>
                火&nbsp;&nbsp;<% unless spot.tuesday.blank? %><%= spot.tuesday %><% end %><br>
                水&nbsp;&nbsp;<% unless spot.wednesday.blank? %><%= spot.wednesday %><% end %><br>
                木&nbsp;&nbsp;<% unless spot.thursday.blank? %><%= spot.thursday %><% end %><br>
                金&nbsp;&nbsp;<% unless spot.friday.blank? %><%= spot.friday %><% end %><br>
                土&nbsp;&nbsp;<% unless spot.saturday.blank? %><%= spot.saturday %><% end %><br>
                日&nbsp;&nbsp;<% unless spot.sunday.blank? %><%= spot.sunday %><% end %><br>
                祝&nbsp;&nbsp;<% unless spot.holiday.blank? %><%= spot.holiday %><% end %><br>
              </p> 
            </div>
            <%# 食べログ、rettyボタン等 %>
            <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
            <div class="info-box1-min">
              <% unless spot.tabelog.blank? %>
                <a href="<%= spot.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログ</a>
              <% end %>
              <% unless spot.retty.blank? %>
                <a href="<%= spot.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Retty</a>
              <% end %>
              <% unless spot.introduction.blank? %>
                <a href="<%= spot.introduction %>" target="_blank" class="raise4-result"><span><i class="fa fa-instagram"></i>&nbsp;Instagram</span></a>
              <% end %>
            </div>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
          </div>  
        </div>
        </div>
      </div>
    <% end %>
　
		<br>
      <div class="col-xs-12">
        <div class="text-center">
          <a href="javascript:;" onclick="koshin()" class=""><i class="fa fa-refresh"></i>&nbsp;Change</a>&nbsp;&nbsp;
          <%= submit_tag "次へ進む", :class => "btn btn-default" %>
        </div>
      </div>  
		
	<% end %>
	<% end %>

<% end %>


<%#詳細条件モーダルの中身%>
<div class="modal" id="myModal-distance">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(seeks_choice_path, method: :get) do %>
      	<%= hidden_field_tag :large, params[:large] %>
        <% unless params[:spot1].blank? %>
      		<%= hidden_field_tag :spot1, params[:spot1] %>
      	<% end %>
	  	<% unless params[:spot2].blank? %>
      		<%= hidden_field_tag :spot2, params[:spot2] %>
  		<% end %>
      	<div class="text-center" style="padding-top:30px;">
          	<div class="panel-body">
          	<%#タブ%>
		        <ul class="nav nav-pills">
		            <li class="active box-tab"><a data-toggle="tab" href="#city"><i class="fa fa-map-marker"></i></a>
		            </li>
		            <li class="box-tab"><a data-toggle="tab" href="#price"><i class="fa fa-yen"></i></a>
		            </li>
		            <li class="box-tab"><a data-toggle="tab" href="#timezone"><i class="fa fa-clock-o"></i></a>
		            </li>
		            <li class="box-tab"><a data-toggle="tab" href="#genre"><i class="fa fa-star-o"></i></a>
		            </li>
		        </ul>
		        <hr style="border-top: 1px solid #8c8b8b;">
		    <%#タブ中身%>
		        <div class="tab-content">
		            <div id="city" class="tab-pane fade in active">
                  <% if @spot_n == 2 || @spot_n == 3 %>
                    <% if @spot_n == 2 %>
                      <p>１軒目からの距離を指定できます</p>
                    <% end %>  
                    <% if @spot_n == 3 %>
                      <p>２軒目からの距離を指定できます</p>
                    <% end %>  
                    <br>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:distance_on, "true", @distance_on_on, {:id => "on"}) %>
                      <%= label_tag('on', "距離を指定する") %>
                    </span>
                    &nbsp;
                    <span class="radio-city"> 
                      <%= radio_button_tag(:distance_on, "false", @distance_on_off, {:id => "off"}) %>
                      <%= label_tag('off', "エリアを指定する") %>
                    </span>     
                    <br><br><br>
                    <div class="row">
                      <div class="col-xs-offset-1 col-xs-10">
                        <input id="distance" name="distance" type="range" value="<%= params[:distance].to_i %>" min="1" max="2000" step="1" class="search-detail"
                          oninput="document.getElementById('output2').value=this.value">
                          <div class="pull-right">
                          <span class="rage-output2">~</span><output id="output2" class="rage-output2"><%= params[:distance].to_i %></output><span class="rage-output2">m</span>
                        </div>
                      </div>
                    </div>
                    <br><br>
                  <% end %>  
  		            <p>エリアを指定しますか？</p>
                  <br>
				        	<span class="radio-city"> 
				              <%= radio_button_tag(:city, "すべてのエリア", @all, {:id => "all"}) %>
				              <%= label_tag('all', "すべてのエリア") %>
				            </span>
				            <span class="radio-city"> 
				              <%= radio_button_tag(:city, "恵比寿・代官山・中目黒", @ebisu, {:id => "ebisu"}) %>
				              <%= label_tag('ebisu', "恵比寿・代官山・中目黒") %>
				            </span>
				            <span class="radio-city"> 
				              <%= radio_button_tag(:city, "渋谷", @shibuya, {:id => "shibuya"}) %>
				              <%= label_tag('shibuya', "渋谷") %>
				            </span>
				            <span class="radio-city"> 
				              <%= radio_button_tag(:city, "原宿・表参道・青山", @harajuku, {:id => "harajuku"}) %>
				              <%= label_tag('harajuku', "原宿・表参道・青山") %>
				            </span>
				            <span class="radio-city"> 
				              <%= radio_button_tag(:city, "新宿", @shinjuku, {:id => "shinjuku"}) %>
				              <%= label_tag('shinjuku', "新宿") %>
				            </span>
				            <span class="radio-city"> 
				              <%= radio_button_tag(:city, "東京・丸の内・日本橋", @tokyo, {:id => "tokyo"}) %>
				              <%= label_tag('tokyo', "東京・丸の内・日本橋") %>
				            </span>
				            <span class="radio-city"> 
				              <%= radio_button_tag(:city, "六本木・麻布・赤坂", @roppongi, {:id => "roppongi"}) %>
				              <%= label_tag('roppongi', "六本木・麻布・赤坂") %>
				            </span>    
			        	<br>
		            </div>
		            <div id="price" class="tab-pane fade">
				          <p>予算はいくらにしますか？</p>
				          <br><br>
                  <% if @large == "ランチ" || @large == "ディナー" %>
  				          <div style="width:80%;margin:0 auto;">
  				            <span class="pull-left">
  				              <span id="value-lower"></span>円
  				            </span>
  				            <span class="pull-right">
  				              <span id="value-upper"></span>円
  				            </span>
  				          </div>
  				          <br><br>
  				          <div style="width:75%;margin:0 auto;">  
  				            <div id="slider"></div>
  				          </div>
  				          <%= hidden_field_tag :price_min , params[:price_min].to_i, :class =>"min" %>
  				          <%= hidden_field_tag :price_max , params[:price_max].to_i, :class =>"max" %>
                    <br><br>
                    <% else %>
                      <p style="font-size:10px;">※ランチ,ディナーのみ予算で絞る機能が使えます</p>
                    <% end %>
      		      </div>
		            <div id="timezone" class="tab-pane fade">
		            	<p>時間帯を指定しますか？</p>
				          <br>
		            	<div class="box-city">
		                	<span class="radio-city"> 
				              <%= radio_button_tag(:timezone, "すべての時間帯", @all_timezone, {:id => "all-timezone"}) %>
				              <%= label_tag('all-timezone', "すべての時間帯") %>
				            </span>
				            <br>
				            <span class="radio-city"> 
				              <%= radio_button_tag(:timezone, "昼", @noon, {:id => "noon"}) %>
				              <%= label_tag('noon', "昼") %>
				            </span>
                    &nbsp;&nbsp;&nbsp;
				            <span class="radio-city"> 
				              <%= radio_button_tag(:timezone, "夜", @night, {:id => "night"}) %>
				              <%= label_tag('night', "夜") %>
				            </span>
				        </div>
		            </div>
		            <div id="genre" class="tab-pane fade">
				            <p>ジャンルを指定しますか？</p>
				            <br>
				          	<p style="font-size:10px;">※只今,ジャンルで絞る機能を準備しております</p>
		            </div>
	        	</div>
	        </div>

        	<%= submit_tag "絞る", :class => "btn btn-default" %>
        	<br><br>
        	<div class="panel-body">
	          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">閉じる×</button>
	        </div>
	    </div>
      <% end %>  
    </div>
  </div>
</div>

<script>
$("#slider").noUiSlider({
  start: [<%= params[:price_min].to_i %>, <%= params[:price_max].to_i %>],
  step: 500,
  connect: true,
  format: wNumb({
    decimals: 0
  }),
  range: {
    'min': 0,
    'max': 20000
  }
});
$('#slider').Link('lower').to($('#value-lower'), 'html');
$('#slider').Link('upper').to($('#value-upper'), 'html');

$("#slider").on('slide', function(event, values) {
    $("input.min").val(values[0]);
    $("input.max").val(values[1]);
  });
</script>



</mains>


