<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<div class="pc_1">
  
<% if @spots.blank? %>	

  <h4 class="text-center" style="margin:20px 0px;">
    該当するスポットがありません
  </h4> 

  <h4 class="text-center" style="margin:20px 0px;">
    <a href="" data-toggle="modal" data-target="#myModal-distance">
      <span style="font-size:12px;">
      <i class="fa fa-chevron-circle-down"></i>&nbsp;条件変更
      </span>
    </a>
  </h4> 

<% else %>

	<p class="text-center" style="margin:20px 0px;color:black;">
	    行きたいスポットを選択してください
  </p> 

  <%= render 'choice' %>
  <div class="text-center">
    <%= paginate @spots %>
  </div>

  <div class="btn-details">
   <a href="" data-toggle="modal" data-target="#myModal-distance" id="btn-detail">
    <i class="fa fa-search"></i>
   </a>
  </div>

<% end %>


<%#詳細条件モーダルの中身%>
<div class="modal" id="myModal-distance">
  <div class="modal-dialog">
  <%= form_tag(seeks_choice_path, method: :get) do %>
    <%= hidden_field_tag :large, params[:large] %>
    <% unless params[:ss].blank? %>
      <% params[:ss].each.with_index(1) do |s, i| %>
        <%= hidden_field_tag 'ss[]', s %>
      <% end %>
    <% end %>
    <div class="modal-content">
      	<div class="text-center" style="padding-top:30px;">
          	<div class="panel-body">
          	<%#タブ%>
		        <ul class="nav nav-pills">
		            <li class="active box-tab"><a data-toggle="tab" href="#city"><i class="fas fa-map-marker-alt"></i></a>
		            </li>
                <li class="box-tab"><a data-toggle="tab" href="#timezone"><i class="fas fa-tag"></i></a>
                </li>
		            <li class="box-tab"><a data-toggle="tab" href="#price"><i class="fas fa-yen-sign"></i></a>
		            </li>
		            <li class="box-tab"><a data-toggle="tab" href="#genre"><i class="far fa-star"></i></a>
		            </li>
		        </ul>
		        <hr style="border-top: 1px solid #8c8b8b;">     
		    <%#タブ中身%>
		        <div class="tab-content">
		            <div id="city" class="tab-pane fade in active">
                  <% if @ss.size >= 1 %>
                    <p>どちらで指定しますか？</p>  
                    <br>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:distance_on, "true", @distance_on_on, {:id => "on", :onclick => "entryChange1();"}) %>
                      <%= label_tag('on', "距離を指定する") %>
                    </span>
                    &nbsp;
                    <span class="radio-city"> 
                      <%= radio_button_tag(:distance_on, "false", @distance_on_off, {:id => "off", :onclick => "entryChange1();"}) %>
                      <%= label_tag('off', "エリアを指定する") %>
                    </span>   
                    <hr>
                    <div id="firstBox">  
                      <p><%= @ss.size %>軒目からの距離を指定できます</p>  
                      <div style="height:30px;"></div>
                      <div class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                          <input id="distance" name="distance" type="range" value="<%= params[:distance].to_i %>" min="1" max="2000" step="1" class="search-detail"
                            oninput="document.getElementById('output2').value=this.value">
                          <div class="pull-right">
                            <span class="rage-output2">~</span><output id="output2" class="rage-output2"><%= params[:distance].to_i %></output><span class="rage-output2">m</span>
                          </div>
                        </div>
                      </div>
                      <div style="height:30px;"></div>
                      <div style="height:30px;"></div>
                    </div>
                    <div id="secondBox">
                      <p>エリアを指定できます</p>
                      <br>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "恵比寿・代官山・中目黒", @ebisu, {:id => "ebisu"}) %>
                        <%= label_tag('ebisu', "恵比寿・代官山・中目黒") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "渋谷", @shibuya, {:id => "shibuya"}) %>
                        <%= label_tag('shibuya', "渋谷") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "原宿・表参道・青山", @harajuku, {:id => "harajuku"}) %>
                        <%= label_tag('harajuku', "原宿・表参道・青山") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "新宿", @shinjuku, {:id => "shinjuku"}) %>
                        <%= label_tag('shinjuku', "新宿") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "東京・丸の内・日本橋", @tokyo, {:id => "tokyo"}) %>
                        <%= label_tag('tokyo', "東京・丸の内・日本橋") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "六本木・麻布・赤坂", @roppongi, {:id => "roppongi"}) %>
                        <%= label_tag('roppongi', "六本木・麻布・赤坂") %>
                      </span>    
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "お台場", @odaiba, {:id => "odaiba"}) %>
                        <%= label_tag('odaiba', "お台場") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "品川", @shinagawa, {:id => "shinagawa"}) %>
                        <%= label_tag('shinagawa', "品川") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "池袋", @ikebukuro, {:id => "ikebukuro"}) %>
                        <%= label_tag('ikebukuro', "池袋") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "銀座・有楽町", @ginze, {:id => "ginze"}) %>
                        <%= label_tag('ginze', "銀座・有楽町") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "新橋・汐留・浜松町", @shinbashi, {:id => "shinbashi"}) %>
                        <%= label_tag('shinbashi', "新橋・汐留・浜松町") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "上野", @ueno, {:id => "ueno"}) %>
                        <%= label_tag('ueno', "上野") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "浅草・押上", @asakusa, {:id => "asakusa"}) %>
                        <%= label_tag('asakusa', "浅草・押上") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "目黒・白金・五反田", @meguro, {:id => "meguro"}) %>
                        <%= label_tag('meguro', "目黒・白金・五反田") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "吉祥寺・三鷹", @kichijoji, {:id => "kichijoji"}) %>
                        <%= label_tag('kichijoji', "吉祥寺・三鷹") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "神楽坂・飯田橋", @kagurazaka, {:id => "kagurazaka"}) %>
                        <%= label_tag('kagurazaka', "神楽坂・飯田橋") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "下北沢", @shimokitazawa, {:id => "shimokitazawa"}) %>
                        <%= label_tag('shimokitazawa', "下北沢") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "谷中・根津・千駄木", @taninaka, {:id => "taninaka"}) %>
                        <%= label_tag('taninaka', "谷中・根津・千駄木") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "神田・秋葉原・御茶ノ水", @kanda, {:id => "kanda"}) %>
                        <%= label_tag('kanda', "神田・秋葉原・御茶ノ水") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "赤坂・虎ノ門・永田町", @akasaka, {:id => "akasaka"}) %>
                        <%= label_tag('akasaka', "赤坂・虎ノ門・永田町") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "四ツ谷・信濃町・千駄ヶ谷", @yotsuya, {:id => "yotsuya"}) %>
                        <%= label_tag('yotsuya', "四ツ谷・信濃町・千駄ヶ谷") %>
                      </span>
                      <div style="height:50px;"></div>
                    </div>
                  <% else %>  
    		            <p>エリアを指定しますか？</p>
                    <br>
  				            <span class="radio-city"> 
  				              <%= radio_button_tag(:city, "恵比寿・代官山・中目黒", @ebisu, {:id => "ebisu"}) %>
  				              <%= label_tag('ebisu', "恵比寿・代官山・中目黒") %>
  				            </span>
  				            <span class="radio-city"> 
  				              <%= radio_button_tag(:city, "渋谷", @shibuya, {:id => "shibuya"}) %>
  				              <%= label_tag('shibuya', "渋谷") %>
  				            </span>
  				            <span class="radio-city"> 
  				              <%= radio_button_tag(:city, "原宿・表参道・青山", @harajuku, {:id => "harajuku"}) %>
  				              <%= label_tag('harajuku', "原宿・表参道・青山") %>
  				            </span>
  				            <span class="radio-city"> 
  				              <%= radio_button_tag(:city, "新宿", @shinjuku, {:id => "shinjuku"}) %>
  				              <%= label_tag('shinjuku', "新宿") %>
  				            </span>
  				            <span class="radio-city"> 
  				              <%= radio_button_tag(:city, "東京・丸の内・日本橋", @tokyo, {:id => "tokyo"}) %>
  				              <%= label_tag('tokyo', "東京・丸の内・日本橋") %>
  				            </span>
  				            <span class="radio-city"> 
  				              <%= radio_button_tag(:city, "六本木・麻布・赤坂", @roppongi, {:id => "roppongi"}) %>
  				              <%= label_tag('roppongi', "六本木・麻布・赤坂") %>
  				            </span>    
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "お台場", @odaiba, {:id => "odaiba"}) %>
                        <%= label_tag('odaiba', "お台場") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "品川", @shinagawa, {:id => "shinagawa"}) %>
                        <%= label_tag('shinagawa', "品川") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "池袋", @ikebukuro, {:id => "ikebukuro"}) %>
                        <%= label_tag('ikebukuro', "池袋") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "銀座・有楽町", @ginze, {:id => "ginze"}) %>
                        <%= label_tag('ginze', "銀座・有楽町") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "新橋・汐留・浜松町", @shinbashi, {:id => "shinbashi"}) %>
                        <%= label_tag('shinbashi', "新橋・汐留・浜松町") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "上野", @ueno, {:id => "ueno"}) %>
                        <%= label_tag('ueno', "上野") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "浅草・押上", @asakusa, {:id => "asakusa"}) %>
                        <%= label_tag('asakusa', "浅草・押上") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "目黒・白金・五反田", @meguro, {:id => "meguro"}) %>
                        <%= label_tag('meguro', "目黒・白金・五反田") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "吉祥寺・三鷹", @kichijoji, {:id => "kichijoji"}) %>
                        <%= label_tag('kichijoji', "吉祥寺・三鷹") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "神楽坂・飯田橋", @kagurazaka, {:id => "kagurazaka"}) %>
                        <%= label_tag('kagurazaka', "神楽坂・飯田橋") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "下北沢", @shimokitazawa, {:id => "shimokitazawa"}) %>
                        <%= label_tag('shimokitazawa', "下北沢") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "谷中・根津・千駄木", @taninaka, {:id => "taninaka"}) %>
                        <%= label_tag('taninaka', "谷中・根津・千駄木") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "神田・秋葉原・御茶ノ水", @kanda, {:id => "kanda"}) %>
                        <%= label_tag('kanda', "神田・秋葉原・御茶ノ水") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "赤坂・虎ノ門・永田町", @akasaka, {:id => "akasaka"}) %>
                        <%= label_tag('akasaka', "赤坂・虎ノ門・永田町") %>
                      </span>
                      <span class="radio-city"> 
                        <%= radio_button_tag(:city, "四ツ谷・信濃町・千駄ヶ谷", @yotsuya, {:id => "yotsuya"}) %>
                        <%= label_tag('yotsuya', "四ツ谷・信濃町・千駄ヶ谷") %>
                      </span>
			        	      <div style="height:50px;"></div>
                  <% end %>  
		            </div>
		            <div id="price" class="tab-pane fade">
				          <p>予算はいくらにしますか？</p>
				          <br>
                  <% if @large == "ランチ" || @large == "ディナー" || @large == "バー" %>
                    <br>
  				          <div style="width:80%;margin:0 auto;">
  				            <span class="pull-left">
  				              <span id="value-lower"></span>円
  				            </span>
  				            <span class="pull-right">
  				              <span id="value-upper"></span>円
  				            </span>
  				          </div>
  				          <div style="height:30px;"></div>
  				          <div style="width:75%;margin:0 auto;">  
  				            <div id="slider"></div>
  				          </div>
  				          <%= hidden_field_tag :price_min , params[:price_min].to_i, :class =>"min" %>
  				          <%= hidden_field_tag :price_max , params[:price_max].to_i, :class =>"max" %>
                    <div style="height:30px;"></div>
                    <div style="height:30px;"></div>
                    <% else %>
                      <p style="font-size:10px;">※ランチ,ディナー,バーのみ予算で絞る機能が使えます</p>
                    <% end %>
      		      </div>
		            <div id="timezone" class="tab-pane fade">
		            	<p>どのカテゴリーにしますか？</p>
				          <br>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "ランチ", @lunch, {:id => "lunch"}) %>
                      <%= label_tag('lunch', "ランチ") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "ディナー", @dinner, {:id => "dinner"}) %>
                      <%= label_tag('dinner', "ディナー") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "カフェ", @cafe, {:id => "cafe"}) %>
                      <%= label_tag('cafe', "カフェ") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "アニマルカフェ", @animal, {:id => "animal"}) %>
                      <%= label_tag('animal', "アニマルカフェ") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "バー", @bar, {:id => "bar"}) %>
                      <%= label_tag('bar', "バー") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "映画", @movie, {:id => "movie"}) %>
                      <%= label_tag('movie', "映画") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "ショップ・雑貨屋", @shop, {:id => "shop"}) %>
                      <%= label_tag('shop', "ショップ・雑貨屋") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "カラオケ", @karaoke, {:id => "karaoke"}) %>
                      <%= label_tag('karaoke', "カラオケ") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "スポーツ", @sport, {:id => "sport"}) %>
                      <%= label_tag('sport', "スポーツ") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "夜景", @nitht_view, {:id => "nitht_view"}) %>
                      <%= label_tag('nitht_view', "夜景") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "プラネタリウム", @planetarium, {:id => "planetarium"}) %>
                      <%= label_tag('planetarium', "プラネタリウム") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "動物園", @zoo, {:id => "zoo"}) %>
                      <%= label_tag('zoo', "動物園") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "水族館", @aquarium, {:id => "aquarium"}) %>
                      <%= label_tag('aquarium', "水族館") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "美術館", @museum, {:id => "museum"}) %>
                      <%= label_tag('museum', "美術館") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "遊園地", @amusement_park, {:id => "amusement_park"}) %>
                      <%= label_tag('amusement_park', "遊園地") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "ボーリング", @bowling, {:id => "bowling"}) %>
                      <%= label_tag('bowling', "ボーリング") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "ダーツ", @darts, {:id => "darts"}) %>
                      <%= label_tag('darts', "ダーツ") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "食べ歩き", @walk_eat, {:id => "walk_eat"}) %>
                      <%= label_tag('walk_eat', "食べ歩き") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "公園", @park, {:id => "park"}) %>
                      <%= label_tag('park', "公園") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "スパ・温泉", @spa, {:id => "spa"}) %>
                      <%= label_tag('spa', "スパ・温泉") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "ゲームセンター", @game, {:id => "game"}) %>
                      <%= label_tag('game', "ゲームセンター") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "お寺・神社", @temple, {:id => "temple"}) %>
                      <%= label_tag('temple', "お寺・神社") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "劇場", @theater, {:id => "theater"}) %>
                      <%= label_tag('theater', "劇場") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "インターネットカフェ", @cyber, {:id => "cyber"}) %>
                      <%= label_tag('cyber', "インターネットカフェ") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "コンセプトカフェ・バー", @consept, {:id => "consept"}) %>
                      <%= label_tag('consept', "コンセプトカフェ・バー") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "体験", @experience, {:id => "experience"}) %>
                      <%= label_tag('experience', "体験") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "ストリート", @street, {:id => "street"}) %>
                      <%= label_tag('street', "ストリート") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "複合施設", @complex, {:id => "complex"}) %>
                      <%= label_tag('complex', "複合施設") %>
                    </span>
                    <span class="radio-city"> 
                      <%= radio_button_tag(:large, "その他", @other, {:id => "other"}) %>
                      <%= label_tag('other', "その他") %>
                    </span>
                    <div style="height:50px;"></div>
		            </div>
		            <div id="genre" class="tab-pane fade">
				            <p>ジャンルを指定しますか？</p>
				            <br>
                    <% if @large == "ランチ" || @large == "ディナー" %>
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "和食", @japanese, {:id => "japanese"}) %>
                        <%= label_tag('japanese', "和食") %>
                      </span>
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "焼き鳥・鳥料理", @yakitori, {:id => "yakitori"}) %>
                        <%= label_tag('yakitori', "焼き鳥・鳥料理") %>
                      </span>
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "寿司", @sushi, {:id => "sushi"}) %>
                        <%= label_tag('sushi', "寿司") %>
                      </span>
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "焼肉・ホルモン", @yakiniku, {:id => "yakiniku"}) %>
                        <%= label_tag('yakiniku', "焼肉・ホルモン") %>
                      </span>                       
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "ステーキ・ハンバーグ", @steak, {:id => "steak"}) %>
                        <%= label_tag('steak', "ステーキ・ハンバーグ") %>
                      </span>
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "鍋", @pot, {:id => "pot"}) %>
                        <%= label_tag('pot', "鍋") %>
                      </span>
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "フレンチ", @french, {:id => "french"}) %>
                        <%= label_tag('french', "フレンチ") %>
                      </span>
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "イタリアン", @italian, {:id => "italian"}) %>
                        <%= label_tag('italian', "イタリアン") %>
                      </span>
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "西洋各国料理", @western, {:id => "western"}) %>
                        <%= label_tag('western', "西洋各国料理") %>
                      </span>
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "中華料理", @chinese, {:id => "chinese"}) %>
                        <%= label_tag('chinese', "中華料理") %>
                      </span>
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "アジア・エスニック", @asia, {:id => "asia"}) %>
                        <%= label_tag('asia', "アジア・エスニック") %>
                      </span>
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "カフェ", @cafe_s, {:id => "cafe-s"}) %>
                        <%= label_tag('cafe-s', "カフェ") %>
                      </span>
                      <span class="check-city"> 
                        <%= check_box_tag('small[]', "その他", @otherwise, {:id => "otherwise"}) %>
                        <%= label_tag('otherwise', "その他") %>
                      </span>
                      <div style="height:30px;"></div>
                    <% else %>
                      <% if @large == "食べ歩き" %>
                        <span class="radio-city"> 
                          <%= check_box_tag('small[]', "パン・サンドイッチ", @bread, {:id => "bread"}) %>
                          <%= label_tag('bread', "パン・サンドイッチ") %>
                        </span>
                        <span class="radio-city"> 
                          <%= check_box_tag('small[]', "コーヒー・ジュース", @coffee, {:id => "coffee"}) %>
                          <%= label_tag('coffee', "コーヒー・ジュース") %>
                        </span>
                        <span class="radio-city"> 
                          <%= check_box_tag('small[]', "スイーツ", @sweets, {:id => "sweets"}) %>
                          <%= label_tag('sweets', "スイーツ") %>
                        </span>
                        <span class="radio-city"> 
                          <%= check_box_tag('small[]', "その他", @otherwise, {:id => "otherwise"}) %>
                          <%= label_tag('otherwise', "その他") %>
                        </span>
                        <div style="height:30px;"></div>
                      <% else %>
                        <p style="font-size:10px;">※ランチ,ディナー,食べ歩きのみジャンルで絞る機能が使えます</p>
                      <% end %>
                    <% end %>
		            </div>
	        	</div>
	        </div>
	    </div>
    </div>
    </div>
    <div class="">
      <%= submit_tag "絞る", :class => "btn btn-default inline" %>
    </div>
    <% end %>  
    <div class="btn-details">
     <a href="" data-toggle="modal" data-dismiss="modal" id="btn-detail">
      <i class="fa fa-close"></i>
     </a>
    </div>
  </div>
</div>

</div>

  <div class="pc_2">
    <%= render "partial/fotter_home" %>
  </div>

<script>
$("#slider").noUiSlider({
  start: [<%= params[:price_min].to_i %>, <%= params[:price_max].to_i %>],
  step: 500,
  connect: true,
  format: wNumb({
    decimals: 0
  }),
  range: {
    'min': 0,
    'max': 20000
  }
});
$('#slider').Link('lower').to($('#value-lower'), 'html');
$('#slider').Link('upper').to($('#value-upper'), 'html');

$("#slider").on('slide', function(event, values) {
    $("input.min").val(values[0]);
    $("input.max").val(values[1]);
  });
</script>


<%= render "partial/footer" %>
</mains>

<script type="text/javascript">
  function entryChange1(){
    radio = document.getElementsByName('distance_on') 
    if(radio[0].checked) {
      //フォーム
      document.getElementById('firstBox').style.display = "";
      document.getElementById('secondBox').style.display = "none";
      //特典
      document.getElementById('firstNotice').style.display = "";
    }else if(radio[1].checked) {
      //フォーム
      document.getElementById('firstBox').style.display = "none";
      document.getElementById('secondBox').style.display = "";
      //特典
      document.getElementById('firstNotice').style.display = "none";
    }
  }
  
  //オンロードさせ、リロード時に選択を保持
  window.onload = entryChange1;
</script>


