<% set_meta_tags noindex: true %>
<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<div class="pc_1">

	<div class="box-balloon">
    <h4 class="text-center">条件を確認しましょう</h4>
    <div class="balloon-off">
      1
    </div>
    <div class="balloon-line"></div>
    <div class="balloon-on">
      2
    </div>
    <div class="balloon-line"></div>
    <div class="balloon-off">
      3
    </div>
  </div>

    <div class="box-line">

        <div style="text-align:left;">
        	<h4 style="margin-bottom:0px;">Area</h4>
        	<p><%= params[:area] %></p>
        	<h4 style="margin-bottom:0px;">Timezone</h4>
        	<p><%= params[:time_start] %>~<%= params[:time_end] %></p>
        	<h4 style="margin-bottom:0px;">Price</h4>
        	<%= params[:price_min] %>~<%= params[:price_max] %>円</p>
        	<h4 style="margin-bottom:0px;">Image</h4>
        	<p><%= params[:image] %></p>
        	<h4 style="margin-bottom:0px;">Relation</h4>
        	<p><%= params[:relation] %></p>
        	<h4 style="margin-bottom:0px;">Personal</h4>
        	<p>あなた&nbsp;<%= params[:age_you] %>/<%= params[:sex_you] %><br>
            ご相手&nbsp;<%= params[:age_opponent] %>/<%= params[:sex_opponent] %></p>
        	<h4 style="margin-bottom:0px;">Spot</h4>
        	<p><%= params[:spot] %></p>
        	<h4 style="margin-bottom:0px;">Term</h4>
        	<p><%= params[:term] %></p>
        	<h4 style="margin-bottom:0px;">Email</h4>
        	<p><%= params[:mail] %></p>
        </div> 

        <p class="text-center" style="padding:20px 0px;color:black;">上記の内容が正しければ、支払いにお進みください。</p>
        
        <%= form_tag(seeks_sent_path, method: :post) do %>
        	<%= hidden_field_tag :area, params[:area] %>
        	<%= hidden_field_tag :time_start, params[:time_start] %>
        	<%= hidden_field_tag :time_end, params[:time_end] %>
        	<%= hidden_field_tag :price_min, params[:price_min] %>
        	<%= hidden_field_tag :price_max, params[:price_max] %>
        	<%= hidden_field_tag :image, params[:image] %>
        	<%= hidden_field_tag :relation, params[:relation] %>
        	<%= hidden_field_tag :age_you, params[:age_you] %>
            <%= hidden_field_tag :sex_you, params[:sex_you] %>
        	<%= hidden_field_tag :age_opponent, params[:age_opponent] %>
            <%= hidden_field_tag :sex_opponent, params[:sex_opponent] %>
        	<%= hidden_field_tag :spot, params[:spot] %>
        	<%= hidden_field_tag :term, params[:term] %>
        	<%= hidden_field_tag :mail, params[:mail] %>
        	<div class="text-center">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-name="A.Date"
		          data-description="カード情報をご記入ください"
		          data-amount="300"
		          data-currency="jpy"
		          data-locale="auto"
		          data-email="<%= params[:mail] %>"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png">   
		  	</script>
		  	<div style="padding:10px 0px; font-size:12px;">
		  		※VISA,マスター、アメックスでのお支払いが可能です。
		  		<br>
		  		<%= image_tag "card_visa_b.gif", :class =>'img-card' %>
		  		<%= image_tag "card_master_b.gif", :class =>'img-card' %>
		  		<%= image_tag "card_amex_b.gif", :class =>'img-card' %>
		  	</div>	
          	</div>
        <% end %>
           
    </div>

    </div>

  <div class="pc_2">
    <%= render "partial/fotter_home" %>
  </div>

<%= render "partial/footer" %>
</mains>