<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<div class="pc_1">

<div style="padding:20px 15px;">
	<h3><span class="what">Course</span></h3>
</div>
<%= render 'courses' %>

<div class="text-center">
  <%= paginate @courses %>
</div>

<br><br>

</div>

  <div class="pc_2">
    <%= render "partial/fotter_home" %>
  </div>

</mains>
<% if (user_signed_in?) %>
  <% if current_user.authority == "manager" %>
    <%= render "partial/footer" %>
  <% end %>
<% end %>