<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<div class="pc_1">
	
  <div class="box90" id=''>
  	<% unless params[:ss].blank? %>
  		<div>
			<p style="color:white;text-shadow: 1px 1px 2px black;">次に<%= @ss.size + 1 %>軒目を決めましょう</p>			
	    </div>
	    <div>
	      <h4 class="" style="color:white;text-shadow: 1px 1px 2px black;"><%= @ss.size + 1 %>軒目までの距離はどうしますか？</h4>
	    </div>
    <% end %>
  	<br>

    <div>
    <%= form_tag(seeks_category_path, method: :get) do %>
	<%= hidden_field_tag :price_min , params[:price_min] %>
	<%= hidden_field_tag :price_max , params[:price_max] %>
	<%= hidden_field_tag :distance_on, "true" %>
	<%= hidden_field_tag :distance, params[:distance] %>
	<%= hidden_field_tag :timezone, params[:timezone] %>
	<%= hidden_field_tag :small, params[:small] %>
	<% unless params[:ss].blank? %>
    	<% params[:ss].each.with_index(1) do |s, i| %>
            <%= hidden_field_tag 'ss[]', s %>
        <% end %>
    <% end %>
	</div>

    <br><br><br>
	  <div style="width:80%">
	    <input id="distance" name="distance" type="range" value="<%= params[:distance].to_i %>" min="1" max="2000" step="1" class="search-detail-b"
	      oninput="document.getElementById('output2').value=this.value">
	      <div class="pull-right">
	      <span class="rage-output">~</span><output id="output2" class="rage-output"><%= params[:distance].to_i %></output><span class="rage-output">m</span>
	    </div>
	  </div>
	 <br><br>
	<div>
	<%= submit_tag "次へ進む", :class => "btn btn-default" %>
	</div>
	<% end %>

	<div style="margin-top:5px;">

		<div style="display:inline-block;">
			<%= form_tag(seeks_area_path, method: :get) do %>
	      	<%= hidden_field_tag :price_min , params[:price_min] %>
	      	<%= hidden_field_tag :price_max , params[:price_max] %>
	      	<%= hidden_field_tag :distance_on, "false" %>
	      	<%= hidden_field_tag :distance, params[:distance] %>
	      	<%= hidden_field_tag :timezone, params[:timezone] %>
	      	<%= hidden_field_tag :small, params[:small] %>
	      	<% unless params[:ss].blank? %>
		    	<% params[:ss].each.with_index(1) do |s, i| %>
                	<%= hidden_field_tag 'ss[]', s %>
             	<% end %>
		    <% end %>
	      	<%= submit_tag "エリアを指定する", :class => "btn-stop" %>
	    	<% end %>
    	</div>

    	<span style="color:white;">/</span>

    	<div style="display:inline-block;">
		    <%= form_tag(seeks_result_path, method: :get) do %>
				<% unless params[:ss].blank? %>
			    	<% params[:ss].each.with_index(1) do |s, i| %>
		                <%= hidden_field_tag 'ss[]', s %>
		            <% end %>
			    <% end %>
			    <%= submit_tag "ここまでにする", :class => "btn-stop" %>
		    <% end %>
	    </div>

	</div>

  </div>

</div>

  <div class="pc_2">
    <%= render "partial/fotter_home" %>
  </div>



</mains>

