<% set_meta_tags noindex: true %>
<%= render "partial/navbar" %>
<mains class="" id="main-collapse">
<div class="pc_1">

	<div class="box-balloon">
    <h4 class="text-center">条件を入力しましょう</h4>
    <div class="balloon-on">
      1
    </div>
    <div class="balloon-line"></div>
    <div class="balloon-off">
      2
    </div>
    <div class="balloon-line"></div>
    <div class="balloon-off">
      3
    </div>
  </div>

    <div style="padding:30px 20px;">
      <%= form_tag(seeks_confirm_path, method: :get) do %>
        <div class="panel-body">
          <div class="form-group">
            <p class="title-item"><span id="fab-item"><i class="fas fa-map-marker-alt"></i></span>ご希望のエリアをご記入ください&nbsp;<span style="color:red;font-size:10px;">※必須</span></p>
            <%= text_field_tag :area, '', placeholder: "例:恵比寿駅付近で", class: "form-control", required: "true" %>
            <p style="font-size:11px;" class="pull-right">※特に希望がない場合は指定なしとご記入ください</p>
          </div>
          <br><br><br>
          <div class="form-group">
            <p class="title-item"><span id="fab-item"><i class="far fa-clock"></i></span>ご希望の時間帯を選択してください&nbsp;<span style="color:red;font-size:10px;">※必須</span></p>
            <div style="width:100%;margin:0 auto;text-align:center;">  
            	<div style="width:30%;display:inline-block;">
            		<div class="select-box01">
		            	<%= select_tag :time_start, options_for_select([["00:00", "00:00"], ["00:30", "00:30"], ["01:00", "01:00"], ["01:30", "01:30"], ["02:00", "02:00"], ["02:30", "02:30"], ["03:00", "03:00"], ["03:30", "03:30"], ["04:00", "04:00"], ["04:30", "04:30"], ["05:00", "05:00"], ["05:30", "05:30"], ["06:00", "06:00"], ["06:30", "06:30"], ["07:00", "07:00"], ["07:30", "07:30"], ["08:00", "08:00"], ["08:30", "08:30"], ["09:00", "09:00"], ["09:30", "09:30"], ["10:00", "10:00"], ["10:30", "10:30"], ["11:00", "11:00"], ["11:30", "11:30"], ["12:00", "12:00"], ["12:30", "12:30"], ["13:00", "13:00"], ["13:30", "13:30"], ["14:00", "14:00"], ["14:30", "14:30"], ["15:00", "15:00"], ["15:30", "15:30"], ["16:00", "16:00"], ["16:30", "16:30"], ["17:00", "17:00"], ["17:30", "17:30"], ["18:00", "18:00"], ["18:30", "18:30"], ["19:00", "19:00"], ["19:30", "19:30"], ["20:00", "20:00"], ["20:30", "20:30"], ["21:00", "21:00"], ["21:30", "21:30"], ["22:00", "22:00"], ["22:30", "22:30"], ["23:00", "23:00"], ["23:30", "23:30"]], "12:00") %>
		            </div>
            	</div>
            	&nbsp;~&nbsp;
            	<div style="width:30%;display:inline-block;">
            		<div class="select-box01">
		            	<%= select_tag :time_end, options_for_select([["00:00", "00:00"], ["00:30", "00:30"], ["01:00", "01:00"], ["01:30", "01:30"], ["02:00", "02:00"], ["02:30", "02:30"], ["03:00", "03:00"], ["03:30", "03:30"], ["04:00", "04:00"], ["04:30", "04:30"], ["05:00", "05:00"], ["05:30", "05:30"], ["06:00", "06:00"], ["06:30", "06:30"], ["07:00", "07:00"], ["07:30", "07:30"], ["08:00", "08:00"], ["08:30", "08:30"], ["09:00", "09:00"], ["09:30", "09:30"], ["10:00", "10:00"], ["10:30", "10:30"], ["11:00", "11:00"], ["11:30", "11:30"], ["12:00", "12:00"], ["12:30", "12:30"], ["13:00", "13:00"], ["13:30", "13:30"], ["14:00", "14:00"], ["14:30", "14:30"], ["15:00", "15:00"], ["15:30", "15:30"], ["16:00", "16:00"], ["16:30", "16:30"], ["17:00", "17:00"], ["17:30", "17:30"], ["18:00", "18:00"], ["18:30", "18:30"], ["19:00", "19:00"], ["19:30", "19:30"], ["20:00", "20:00"], ["20:30", "20:30"], ["21:00", "21:00"], ["21:30", "21:30"], ["22:00", "22:00"], ["22:30", "22:30"], ["23:00", "23:00"], ["23:30", "23:30"]], "18:00") %>
		            </div>
            	</div>         
	        </div>
          </div>
          <br><br><br>
           <p class="title-item"><span id="fab-item"><i class="fas fa-yen-sign"></i></span>一人当たりの予算を指定してください<span style="color:red;font-size:10px;">※必須</span></p>
          <div style="width:80%;margin:0 auto;">
            <span class="pull-left">
              <span id="value-lower"></span>円
            </span>
            <span class="pull-right">
              <span id="value-upper"></span>円
            </span>
          </div>
          <br><br>
          <div style="width:75%;margin:0 auto;">  
            <div id="slider"></div>
          </div>
          <%= hidden_field_tag :price_min , params[:price_min].to_i, :class =>"min" %>
          <%= hidden_field_tag :price_max , params[:price_max].to_i, :class =>"max" %>
          <br><br><br><br>
          <div class="form-group">
            <p class="title-item"><span id="fab-item"><i class="fab fa-font-awesome-flag"></i></span>デートのイメージをご記入ください&nbsp;<span style="color:red;font-size:10px;">※必須</span></p>
            <div class="select-box01">
            	<%= select_tag :image, options_for_select([["クールに", "クールに"], ["カジュアルに", "カジュアルに"], ["ユニークに", "ユニークに"]], "クールに") %>
            </div>
          </div>
          <br><br><br>
          <div class="form-group">
            <p class="title-item"><span id="fab-item"><i class="far fa-handshake"></i></span>相手との関係を選択してください&nbsp;<span style="color:red;font-size:10px;">※必須</span></p>
            <div class="select-box01">
            	<%= select_tag :relation, options_for_select([["初デート", "初デート"], ["数回目のデート", "数回目のデート"], ["交際中", "交際中"], ["その他", "その他"]], "初デート") %>
            </div>
          </div>
          <br><br><br>
          <div class="form-group">
            <p class="title-item"><span id="fab-item"><i class="far fa-user"></i></span>年齢,性別について選択してください&nbsp;<span style="color:red;font-size:10px;">※必須</span></p>
            <div style="width:15%;display:inline-block;">
            	あなた
            </div>
            <div style="width:35%;display:inline-block;">
	        	<div class="select-box01">
	            <%= select_tag :age_you, options_for_select([["10代前半", "10代前半"], ["10代後半", "10代後半"], ["20代前半", "20代前半"], ["20代後半", "20代後半"], ["30代前半", "30代前半"], ["30代後半", "30代後半"], ["40代前半", "40代前半"], ["40代後半", "40代後半"], ["その他", "その他"]], "20代前半") %>
	            </div>
            </div>
            <div style="width:30%;display:inline-block;">
	        	<div class="select-box01">
	            <%= select_tag :sex_you, options_for_select([["男性", "男性"], ["女性", "女性"]], "男性") %>
	            </div>
            </div>
            <br><br>
            <div style="width:15%;display:inline-block;">
            	ご相手
            </div>
            <div style="width:35%;display:inline-block;">
	            <div class="select-box01">
	            	<%= select_tag :age_opponent, options_for_select([["10代前半", "10代前半"], ["10代後半", "10代後半"], ["20代前半", "20代前半"], ["20代後半", "20代後半"], ["30代前半", "30代前半"], ["30代後半", "30代後半"], ["40代前半", "40代前半"], ["40代後半", "40代後半"], ["その他", "その他"]], "20代前半") %>
	            </div>
            </div>
            <div style="width:30%;display:inline-block;">
	        	<div class="select-box01">
	            <%= select_tag :sex_opponent, options_for_select([["男性", "男性"], ["女性", "女性"]], "女性") %>
	            </div>
            </div>
          </div>
          <br><br><br>
          <div class="form-group">
            <p class="title-item"><span id="fab-item"><i class="fas fa-map-pin"></i></span>行きたいスポットがあればご記入ください&nbsp;<span style="font-size:10px;">※任意</span></p>
            <%= text_field_tag :spot, '', placeholder: "例:恵比寿ガーデンプレイス", class: "form-control" %>
          </div>
          <br><br><br>
          <div class="form-group">
            <p class="title-item"><span id="fab-item"><i class="fas fa-asterisk"></i></span>詳細な条件や希望をご記入ください&nbsp;<span style="font-size:10px;">※任意</span></p>
              <%= text_area_tag :term, '', rows: 7, placeholder: "例:高級感があって恵比寿っぽいけどコスパがいいお店を教えて欲しい。そのあとはお洒落なバーとかいいなあ", class: "form-control" %>
          </div> 
          <br><br><br>
          <div class="form-group">
            <p class="title-item"><span id="fab-item"><i class="fas fa-envelope-square"></i></span>メールアドレスをご記入ください&nbsp;<span style="color:red;font-size:10px;">※必須</span></p>
            <%= email_field_tag :mail, '', placeholder: "adate.ask@gmail.com", class: "form-control", required: "true" %>
          </div>
          <br><br>
          <div class="text-center">
            <%= submit_tag "確認する", :class => "btn btn-default" %>
          </div>
          <br>
        </div>
      <% end %>
    </div>

  </div>

  <div class="pc_2">
    <%= render "partial/fotter_home" %>
  </div>

<%= render "partial/footer" %>
</mains>

<script>
$("#slider").noUiSlider({
  start: [0, 20000],
  step: 500,
  connect: true,
  format: wNumb({
    decimals: 0
  }),
  range: {
    'min': 0,
    'max': 20000
  }
});
$('#slider').Link('lower').to($('#value-lower'), 'html');
$('#slider').Link('upper').to($('#value-upper'), 'html');

$("#slider").on('slide', function(event, values) {
    $("input.min").val(values[0]);
    $("input.max").val(values[1]);
  });
</script>
