<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

  <div class="pc_1">
  	<div class="img_about_home">
      <div style="height:40px;"></div>
      <h1 style="font-size:24px;color:white;margin-bottom:5px;">
        Coolなデートコースを10秒で
      </h1>
      <p class="text-center" style="font-size:13px;color:white;">
        デートコースがなかなか決まらないあなたへ
        <br>
        <span class="site-title">A.Date</span>は10秒でデートコースがつくれるサービスです
      </p>
      <div style="height:30px;"></div>
      <div class="">
        <%= link_to seeks_city_path do %>
          <div class="raised-trans">
            10秒でデートコースをつくる
          </div>
        <% end %>
      </div>
      <% if (user_signed_in?) %>
        <% if current_user.authority == "manager" %>
          <%= link_to seeks_area_path do %>     
            <span style="color:#CCC;">自分でつくる</span>  
          <% end %>
        <% end %>
      <% end %>
      <div style="height:30px;"></div>
      <h4 class="text-center" style="font-size:13px;">
        <span class="what-white"><span class="site-title">A.Date</span>おすすめカテゴリー</span>
        <div style="margin-top:7px;">
          <i class="fas fa-chevron-down"></i>
        </div>
      </h4>
    </div>
  </div>

<div class="container-tag">
  <div class="grid-tag">
    <div class="boximg-tag">
      <%= image_tag "sample01.jpg", :class =>'imgbox-tag' %>
      <h1>初デート</h1>
    </div>
  </div>

  <div class="grid-tag">
    <div class="boximg-tag">
      <%= image_tag "sample02.jpg", :class =>'imgbox-tag' %>
      <h1>記念日</h1>
    </div>
  </div>
  
  <div class="grid-tag">
    <div class="boximg-tag">
      <%= image_tag "sample03.jpg", :class =>'imgbox-tag' %>
      <h1>ドライブ</h1>
    </div>
  </div>

  <div class="grid-tag">
    <div class="boximg-tag">
      <%= image_tag "sample04.jpg", :class =>'imgbox-tag' %>
      <h1>雑貨屋巡り</h1>
    </div>
  </div>

  <div class="grid-tag">
    <div class="boximg-tag">
      <%= image_tag "sample05.jpg", :class =>'imgbox-tag' %>
      <h1>水族館</h1>
    </div>
  </div>

  <div class="grid-tag">
    <div class="boximg-tag">
      <%= image_tag "sample06.jpg", :class =>'imgbox-tag' %>
      <h1>遊園地</h1>
    </div>
  </div>

  <div class="grid-tag">
    <div class="boximg-tag">
      <%= image_tag "sample07.jpg", :class =>'imgbox-tag' %>
      <h1>公園</h1>
    </div>
  </div>

  <div class="grid-tag">
    <div class="boximg-tag">
      <%= image_tag "sample08.jpg", :class =>'imgbox-tag' %>
      <h1>プラネタリウム</h1>
    </div>
  </div>

  <div class="grid-tag">
    <div class="boximg-tag">
      <%= image_tag "sample09.jpg", :class =>'imgbox-tag' %>
      <h1>夜景</h1>
    </div>
  </div>

  <div class="grid-tag">
    <div class="boximg-tag">
      <%= image_tag "sample10.jpg", :class =>'imgbox-tag' %>
      <h1>自然</h1>
    </div>
  </div>

  <div class="grid-tag">
    <div class="boximg-tag">
      <%= image_tag "sample11.jpg", :class =>'imgbox-tag' %>
      <h1>海</h1>
    </div>
  </div>
</div>

  <div class="pc_2">
    <%= render "partial/fotter_home" %>
  </div>

<%= render "partial/footer" %>
</mains>



<script>
    $(function() {
  $("body").on("click", "a", function(e) {
    var _this = $(this);
    var _href = _this.attr("href");
  
    if (_href.charAt(0,1) == "#") {
      e.preventDefault();
      var _target  = $(_href == "#" || _href == "" ? $("html") : _href);
      if (_target.length == "0") _target = $("html");
      var position = _target.offset().top;
      var _scroll  = _this.data("scroll");
      if (_scroll !== undefined) position = position + Number(_scroll);
      if (position <= 0) position = 1;  //Android2系でスクロールのバグ対策
      $("html, body").animate({scrollTop : position} ,500, "swing");
      return false;
    }
  });
});

  </script>

  <script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>


