<%= render "partial/navbar_home" %>
<mains class="" id="main-collapse">

  <div class="pc_1">
  	<div class="box99" id='top'> 
  		<div style="margin-top:100px;">
  			<h4 class="text-center box-top1" style="font-size:22px;">
          Coolなデートコースを10秒で
        </h4>
  			<p class="text-center">デートコースがなかなか決まらないあなたへ</p>
  			<p class="text-center"><span class="site-title" style="letter-spacing:0em;">A.Date</span>は10秒でデートコースがつくれるサービスです</p>
  		</div>
      <div style="height:30px;"></div>
      <div class="home-box">
        <%= link_to seeks_city_path do %>
          <div class="raised-trans">
            10秒でデートコースをつくる
          </div>
        <% end %>
      </div>
      <div style="height:5px;"></div>
      <% if (user_signed_in?) %>
        <% if current_user.authority == "manager" %>
          <%= link_to seeks_area_path do %>     
            <span style="color:#CCC;">自分でつくる</span>  
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="pc_2">
    <%= render "partial/fotter_home" %>
  </div>

<%= render "partial/footer" %>
</mains>



<script>
    $(function() {
  $("body").on("click", "a", function(e) {
    var _this = $(this);
    var _href = _this.attr("href");
  
    if (_href.charAt(0,1) == "#") {
      e.preventDefault();
      var _target  = $(_href == "#" || _href == "" ? $("html") : _href);
      if (_target.length == "0") _target = $("html");
      var position = _target.offset().top;
      var _scroll  = _this.data("scroll");
      if (_scroll !== undefined) position = position + Number(_scroll);
      if (position <= 0) position = 1;  //Android2系でスクロールのバグ対策
      $("html, body").animate({scrollTop : position} ,500, "swing");
      return false;
    }
  });
});

  </script>


