<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

  <div class="pc_1">
  	<div class="img_about_home">
      <div style="height:40px;"></div>
      <h1 style="font-size:24px;color:white;margin-bottom:5px;">
        Coolなデートコースを10秒で
      </h1>
      <p class="text-center" style="font-size:13px;color:white;">
        デートコースがなかなか決まらないあなたへ
        <br>
        <span class="site-title">A.Date</span>は10秒でデートコースがつくれるサービスです
      </p>
      <div style="height:30px;"></div>
      <div class="">
        <%= link_to seeks_city_path do %>
          <div class="raised-trans">
            10秒でデートコースをつくる
          </div>
        <% end %>
      </div>
      <% if (user_signed_in?) %>
        <% if current_user.authority == "manager" %>
          <%= link_to seeks_area_path do %>     
            <div style="color:#CCC;margin-top:10px;">自分でつくる</div>  
          <% end %>
        <% end %>
      <% end %>
      <div style="height:30px;"></div>
      <h4 class="text-center" style="font-size:13px;">
        <a href="#next">
          <span class="what-white"><span class="site-title">A.Date</span>おすすめカテゴリー</span>
          <div style="margin-top:7px;color:white;">
            <i class="fas fa-chevron-down"></i>
          </div>
        </a>
      </h4>
    </div>
  </div>

  <div id="next"></div>

<div class="container-tag">
  <div class="grid-tag">
    <%= form_tag(seeks_courses_path, method: :get) do %>
      <%= hidden_field_tag :tag, "初デート" %>
      <%= button_tag :type => "submit", :class =>"button1" do %>
        <div class="boximg-tag">
          <%= image_tag "first99.jpg", :class =>'imgbox-tag' %>
          <h1>初デート</h1>   
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="grid-tag">
    <%= form_tag(seeks_courses_path, method: :get) do %>
      <%= hidden_field_tag :tag, "定番デート" %>
      <%= button_tag :type => "submit", :class =>"button1" do %>
        <div class="boximg-tag">
          <%= image_tag "classic99.jpg", :class =>'imgbox-tag' %>
          <h1>定番デート</h1>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="grid-tag">
    <%= form_tag(seeks_courses_path, method: :get) do %>
      <%= hidden_field_tag :tag, "雨の日デート" %>
      <%= button_tag :type => "submit", :class =>"button1" do %>
        <div class="boximg-tag">
          <%= image_tag "rain99.jpg", :class =>'imgbox-tag' %>
          <h1>雨の日デート</h1>
        </div>
      <% end %>
    <% end %>
  </div>


  <div class="grid-tag">
    <%= form_tag(seeks_courses_path, method: :get) do %>
      <%= hidden_field_tag :tag, "アクティブデート" %>
      <%= button_tag :type => "submit", :class =>"button1" do %>
        <div class="boximg-tag">
          <%= image_tag "active99.jpg", :class =>'imgbox-tag' %>
          <h1>アクティブデート</h1>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="grid-tag">
    <%= form_tag(seeks_courses_path, method: :get) do %>
      <%= hidden_field_tag :tag, "節約デート" %>
      <%= button_tag :type => "submit", :class =>"button1" do %>
        <div class="boximg-tag">
          <%= image_tag "saving99.jpg", :class =>'imgbox-tag' %>
          <h1>節約デート</h1>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="grid-tag">
    <%= form_tag(seeks_courses_path, method: :get) do %>
      <%= hidden_field_tag :tag, "記念日・サプライズデート" %>
      <%= button_tag :type => "submit", :class =>"button1" do %>
        <div class="boximg-tag">
          <%= image_tag "anniversary99.jpg", :class =>'imgbox-tag' %>
          <h1>記念日・サプライズデート</h1>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="grid-tag">
    <%= form_tag(seeks_courses_path, method: :get) do %>
      <%= hidden_field_tag :tag, "カジュアルデート" %>
      <%= button_tag :type => "submit", :class =>"button1" do %>
        <div class="boximg-tag">
          <%= image_tag "casual99.jpg", :class =>'imgbox-tag' %>
          <h1>カジュアルデート</h1>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="grid-tag">
    <%= form_tag(seeks_courses_path, method: :get) do %>
      <%= hidden_field_tag :tag, "ユニークデート" %>
      <%= button_tag :type => "submit", :class =>"button1" do %>
        <div class="boximg-tag">
          <%= image_tag "unique99.jpg", :class =>'imgbox-tag' %>
          <h1>ユニークデート</h1>
        </div>
      <% end %>
    <% end %>
  </div>


  <div class="grid-tag">
    <%= form_tag(seeks_courses_path, method: :get) do %>
      <%= hidden_field_tag :tag, "ワンナイトデート" %>
      <%= button_tag :type => "submit", :class =>"button1" do %>
        <div class="boximg-tag">
          <%= image_tag "onenight99.jpg", :class =>'imgbox-tag' %>
          <h1>ワンナイトデート</h1>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="grid-tag">
    <%= form_tag(seeks_courses_path, method: :get) do %>
      <%= hidden_field_tag :tag, "酒乱デート" %>
      <%= button_tag :type => "submit", :class =>"button1" do %>
        <div class="boximg-tag">
          <%= image_tag "sake99.jpg", :class =>'imgbox-tag' %>
          <h1>酒乱デート</h1>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

  <div class="pc_2">
    <%= render "partial/fotter_home" %>
  </div>

<%= render "partial/footer" %>
</mains>



<script>
    $(function() {
  $("body").on("click", "a", function(e) {
    var _this = $(this);
    var _href = _this.attr("href");
  
    if (_href.charAt(0,1) == "#") {
      e.preventDefault();
      var _target  = $(_href == "#" || _href == "" ? $("html") : _href);
      if (_target.length == "0") _target = $("html");
      var position = _target.offset().top;
      var _scroll  = _this.data("scroll");
      if (_scroll !== undefined) position = position + Number(_scroll);
      if (position <= 0) position = 1;  //Android2系でスクロールのバグ対策
      $("html, body").animate({scrollTop : position} ,500, "swing");
      return false;
    }
  });
});

  </script>

  <script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>


