<%= render "partial/navbar_home" %>
<mains class="" id="main-collapse">

  	<div class="box99" id='top'> 
  		<div style="margin-top:30px;">
  			<h4 class="text-center box-top1" style="font-size:22px;">知りたいのは、&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;あの子が喜ぶデートコース。</h4>
  			<p class="text-center">デートコースがなかなか決まらないあなたへ</p>
  			<p class="text-center"><span class="site-title" style="letter-spacing:0em;">A.Date</span>はデートプラン提案サービスです</p>
  		</div>
      <br>
      <h1>
      <div class="home-box">
        <%= link_to seeks_method_path do %>
          <div class="raised-trans">
            デートコースを提案してもらう
          </div>
        <% end %>
      </div>
      </h1>
      <h2 class="text-center">
        <% if (user_signed_in?) %>
          <% if current_user.authority == "manager" %>
            <%= link_to seeks_area_path do %>     
              <span style="color:#CCC;">自分でつくる&nbsp;&nbsp;/</span>  
            <% end %>
          <% end %>
        <% end %>
        <%= link_to seeks_about_path do %>
          <span style="color:#CCC;">&nbsp;&nbsp;A.dateとは</span>
        <% end %>
      </h2>
    </div>

</mains>

<% if (user_signed_in?) %>
  <% if current_user.authority == "manager" %>
    <%= render "partial/footer" %>
  <% end %>
<% end %>


