<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

  <div class="pc_1">
  	<div class="img_about_home">
      <h1 style="font-size:21px;color:white;margin-bottom:5px;">
        Coolなデートコースを10秒で
      </h1>
      <p class="text-center" style="font-size:12px;color:white;">
        デートコースがなかなか決まらないあなたへ
        <br>
        <span class="site-title">A.Date</span>は10秒でデートコースがつくれるサービスです
      </p>
      <div style="height:0px;"></div>
      <div class="">
        <%= link_to seeks_city_path do %>
          <div class="raised-trans">
            10秒でデートコースをつくる
          </div>
        <% end %>
      </div>
      <% if (user_signed_in?) %>
        <% if current_user.authority == "manager" %>
          <%= link_to seeks_area_path do %>     
            <span style="color:#CCC;">自分でつくる</span>  
          <% end %>
        <% end %>
      <% end %>
      <div style="height:30px;"></div>
      <h4 class="text-center" style="font-size:14px;">
        <span class="what-white"><span class="site-title">A.Date</span>オススメデートコース</span>
        <div style="margin-top:7px;">
          <i class="fas fa-chevron-down"></i>
        </div>
      </h4>
    </div>
    
    <div>
      <%= render 'courses' %>
      <div class="text-center">
        <%= paginate @courses %>
      </div>
    </div>
  </div>

  <div class="pc_2">
    <%= render "partial/fotter_home" %>
  </div>

<%= render "partial/footer" %>
</mains>



<script>
    $(function() {
  $("body").on("click", "a", function(e) {
    var _this = $(this);
    var _href = _this.attr("href");
  
    if (_href.charAt(0,1) == "#") {
      e.preventDefault();
      var _target  = $(_href == "#" || _href == "" ? $("html") : _href);
      if (_target.length == "0") _target = $("html");
      var position = _target.offset().top;
      var _scroll  = _this.data("scroll");
      if (_scroll !== undefined) position = position + Number(_scroll);
      if (position <= 0) position = 1;  //Android2系でスクロールのバグ対策
      $("html, body").animate({scrollTop : position} ,500, "swing");
      return false;
    }
  });
});

  </script>


