<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<%= form_tag(seeks_choice_path, method: :get) do %>
	<%= hidden_field_tag :large, params[:large] %>
	<%= hidden_field_tag :city, params[:city] %>
	<%= hidden_field_tag :price_min , params[:price_min] %>
	<%= hidden_field_tag :price_max , params[:price_max] %>
	<%= hidden_field_tag :distance_on, params[:distance_on] %>
	<%= hidden_field_tag :distance, params[:distance] %>
	<%= hidden_field_tag :timezone, params[:timezone] %>
	<%= hidden_field_tag :small, params[:small] %>
	<% unless params[:spot1].blank? %>
		<%= hidden_field_tag :spot1, params[:spot1] %>
	<% end %>
	<% unless params[:spot2].blank? %>
		<%= hidden_field_tag :spot2, params[:spot2] %>
	<% end %>

  <div class="box97" id='section1'>
  	<% if params[:large] == "ランチ" %>
  		<p style="color:white;text-shadow: 1px 1px 2px black;">ランチの詳細条件を決めましょう</p>		
	  	<h4 style="color:white;text-shadow: 1px 1px 2px black;">ランチの予算はいくらにしますか？</h4>
	<% end %>
	<% if params[:large] == "ディナー" %>
		<p style="color:white;text-shadow: 1px 1px 2px black;">ディナーの詳細条件を決めましょう</p>	
	  	<h4 style="color:white;text-shadow: 1px 1px 2px black;">ディナーの予算はいくらにしますか？</h4>
	<% end %>
	<br>
	<div style="width:80%;">
		<span class="pull-left" style="color:white;">
			<span id="value-lower"></span>円
		</span>
		<span class="pull-right" style="color:white;">
			<span id="value-upper"></span>円
		</span>
	</div>
	<br>
	<div style="width:75%;">	
		<div id="slider"></div>
	</div>
	<%= hidden_field_tag :price_min , 0, :class =>"min" %>
	<%= hidden_field_tag :price_max , 20000, :class =>"max" %>
	<br><br><br>
	<h1><%= submit_tag "次へ進む", :class => "btn btn-default" %></h1>
  </div>


<% end %>
 

<script>
$("#slider").noUiSlider({
  start: [0, 20000],
  step: 500,
  connect: true,
  format: wNumb({
    decimals: 0
  }),
  range: {
    'min': 0,
    'max': 20000
  }
});
$('#slider').Link('lower').to($('#value-lower'), 'html');
$('#slider').Link('upper').to($('#value-upper'), 'html');

$("#slider").on('slide', function(event, values) {
    $("input.min").val(values[0]);
    $("input.max").val(values[1]);
  });
</script>

</mains>

