<%= render "partial/navbar_home" %>
<mains class="" id="main-collapse">

<%= form_tag(seeks_outcome_path, method: :get) do %>
	<%= hidden_field_tag :city, params[:city] %>
	<%= hidden_field_tag :timezone, params[:timezone] %>
	<div class="box97" id=''>
  		<% if params[:timezone] == "昼" %>
  			<p class="text-center" style="color:white;text-shadow: 1px 1px 2px black;padding-top:100px;">最後に予算を決めましょう</p>
			<h4 class="text-center" style="color:white;text-shadow: 1px 1px 2px black;">予算はいくらにしますか？</h4>
	  		<br>
	  		<div style="width:30%;margin:0 auto;display:inline-block;">
	  			<p class="text-center" style="color:white;text-shadow: 1px 1px 2px black;">ランチ</p>
	  		</div>
	  		<div style="width:60%;margin:0 auto;display:inline-block;">
				<div style="width:100%;margin:0 auto;">
					<span class="pull-left" style="color:white;">
					  <span id="value-lower"></span>円
					</span>
					<span class="pull-right" style="color:white;">
					  <span id="value-upper"></span>円
					</span>
				</div>
				<div style="height:40px;"></div>
				<div style="width:100%;margin:0 auto;">  
					<div id="slider"></div>
				</div>
			</div>
			<br><br><br>
			<div style="width:30%;margin:0 auto;display:inline-block;">
	  			<p class="text-center" style="color:white;text-shadow: 1px 1px 2px black;">ディナー</p>
	  		</div>
	  		<div style="width:60%;margin:0 auto;display:inline-block;">
				<div style="width:100%;margin:0 auto;">
					<span class="pull-left" style="color:white;">
					  <span id="value-lowerz"></span>円
					</span>
					<span class="pull-right" style="color:white;">
					  <span id="value-upperz"></span>円
					</span>
				</div>
				<div style="height:40px;"></div>
				<div style="width:100%;margin:0 auto;">  
					<div id="sliderz"></div>
				</div>
			</div>
			<%= hidden_field_tag :price_minz , params[:price_minz].to_i, :class =>"minz" %>
			<%= hidden_field_tag :price_maxz , params[:price_maxz].to_i, :class =>"maxz" %>
		<% end %>
		<% if params[:timezone] == "夜" %>
			<p class="text-center" style="color:white;text-shadow: 1px 1px 2px black;padding-top:180px;">最後に予算を決めましょう</p>
			<h4 class="text-center" style="color:white;text-shadow: 1px 1px 2px black;">予算はいくらにしますか？</h4>
	  		<br>
			<div style="width:30%;margin:0 auto;display:inline-block;">
	  			<p class="text-center" style="color:white;text-shadow: 1px 1px 2px black;">ディナー</p>
	  		</div>
	  		<div style="width:60%;margin:0 auto;display:inline-block;">
				<div style="width:100%;margin:0 auto;">
					<span class="pull-left" style="color:white;">
					  <span id="value-lowerz"></span>円
					</span>
					<span class="pull-right" style="color:white;">
					  <span id="value-upperz"></span>円
					</span>
				</div>
				<div style="height:40px;"></div>
				<div style="width:100%;margin:0 auto;">  
					<div id="sliderz"></div>
				</div>
			</div>
			<%= hidden_field_tag :price_minz , params[:price_minz].to_i, :class =>"minz" %>
			<%= hidden_field_tag :price_maxz , params[:price_maxz].to_i, :class =>"maxz" %>
		<% end %>
		<br><br><br><br>
		<div class="text-center">
		<%= submit_tag "次へ進む", :class => "btn btn-default" %>
		</div>
	</div>
<% end %>




<script>
$("#slider").noUiSlider({
  start: [0, 20000],
  step: 500,
  connect: true,
  format: wNumb({
    decimals: 0
  }),
  range: {
    'min': 0,
    'max': 20000
  }
});
$('#slider').Link('lower').to($('#value-lower'), 'html');
$('#slider').Link('upper').to($('#value-upper'), 'html');

$("#slider").on('slide', function(event, values) {
    $("input.min").val(values[0]);
    $("input.max").val(values[1]);
  });
</script>

<script>
$("#sliderz").noUiSlider({
  start: [0, 20000],
  step: 500,
  connect: true,
  format: wNumb({
    decimals: 0
  }),
  range: {
    'min': 0,
    'max': 20000
  }
});
$('#sliderz').Link('lower').to($('#value-lowerz'), 'html');
$('#sliderz').Link('upper').to($('#value-upperz'), 'html');

$("#sliderz").on('slide', function(event, values) {
    $("input.minz").val(values[0]);
    $("input.maxz").val(values[1]);
  });
</script>

</mains>
