<%= form_tag(seeks_outcome_path, method: :get) do %>
<%= hidden_field_tag :city, params[:city] %>
<%= hidden_field_tag :timezone, params[:timezone] %>

        <div class="panel-body">
          
          <br><br><br>
          <div style="width:80%;margin:0 auto;">
            <span class="pull-left">
              <span id="value-lower"></span>円
            </span>
            <span class="pull-right">
              <span id="value-upper"></span>円
            </span>
          </div>
          <br><br>
          <div style="width:75%;margin:0 auto;">  
            <div id="slider"></div>
          </div>
          <%= hidden_field_tag :price_min , params[:price_min].to_i, :class =>"min" %>
          <%= hidden_field_tag :price_max , params[:price_max].to_i, :class =>"max" %>
          <br><br><br><br>

          <div style="width:80%;margin:0 auto;">
            <span class="pull-left">
              <span id="value-lowerz"></span>円
            </span>
            <span class="pull-right">
              <span id="value-upperz"></span>円
            </span>
          </div>
          <br><br>
          <div style="width:75%;margin:0 auto;">  
            <div id="sliderz"></div>
          </div>
          <%= hidden_field_tag :price_minz , params[:price_minz].to_i, :class =>"minz" %>
          <%= hidden_field_tag :price_maxz , params[:price_maxz].to_i, :class =>"maxz" %>
         <br><br><br><br>
          <div class="text-center">
            <%= submit_tag "確認する", :class => "btn btn-default" %>
          </div>
          <br>
        </div>
      <% end %>




<script>
$("#slider").noUiSlider({
  start: [0, 20000],
  step: 500,
  connect: true,
  format: wNumb({
    decimals: 0
  }),
  range: {
    'min': 0,
    'max': 20000
  }
});
$('#slider').Link('lower').to($('#value-lower'), 'html');
$('#slider').Link('upper').to($('#value-upper'), 'html');

$("#slider").on('slide', function(event, values) {
    $("input.min").val(values[0]);
    $("input.max").val(values[1]);
  });
</script>

<script>
$("#sliderz").noUiSlider({
  start: [0, 20000],
  step: 500,
  connect: true,
  format: wNumb({
    decimals: 0
  }),
  range: {
    'min': 0,
    'max': 20000
  }
});
$('#sliderz').Link('lower').to($('#value-lowerz'), 'html');
$('#sliderz').Link('upper').to($('#value-upperz'), 'html');

$("#sliderz").on('slide', function(event, values) {
    $("input.minz").val(values[0]);
    $("input.maxz").val(values[1]);
  });
</script>
