<%= render "partial/navbar" %>

<mains class="" id="main-collapse">

<% if @ss.blank? %>
  該当するデートコースはありません
<% else %>
  <%# 目次 %>
  <h3 class="text-center">The&nbsp;course&nbsp;you&nbsp;made</h3>           
  <%# コースの諸情報 %>
  <div class="result-info-box">
    <div class="result-info-box-1">
      <div class="result-info-btn">
        <i class="fas fa-map-marker-alt"></i>
      </div>
      <div class="result-info">
        <% @spot_first = Spot.find(@ss.first) %>
        <%= @spot_first.city %>付近
      </div>
    </div>
    <div class="result-info-box-1">
      <div class="result-info-btn">
        <i class="fas fa-yen-sign"></i>
      </div>
      <div class="result-info">
        <% if @total_min == @total_max %>
          <%= @total_min %>円程度
        <% else %>
          <%= @total_min %>~<%= @total_max %>円程度
        <% end %>
      </div>
    </div>
  </div>
  
  <%# アイキャッチ %>
  <div style="padding:0px 15px;">
  <% @ss.each.with_index(1) do |s, i| %>
    <% spot = Spot.find(s) %>
      <% unless i == 1 %>
        <div class="box-distance-bb">
        <% spot_pre_n = @ss[i - 2] %>
        <% spot_pre = Spot.find(spot_pre_n) %>
        <% @distance_two = Geocoder::Calculations.distance_between([spot_pre.latitude,spot_pre.longitude], [spot.latitude,spot.longitude], :units => :km) %>
        <% @distance_two = @distance_two.to_f.round(4) * 1000 %>
        <% @distance_two = @distance_two.to_i %>
          <span class="text-distance-bb">
            <i class="fa fa-angle-down"></i>&nbsp;<%= @distance_two %>m
          </span>
          <a href="https://www.google.com/maps?saddr=<%= spot_pre.address %>&daddr=<%= spot.address %>&dirflg=w" target="_blank" class="raise5-result">
            <i class="fas fa-location-arrow"></i>&nbsp;経路
          </a>
      </div>
    <% end %>
    <a href="" data-toggle="modal" data-target="#myModal<%= i %>">
    <div class="radio-city-bb">  
        <%= image_tag spot.pictures.first.image.url, :class =>'img-city-bb' %>
        <h3>
          <%# タイトル %>
          <%= spot.title %>
          <%# 駅 %>
          <span style="font-size:10px;"><br><i class="fas fa-map-marker-alt"></i>&nbsp;<%= spot.station %></span>
          <%# ジャンル %>
          <% unless spot.small.blank? %>
            <span style="font-size:10px;"><br><i class="fas fa-utensils"></i>&nbsp;</span>
            <% @i = 0 %>
            <% spot.small.each do |small| %>
              <% @i = @i + 1 %>
              <span style="font-size:10px;">
                <% if @i == spot.small.size %>
                  <%= small %>
                <% else %>
                  <%= small %>/
                <% end %>
              </span>
            <% end %>
          <% end %>
          <%# 料金 %>
          <span style="font-size:10px;"><br>
            <% unless spot.price_lunch.blank? %>
              <% unless spot.price_lunch == 0 %>
                <i class="far fa-sun"></i>&nbsp;~<%= spot.price_lunch %>円&nbsp;&nbsp;&nbsp;
              <% end %>
            <% end %>
            <% unless spot.price_dinner.blank? %>
              <% unless spot.price_dinner == 0 %>
                <i class="far fa-moon"></i>&nbsp;~<%= spot.price_dinner %>円
              <% end %>
            <% end %>
          </span>
        </h3> 
    </div>
    </a>
    <!-- モーダルウィンドウの中身 -->
    <div class="modal" id="myModal<%= i %>">
      <div class="modal-dialog">
      <div class="modal-content">
        <%# 画像 %>
        <div class="box-one">
          <%= image_tag spot.pictures.first.image.url, :class =>'img-one' %>
          <p class="quote-one">
            <% if !spot.pictures.first.url.blank? %>
              <% if !spot.pictures.first.quote.blank? %>
                <a href="<%= spot.pictures.first.url %>" target="_blank" class="gray">
                  出典&nbsp;<%= spot.pictures.first.quote %>
                </a>
              <% else %> 
                <a href="<%= spot.pictures.first.url %>" target="_blank" class="gray">
                  出典&nbsp;
                </a>
              <% end %>
            <% else %> 
                &nbsp;
            <% end %>  
          </p>
        </div>
        <div class="panel-body">
          <%# タイトル %>
          <div class="title-one"><%= spot.title %></div>
          <%# 都道府県、エリア %>
          <p style="color: #66666;margin:4px 0px;font-size:10px">
            <i class="fas fa-map-marker-alt"></i>&nbsp;<%= spot.station %>
          </p> 
          <%# 料金 %>
          <p style="color: #666666;margin:4px 0px;font-size:10px">
            <% unless spot.price_lunch.blank? %>
              <% unless spot.price_lunch == 0 %>
                <i class="far fa-sun"></i>&nbsp;~<%= spot.price_lunch %>円&nbsp;&nbsp;&nbsp;
              <% end %>
            <% end %>
            <% unless spot.price_dinner.blank? %>
              <% unless spot.price_dinner == 0 %>
                <i class="far fa-moon"></i>&nbsp;~<%= spot.price_dinner %>円
              <% end %>
            <% end %>
          </p> 
          <%# カテゴリー %>
          <% unless spot.large.blank? %>
            <p style="color: #666666;margin:4px 0px;font-size:10px"><i class="fas fa-tag"></i>
            <% @i = 0 %>
              <% spot.large.each do |large| %>
                <% @i = @i + 1 %>
                <% if @i == spot.large.size %>
                  <%= large %>
                <% else %>
                  <%= large %>/
                <% end %> 
              <% end %>
            </p> 
          <% end %>
          <%# ジャンル %>
          <% unless spot.small.blank? %>
            <p style="color: #666666;margin:4px 0px;font-size:10px"><i class="fas fa-utensils"></i>&nbsp;
            <% @i = 0 %>
              <% spot.small.each do |small| %>
                <% @i = @i + 1 %>
                <% if @i == spot.small.size %>
                  <%= small %>
                <% else %>
                  <%= small %>/
                <% end %>
              <% end %>
            </p> 
          <% end %>
          <%# 食べログ、rettyボタン等 %>
          <h4 style="margin:10px 0px 7px;font-size:13px">For your infomation</h4>
          <div class="">
            <% unless spot.tabelog.blank? %>
              <a href="<%= spot.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログ</a>
            <% end %>
            <% unless spot.retty.blank? %>
              <a href="<%= spot.retty %>" target="_blank" class="raise3-result"><i class="fas fa-utensils"></i>&nbsp;Retty</a>
            <% end %>
            <% unless spot.introduction.blank? %>
              <a href="<%= spot.introduction %>" target="_blank" class="raise4-result"><span><i class="fab fa-instagram"></i>&nbsp;Instagram</span></a>
            <% end %>
            <% if spot.tabelog.blank? %>
              <% unless spot.browser.blank? %>
                <a href="<%= spot.browser %>" target="_blank" class="raise2-result"><span><i class="fas fa-globe"></i>&nbsp;公式</span></a>
              <% end %>
            <% end %>
          </div>
          <%# Description %>
          <% unless spot.description.blank? %>
            <h4 style="margin:10px 0px 7px;font-size:13px">Description</h4>
            <p style="font-size:11px"><%= spot.description %></p>
          <% end %>
        </div>  
      </div>
      </div>
      <div class="btn-details">
       <a href="" data-toggle="modal" data-dismiss="modal" id="btn-detail">
        <i class="fa fa-close"></i>
       </a>
      </div>
    </div>
  <% end %>
  </div>

  
  <%#マップモーダルボタン%>
  <div class="btn-details">
   <a href="" data-toggle="modal" data-target="#myModal-map" id="btn-detail">
    <i class="far fa-map"></i>
   </a>
  </div>
  <%#マップモーダルの中身%>
  <div class="modal" id="myModal-map">
    <div class="modal-dialog">
      <div class="modal-content">
        <div id="sample"></div>
      </div>
    </div>
    <div class="btn-details">
     <a href="" data-toggle="modal" data-dismiss="modal" id="btn-detail">
      <i class="fa fa-close"></i>
     </a>
    </div>
  </div>

  <br>

<% end %>


<script type="text/javascript">
  var map;
var marker = [];
var infoWindow = [];
var markerData = [ // マーカーを立てる場所名・緯度・経度

  <% @ss.each.with_index(1) do |s, i| %>
    <% spot = Spot.find(s) %>
    {
       name: "<%= spot.title %>",
       lat: <%= spot.latitude %>,
        lng: <%= spot.longitude %>,
    }, 
  <% end %>

];
 
function initMap() {
 // 地図の作成
    var mapLatLng = new google.maps.LatLng({lat: markerData[0]['lat'], lng: markerData[0]['lng']}); // 緯度経度のデータ作成
   map = new google.maps.Map(document.getElementById('sample'), { // #sampleに地図を埋め込む
    gestureHandling: 'greedy',
     center: mapLatLng, // 地図の中心を指定
      zoom: 15 // 地図のズームを指定
   });
 
 // マーカー毎の処理
 for (var i = 0; i < markerData.length; i++) {
        markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']}); // 緯度経度のデータ作成
        marker[i] = new google.maps.Marker({ // マーカーの追加
         position: markerLatLng, // マーカーを立てる位置を指定
            map: map // マーカーを立てる地図を指定
       });
 
     infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
         content: '<div class="sample">' + markerData[i]['name'] + '</div>' // 吹き出しに表示する内容
       });
 
     markerEvent(i); // マーカーにクリックイベントを追加
 }
 
   
}
 
// マーカーにクリックイベントを追加
function markerEvent(i) {
    marker[i].addListener('click', function() { // マーカーをクリックしたとき
      infoWindow[i].open(map, marker[i]); // 吹き出しの表示
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1SfOngJW_fXuuUcTf9-0BTn9Io38U10A&callback=initMap" async defer></script>


<script>
  var clipboard = new Clipboard('.btn');
  clipboard.on('success', function(e) {
    console.info('Trigger:', e.trigger);
    alert('コピーできました');
  });
  clipboard.on('error', function(e) {
    console.error('Trigger:', e.trigger);
    alert('このブラウザでは対応していません');
  });
</script>

</mains>

