
	<% if user_signed_in? %>
	    <% if Like.find_by(user_id: current_user.id, spot_id: spot.id) %>
	      <% if Like.find_by(user_id: current_user.id, spot_id: spot.id, kind: 1) %>
	        <div class="row">
	          <div class="col-xs-6 col-sm-6 col-md-6">
	            <div class="text-center">
	              <%= link_to "/likes/#{spot.id}/destroy1", method: :post, id: "like-button", remote: true do %>
	              	<div class="fab2">
	                <i class="fa fa-heart" aria-hidden="true"></i>
	                </div>
	              <% end %>
	              <% want_count = Like.where(spot_id: spot.id, kind: 1).count %><span class="count"><%= want_count %></span>&nbsp;<span style="color:black;font-size:9px;">want</span>
	            </div>
	          </div>
	          <div class="col-xs-6 col-ms-6 col-md-6">
	            <div class="text-center">
	              <%= link_to "/likes/#{spot.id}/update2", method: :post, id: "like-button", remote: true do %>
	              <div class="fab1">
	              <i class="fa fa-check" aria-hidden="true"></i>
	              </div>
	              <% end %>
	              <% done_count = Like.where(spot_id: spot.id, kind: 2).count %><span class="count"><%= done_count %></span>&nbsp;<span style="color:black;font-size:9px;">done</span>
	            </div>
	          </div>
	        </div>
	      <% else %>
	        <div class="row">
	          <div class="col-xs-6 col-sm-6 col-md-6">
	            <div class="text-center">
	              <%= link_to "/likes/#{spot.id}/update1", method: :post, id: "like-button", remote: true do %>
	              	<div class="fab1">
	                <i class="fa fa-heart" aria-hidden="true"></i>
	                </div>
	              <% end %>
	              <% want_count = Like.where(spot_id: spot.id, kind: 1).count %><span class="count"><%= want_count %></span>&nbsp;<span style="color:black;font-size:9px;">want</span>
	            </div>
	          </div>
	          <div class="col-xs-6 col-sm-6 col-md-6">
	            <div class="text-center">
	              <%= link_to "/likes/#{spot.id}/destroy2", method: :post, id: "like-button", remote: true do %>
	              	<div class="fab3">
	                <i class="fa fa-check" aria-hidden="true"></i>
	                </div>
	              <% end %>
	              <% done_count = Like.where(spot_id: spot.id, kind: 2).count %><span class="count"><%= done_count %></span>&nbsp;<span style="color:black;font-size:9px;">done</span>
	            </div>
	          </div>
	        </div>
	      <% end %>
	    <% else %>
		    <div class="row">
		      <div class="col-xs-6 col-sm-6 col-md-6">
		        <div class="text-center">
		          <%= link_to "/likes/#{spot.id}/create1", method: :post, id: "like-button", remote: true do %>
		          	<div class="fab1">
		            <i class="fa fa-heart" aria-hidden="true"></i>
		            </div>
		          <% end %>
		          <% want_count = Like.where(spot_id: spot.id, kind: 1).count %><span class="count"><%= want_count %></span>&nbsp;<span style="color:black;font-size:9px;">want</span>
		        </div>
		      </div>
		      <div class="col-xs-6 col-sm-6 col-md-6">
		        <div class="text-center">
		          <%= link_to "/likes/#{spot.id}/create2", method: :post, id: "like-button", remote: true do %>
		          	<div class="fab1">
		            <i class="fa fa-check" aria-hidden="true"></i>
		            </div>
		          <% end %>
		          <% done_count = Like.where(spot_id: spot.id, kind: 2).count %><span class="count"><%= done_count %></span>&nbsp;<span style="color:black;font-size:9px;">done</span>
		        </div>
		      </div>
		    </div>
		<% end %>
	<% else %>
		<div class="row">
	      <div class="col-xs-6 col-sm-6 col-md-6">
	        <div class="text-center">
	        	<div class="fab1">
	            <i class="fa fa-heart" aria-hidden="true"></i>
	            </div>
	        </div>
	        <% want_count = Like.where(spot_id: spot.id, kind: 1).count %><span class="count"><%= want_count %></span>&nbsp;<span style="color:black;font-size:9px;">want</span>
	      </div>
	      <div class="col-xs-6 col-sm-6 col-md-6">
	        <div class="text-center">
	        	<div class="fab1">
	            <i class="fa fa-check" aria-hidden="true"></i>
	            </div>
	        </div>
	        <% done_count = Like.where(spot_id: spot.id, kind: 2).count %><span class="count"><%= done_count %></span>&nbsp;<span style="color:black;font-size:9px;">done</span>
	      </div>
	    </div>
	<% end %>
