<%= render "partial/navbar4" %>

<main class="" id="main-collapse">

<div class="title-content">
  <%= @user.nickname %>さんのaddコース
</div> 
<hr class="style1">
	
<div class="hero-full-wrapper">
  <div class="grid">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <% @articles.each do |article| %>
      <div class="grid-item iii">
        <%= link_to "/articles/#{article.id}/snaps" do %>
          <%= image_tag article.snaps.first.image.url, :class =>'img-responsive' %>
          <div class="black title-font-index">
            <%= article.title %>
          </div>
          <div class="prefecture-font-index">
            <i class="fa fa-map-marker" aria-hidden="true"></i><%= article.city %>
          </div>
        <% end %>
      </div>
      <br>
      
    <% end %>  
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>


 
 
</main>
<%= render "partial/footer" %>
