<%= render "partial/navbar4" %>

<main class="" id="main-collapse">

<div class="title-content">
  <%= @user.nickname %>さんのclipしたコース
</div> 
<hr class="style1">
  
<div class="hero-full-wrapper">
  <div class="grid">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <% @clips.each do |clip| %>
    <% article = Article.find_by(id: clip.article_id) %>
      <div class="grid-item iii">
        <%= link_to article_path(article) do %>
          <%= image_tag article.snaps.second.image.url, :class =>'img-responsive' %>
          <div class="black title-font-index">
            <%= article.title %>
          </div>
          <div class="prefecture-font-index">
            <i class="fa fa-map-marker" aria-hidden="true"></i><%= article.city %>
          </div>
        <% end %> 
      </div>
      <br>
    <% end %>  
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>


 
 
</main>
<%= render "partial/footer" %>
