<%= render "partial/navbar4" %>
<mains class="" id="main-collapse">
<div class="pc_1">
<br>

<% if @user == current_user %>
  <%= link_to edit_user_registration_path(current_user) do %>
    <div class="img-show black">
      <%= image_tag @user.image, :class => "img-circle profile-1" %>&nbsp;&nbsp;<%= @user.nickname %>
    </div>
  <% end %>
<% else %>
  <div class="img-show">
    <%= image_tag @user.image, :class => "img-circle profile-1" %>
    <%= @user.nickname %>
  </div>
<% end %>
<br>

<% if (user_signed_in?) %>
<% if current_user.authority == "manager" %>
<div style="padding:0 10%;margin-top:-30px;">

<% want_count = Like.where(user_id: @user.id, kind: 1).count %>
<% done_count = Like.where(user_id: @user.id, kind: 2).count %>
<% spot_count = Spot.where(user_id: @user.id).count %>
<% clip_count = Clip.where(user_id: @user.id).count %>
<% article_count = Article.where(user_id: @user.id).count %>
<% course_count = Course.where(user_id: @user.id).count %>
<%# スマホ用 %>
<div class="">
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <%= link_to "/users/#{@user.id}/want" do %>
        <div class="box17">
          <p>
            <div class="fab2">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
          </p>
          <p class="black"><%= want_count %>want</p>
        </div>
      <% end %>
    </div>
    <div class="col-xs-6 col-sm-6">
      <%= link_to "/users/#{@user.id}/done" do %>
        <div class="box17">
          <p>
            <div class="fab3">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </p>
          <p class="black"><%= done_count %>done</p>
        </div>
      <% end %>
    </div>
    <div class="col-xs-6 col-sm-6">
      <%= link_to "/users/#{@user.id}/spot" do %>
        <div class="box17">
          <p>
            <div class="fab1">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </p>
          <p class="black"><%= spot_count %>addspot</p>
        </div>
      <% end %>
    </div>
    <div class="col-xs-6 col-sm-6">
      <%= link_to "/users/#{@user.id}/course" do %>
        <div class="box17">
          <p>
            <div class="fab1">
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </div>
          </p>
          <p class="black"><%= course_count %>course</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>
<% end %>
<% end %>

<!-- タブ -->
 <div class="">
   <ul class="nav nav-pills">
     <li class="active" style="width:49.7%;text-align:center;">
       <a data-target="#main" data-toggle="tab" id="change-to-access-tab">
         自分の作ったコース
       </a>
     </li>
     <li style="width:49.7%;text-align:center;">
       <a data-target="#access" data-toggle="tab" id="change-to-main-tab">
         いいねしたコース
       </a>
     </li>
   </ul>
 </div>

 <!-- 各タブのなかみ -->
 <div class="tab-content">
   <div role="tabpanel" class="tab-pane active fade in" id="main">
      <%# 自分の作ったコース一覧 %>
      <%= render 'courses' %>
      <div class="text-center">
        <%= paginate @courses %>
      </div>
   </div>

   <div role="tabpanel" class="tab-pane fade in" id="access">
   </div>
 </div>





  </div>

  <div class="pc_2">
    <%= render "partial/fotter_home" %>
  </div>

</mains>
<%= render "partial/footer" %>

<!-- jQuery -->
 <script>
 $(function() {
   // ボタンクリックでタブを切り替え
   $('#change-to-access-tab').click(function(e) {
     $('.nav-tabs a[href="#access"]').tab('show');
   });    
 });
 </script>

 <script>
 $(function() {
   // ボタンクリックでタブを切り替え
   $('#change-to-main-tab').click(function(e) {
     $('.nav-tabs a[href="#main"]').tab('show');
   });    
 });
 </script>
