<%= render "partial/navbar4" %>

<main class="" id="main-collapse">

<div class="title-content">
  <%= @user.nickname %>さんのaddスポット
</div> 
<hr class="style1">
	
<div class="hero-full-wrapper">
  <div class="grid">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <%= render 'index' %>
  </div>
</div>

<div class="text-center">
  <%= paginate @spots %>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>


 
 
</main>
<%= render "partial/footer" %>
