<%= render "partial/navbar4" %>

<main class="" id="main-collapse">

<div class="title-content">
  <%= @user.nickname %>さんのaddスポット
</div> 
<hr class="style1">
	
<div class="hero-full-wrapper">
  <div class="grid">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <% @spots.each do |spot| %>
      <div class="grid-item iii">
        <%= link_to spot_path(spot) do %>
        <% if spot.article_id %>
          <div class="index-movie">
          <%= image_tag spot.pictures.first.image.url, :class =>'img-responsive' %>
          <p><i class="fa fa-play-circle-o" aria-hidden="true"></i></p> 
          </div>
        <% else %>
          <%= image_tag spot.pictures.first.image.url, :class =>'img-responsive' %>
        <% end %>
          <div class="black title-font-index">
            <%= spot.title %>
          </div>
          <div class="prefecture-font-index">
            <i class="fa fa-map-marker" aria-hidden="true"></i><%= spot.prefecture %>
          </div>
        <% end %>
        <span id="like-of-<%= spot.id %>">
          <%= render partial: 'likes/like', locals: { spot: spot, likes: @likes } %>
        </span>
      </div>  
    <% end %>  
  </div>
</div>


<script>
  document.addEventListener("turbolinks:load", function (event) {
     masonryBuild();
  });
</script>


 
 
</main>
<%= render "partial/footer" %>
