<div class="visible-xs">
  <div class="sticky-bar">
    <div class="sticky-box">
      <div class="sticky-menu">
        <%= link_to root_path do %>
          <i class="fas fa-home sticky-icon"></i>
          <div class="sticky-title">ホーム</div >
        <% end %>
      </div>
    </div>
    <div class="sticky-box">
      <div class="sticky-menu">
        <%= link_to "/seeks/courses" do %>
          <i class="fas fa-search sticky-icon"></i>
          <div class="sticky-title">探す</div >
        <% end %>
      </div>
    </div>
    <div class="sticky-box">
      <div class="sticky-menu">
        <%= link_to seeks_city_path do %>
          <i class="fas fa-plus sticky-icon"></i>
          <div class="sticky-title">コース作成</div >
        <% end %>
      </div>
    </div>
    <% if (user_signed_in?) %>
      <% if current_user.authority == "manager" %>
        <div class="sticky-box">
          <div class="sticky-menu">
            <%= link_to "/spots" do %>
              <i class="fas fa-map-marker-alt sticky-icon"></i>
              <div class="sticky-title">スポット</div >
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="sticky-box">
          <div class="sticky-menu">
            <%= link_to seeks_personal_path do %>
              <i class="far fa-clipboard sticky-icon"></i>
              <div class="sticky-title">パーソナル</div >
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="sticky-box">
        <div class="sticky-menu">
          <%= link_to seeks_personal_path do %>
            <i class="far fa-clipboard sticky-icon"></i>
            <div class="sticky-title">パーソナル</div >
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="sticky-box">
      <div class="sticky-menu">
        <% if (user_signed_in?) %>
          <%= link_to user_path(current_user) do %>
            <i class="far fa-user sticky-icon"></i>
            <div class="sticky-title">マイページ</div >
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt sticky-icon"></i>
            <div class="sticky-title">ログイン</div >
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="fotter-box"></div>