<div class="visible-xs">
  <div class="sticky-bar">
    <div class="col-xs-3">
      <div class="sticky-menu">
        <%= link_to root_path do %>
          <i class="fa fa-home sticky-icon" aria-hidden="true"></i>
          <div class="sticky-title">ホーム</div >
        <% end %>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="sticky-menu">
        <%= link_to "/courses" do %>
          <i class="fa fa-align-justify sticky-icon" aria-hidden="true"></i>
          <div class="sticky-title">タイムライン</div >
        <% end %>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="sticky-menu">
        <%= link_to "/spots" do %>
          <i class="fa fa-map-marker sticky-icon" aria-hidden="true"></i>
          <div class="sticky-title">スポット</div >
        <% end %>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="sticky-menu">
        <% if (user_signed_in?) %>
          <%= link_to user_path(current_user) do %>
            <i class="fa fa-user sticky-icon" aria-hidden="true"></i>
            <div class="sticky-title">マイページ</div >
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <i class="fa fa-sign-in sticky-icon" aria-hidden="true"></i>
            <div class="sticky-title">ログイン</div >
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="fotter-box"></div>