<div class="form-group">
    <p class="pull-left"><span style="font-size:8px;"><i class="fas fa-map-marker-alt"></i></span>&nbsp;エリア</p>
    <div class="select-box01">
      <%= select_tag :city, options_for_select([["指定なし", "指定なし"],["恵比寿・代官山・中目黒","恵比寿・代官山・中目黒"],["渋谷","渋谷"],["原宿・表参道・青山","原宿・表参道・青山"],["新宿","新宿"],["東京・丸の内・日本橋","東京・丸の内・日本橋"],["六本木・麻布・赤坂","六本木・麻布・赤坂"],["銀座・有楽町","銀座・有楽町"],["品川","品川"],["お台場","お台場"],["池袋","池袋"],["新橋・汐留・浜松町","新橋・汐留・浜松町"],["上野","上野"],["浅草・押上","浅草・押上"],["目黒・白金・五反田","目黒・白金・五反田"],["吉祥寺・三鷹","吉祥寺・三鷹"],["神楽坂・飯田橋","神楽坂・飯田橋"],["下北沢","下北沢"],["谷中・根津・千駄木","谷中・根津・千駄木"],["神田・秋葉原・御茶ノ水","神田・秋葉原・御茶ノ水"],["赤坂・虎ノ門・永田町","赤坂・虎ノ門・永田町"],["四ツ谷・信濃町・千駄ヶ谷","四ツ谷・信濃町・千駄ヶ谷"],["自由が丘・二子玉川","自由が丘・二子玉川"],["中野・荻窪","中野・荻窪"],["人形町・門前仲町・葛西","人形町・門前仲町・葛西"],["立川・八王子・青梅","立川・八王子・青梅"],["大井町・大森・蒲田","大井町・大森・蒲田"],["三軒茶屋・駒沢","三軒茶屋・駒沢"],["大塚・巣鴨・駒込","大塚・巣鴨・駒込"],["調布・府中・狛江","調布・府中・狛江"],["町田・稲城・多摩","町田・稲城・多摩"],["千住・綾瀬・葛飾","千住・綾瀬・葛飾"],["練馬・江古田","練馬・江古田"],["大久保・高田馬場・早稲田","大久保・高田馬場・早稲田"],["代々木・初台","代々木・初台"],["板橋・赤羽","板橋・赤羽"],["両国・錦糸町・小岩","両国・錦糸町・小岩"],["小金井・国分寺・国立","小金井・国分寺・国立"],["伊豆諸島・小笠原","伊豆諸島・小笠原"]], @city) %>
    </div>
</div>


<div class="form-group">
    <p class="pull-left"><span style="font-size:8px;"><i class="fas fa-tag"></i></span>&nbsp;カテゴリー</p>
    <div class="select-box01">
      <%= select_tag(:category, options_for_select([["指定なし", "指定なし"], ["朝食", "朝食"], ["ランチ", "ランチ"], ["ディナー", "ディナー"], ["カフェ", "カフェ"], ["アニマルカフェ", "アニマルカフェ"], ["バー", "バー"], ["映画", "映画"], ["ショップ・雑貨屋", "ショップ・雑貨屋"], ["スポーツ", "スポーツ"], ["夜景", "夜景"], ["プラネタリウム", "プラネタリウム"], ["動物園", "動物園"], ["水族館", "水族館"], ["美術館", "美術館"], ["遊園地", "遊園地"], ["カラオケ", "カラオケ"], ["ボーリング", "ボーリング"], ["ダーツ", "ダーツ"], ["食べ歩き", "食べ歩き"], ["公園", "公園"], ["スパ・温泉", "スパ・温泉"], ["ゲームセンター", "ゲームセンター"], ["お寺・神社", "お寺・神社"], ["劇場", "劇場"], ["インターネットカフェ", "インターネットカフェ"], ["コンセプトカフェ・バー", "コンセプトカフェ・バー"], ["体験", "体験"], ["ストリート", "ストリート"], ["複合施設", "複合施設"], ["その他", "その他"]], @category), {:class => 'prefecture'}) %>
    </div>
</div>


<div class="form-group">
	<div style="height:15px;"></div>
	<p style="text-align:left;"><span style="font-size:8px;"><i class="fas fa-yen"></i></span>&nbsp;料金<span style="font-size:6px;">&nbsp;&nbsp;※朝食,ランチ,ディナーのみ絞り込めます</span></p>

	<div style="margin-top:-10px;"></div>

	  <div style="width:100%;margin:0 auto;">
	    <span class="pull-left">
	      <span id="value-lower"></span>円
	    </span>
	    <span class="pull-right">
	      <span id="value-upper"></span><span class="kmTxt">円</span>
	    </span>
	  </div>
	  <div style="height:40px;"></div>
	  <div style="width:90%;margin:0 auto;">  
	    <div id="slider"></div>
	  </div>
	  <%= hidden_field_tag :price_min , params[:price_min].to_i, :class =>"min" %>
	  <%= hidden_field_tag :price_max , params[:price_max].to_i, :class =>"max" %>
</div>

<script>
$("#slider").noUiSlider({
  start: [<%= params[:price_min].to_i %>, <%= params[:price_max].to_i %>],
  step: 500,
  connect: true,
  format: wNumb({
    decimals: 0
  }),
  range: {
    'min': 0,
    'max': 10000
  }
});

$('#slider').Link('lower').to($('#value-lower'), 'html');
$('#slider').Link('upper').to($('#value-upper'), 'html');

var upperNum0 = $("#value-upper").text();
	$(function(){
    if (upperNum0 == '10000'){
        $("#value-upper").text('上限なし');
        $(".kmTxt").hide();
    } else {
    
        $(".kmTxt").show();
    }
    });

$("#slider").on('slide', function(event, values) {
	var upperNum = $("#value-upper").text();
	$(function(){
    if (upperNum === '10000'){
        $("#value-upper").text('上限なし');
        $(".kmTxt").hide();
    } else {
    
        $(".kmTxt").show();
    }
    });

    $("input.min").val(values[0]);
    $("input.max").val(values[1]);
  });
</script>
