<%= form_tag(plans_result_path, method: :get, :name => "face") do %>

	      <!-- エリアモーダルウィンドウの中身 -->
          <div class="modal" id="myModal_home">
            <div class="modal-dialog">
              <div class="modal-content" style="max-height:75vh;">
              	<div class="box-modal text-center" style="padding:10px 3px;">

	                <p style="color:white;">あなたにぴったりのコースを提案します</p>
	                <p style="color:white;">エリアを選んでください</p>
                	<div style="height:5px;"></div>

		            <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "恵比寿・代官山・中目黒", @ebisu, {:id => "ebisu", :onclick => "document.face.submit();"}) %>
			              <label for="ebisu">
				            <%= image_tag "ebisu00.jpg", :class =>'img-category0' %>
			    		  </label>
			    		  <p>恵比寿<br>代官山<br>中目黒</p>
			            </div>
				    </div>

				    <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "渋谷", @shibuya, {:id => "shibuya", :onclick => "document.face.submit();"}) %>
			              <label for="shibuya">
				            <%= image_tag "shibuya00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>渋谷</p>
			            </div>
				    </div>

				    <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "原宿・表参道・青山", @harajuku, {:id => "harajuku", :onclick => "document.face.submit();"}) %>
			              <label for="harajuku">
				            <%= image_tag "harajuku00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>原宿<br>表参道<br>青山</p>
			            </div>
				    </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "東京・丸の内・日本橋", @tokyo, {:id => "tokyo", :onclick => "document.face.submit();"}) %>
			              <label for="tokyo">
				            <%= image_tag "tokyo00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>東京<br>丸の内<br>日本橋</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "新宿", @shinnjuku, {:id => "shinnjuku", :onclick => "document.face.submit();"}) %>
			              <label for="shinnjuku">
				            <%= image_tag "shinnjuku00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>新宿</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "六本木・麻布・赤坂", @roppongi, {:id => "roppongi", :onclick => "document.face.submit();"}) %>
			              <label for="roppongi">
				            <%= image_tag "roppongi00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>六本木<br>麻布<br>赤坂</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "お台場", @odaiba, {:id => "odaiba", :onclick => "document.face.submit();"}) %>
			              <label for="odaiba">
				            <%= image_tag "odaiba00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>お台場</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "品川", @shinagawa, {:id => "shinagawa", :onclick => "document.face.submit();"}) %>
			              <label for="shinagawa">
				            <%= image_tag "shinagawa00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>品川</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "池袋", @ikebukuro, {:id => "ikebukuro", :onclick => "document.face.submit();"}) %>
			              <label for="ikebukuro">
				            <%= image_tag "ikebukuro00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>池袋</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "銀座・有楽町", @ginza, {:id => "ginza", :onclick => "document.face.submit();"}) %>
			              <label for="ginza">
				            <%= image_tag "ginza00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>銀座<br>有楽町</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "新橋・汐留・浜松町", @shinbashi, {:id => "shinbashi", :onclick => "document.face.submit();"}) %>
			              <label for="shinbashi">
				            <%= image_tag "shinbashi00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>新橋<br>汐留<br>浜松町</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "上野", @ueno, {:id => "ueno", :onclick => "document.face.submit();"}) %>
			              <label for="ueno">
				            <%= image_tag "ueno00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>上野</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "浅草・押上", @asakusa, {:id => "asakusa", :onclick => "document.face.submit();"}) %>
			              <label for="asakusa">
				            <%= image_tag "asakusa00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>浅草<br>押上</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "目黒・白金・五反田", @meguro, {:id => "meguro", :onclick => "document.face.submit();"}) %>
			              <label for="meguro">
				            <%= image_tag "meguro00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>目黒<br>白金<br>五反田</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "吉祥寺・三鷹", @kichijoji, {:id => "kichijoji", :onclick => "document.face.submit();"}) %>
			              <label for="kichijoji">
				            <%= image_tag "kichijoji00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>吉祥寺<br>三鷹</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "神楽坂・飯田橋", @kagurazaka, {:id => "kagurazaka", :onclick => "document.face.submit();"}) %>
			              <label for="kagurazaka">
				            <%= image_tag "kagurazaka00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>神楽坂<br>飯田橋</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "下北沢", @shimokitazawa, {:id => "shimokitazawa", :onclick => "document.face.submit();"}) %>
			              <label for="shimokitazawa">
				            <%= image_tag "shimokitazawa00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>下北沢</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "谷中・根津・千駄木", @taninaka, {:id => "taninaka", :onclick => "document.face.submit();"}) %>
			              <label for="taninaka">
				            <%= image_tag "taninaka00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>谷中<br>根津<br>千駄木</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "神田・秋葉原・御茶ノ水", @kanda, {:id => "kanda", :onclick => "document.face.submit();"}) %>
			              <label for="kanda">
				            <%= image_tag "kanda00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>神田<br>秋葉原<br>御茶ノ水</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "赤坂・虎ノ門・永田町", @akasaka, {:id => "akasaka", :onclick => "document.face.submit();"}) %>
			              <label for="akasaka">
				            <%= image_tag "akasaka00.jpg", :class =>'img-category0' %>
		        		  </label>
		        		  <p>赤坂<br>虎ノ門<br>永田町</p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:city, "四ツ谷・信濃町・千駄ヶ谷", @yotsuya, {:id => "yotsuya", :onclick => "document.face.submit();"}) %>
			              <label for="yotsuya">
				            <%= image_tag "yotsuya00.jpg", :class =>'img-category0' %>
			    		  </label>
			    		  <p>四ツ谷<br>信濃町<br>千駄ヶ谷</p>
			            </div>
				      </div>

			        
		        
		        </div>
              </div>
              <div class="btn-modal">

              		
	            		<a href="" data-toggle="modal" data-target="#myModal_detail">
	            		<div class="btn-modal-next">
		            		<div>
		            			<i class="fas fa-neuter"></i>&nbsp;&nbsp;コースの条件を絞る
		            		</div>
	            		</div>
	            		</a>
	            			
				    <a href="" data-toggle="modal" data-dismiss="modal">
	    				<div class="btn-modal-back">
	    					<div>
	    						閉じる
	    					</div>
	    				</div>
				    </a>
			    </div>

            </div>
          </div>

          <!-- 詳細条件モーダルウィンドウの中身 -->
          <div class="modal" id="myModal_detail">
            <div class="modal-dialog">
              <div style="height:0vh;"></div>
              <div class="modal-content" style="max-height:75vh;">
              	<div class="box-modal text-center" style="padding:10px 0px 65px;">

              		<p style="color:white;">あなたにぴったりのコースを提案します</p>
	                <p style="color:white;">コースの条件を指定してください</p>
                	<div style="height:35px;"></div>

	          		<%# 時間帯 %>
              		<h4 style="color:#CCCCCC;padding:0px 0px 0px 10px;font-size:17px;">Timezone</h4>
          			<div class="home-box">
            			<div class="home-box-1">
                			<div class="radio-city00"> 
                      			<%= radio_button_tag(:timezone, "noon", true, {:id => "lunch"}) %>
                      			<label for="lunch">
                      				<i class="fas fa-sun"></i>
                   				</label>
                    		</div>
                    		<div class="lunch-info">
                      			ランチから
                    		</div>
                  		</div>
                      	<div class="home-box-1">
                    		<div class="radio-city00"> 
                          		<%= radio_button_tag(:timezone, "night", @timezone_night, {:id => "dinner"}) %>
                          		<label for="dinner">
                          			<i class="fas fa-moon"></i>
                        		</label>
                        	</div>
                        	<div class="lunch-info">
                          		ディナーから
                        	</div>
                  		</div>
              		</div>
              		<%# 予算 %>
              		<h4 style="color:#CCCCCC;padding:30px 0px 5px 10px;font-size:17px;">Budget</h4>
                	<div class="home-box">
                  		<div class="home-box-1">
                    		<div class="radio-city0"> 
                          		<%= radio_button_tag(:budget, "1", @budget_one, {:id => "one"}) %>
                          		<label for="one">
                          			<i class="fas fa-yen-sign"></i>
                        		</label>
                        	</div>
                        	<div class="lunch-info">
                          		Low
                        	</div>
                      	</div>
                      	<div class="home-box-1">
                    		<div class="radio-city0"> 
                          		<%= radio_button_tag(:budget, "2", true, {:id => "two"}) %>
                          		<label for="two">
                          			<i class="fas fa-yen-sign"></i><i class="fas fa-yen-sign"></i>
                        		</label>
                        	</div>
                        	<div class="lunch-info">
                          		Average
                        	</div>
                      	</div>
                      	<div class="home-box-1">
                    		<div class="radio-city0"> 
                          		<%= radio_button_tag(:budget, "3", @budget_three, {:id => "three"}) %>
                          		<label for="three">
                          			<i class="fas fa-yen-sign"></i><i class="fas fa-yen-sign"></i><i class="fas fa-yen-sign"></i>
                        		</label>
                        	</div>
                        	<div class="lunch-info">
                          		High
                        	</div>
                    	</div> 
                	</div> 

		      	</div>
              </div>
              <div class="btn-modal">
                <a href="" data-toggle="modal" data-dismiss="modal">
                  <div class="btn-modal-center">
                    <div>
                      絞る
                    </div>
                  </div>
                </a>  
              </div>
            </div>
          </div>

          <% end %>