<%= form_tag(exams_result2_path, method: :get, :name => "face") do %>

	      <!-- エリアモーダルウィンドウの中身 -->
          <div class="modal" id="myModal_home">
            <div class="modal-dialog">

            	<div class="tab-content">
				<div id="city" class="tab-pane fade">


              <div class="modal-content" style="max-height:76vh;">
              	<div class="box-modal text-center" style="padding:15px 3px;">

	                <div style="height:5px;"></div>
	                <p style="color:white;">エリアを選択してください</p>
                	<div style="height:5px;"></div>

                	<div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "恵比寿", @ebisu, {:id => "ebisu", :onclick => "document.face.submit();"}) %>
			              <label for="ebisu">
				            <%= image_tag "ebisu_station.jpg", :class =>'img-category0' %>
				    		<p>
				    		  <span>恵比寿</span>
				    		</p>
			    		  </label>
			            </div>
				    </div>

				    <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "代官山", @daikanyama, {:id => "daikanyama", :onclick => "document.face.submit();"}) %>
			              <label for="daikanyama">
				            <%= image_tag "daikanyama_station.jpg", :class =>'img-category0' %>
			    		    <p>
			    		  	  <span>代官山</span>
			    		    </p>
			    		  </label>
			            </div>
				    </div>

				    <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "中目黒", @nakameguro, {:id => "nakameguro", :onclick => "document.face.submit();"}) %>
			              <label for="nakameguro">
				            <%= image_tag "nakameguro_station.jpg", :class =>'img-category0' %>
			    		    <p>
			    		  	  <span>中目黒</span>
			    		    </p>
			    		  </label>
			            </div>
				    </div>


				    <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "渋谷", @shibuya, {:id => "shibuya", :onclick => "document.face.submit();"}) %>
			              <label for="shibuya">
				            <%= image_tag "shibuya_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>渋谷</span>
		        		    </p>
		        		  </label>
			            </div>
				    </div>

				    <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "原宿", @harajuku, {:id => "harajuku", :onclick => "document.face.submit();"}) %>
			              <label for="harajuku">
				            <%= image_tag "harajuku_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>原宿</span><br>
		        		    </p>
		        		  </label>
			            </div>
				    </div>

				    <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "表参道・青山", @omotesando, {:id => "omotesando", :onclick => "document.face.submit();"}) %>
			              <label for="omotesando">
				            <%= image_tag "omotesando_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>表参道</span><br>
		        		  	  <span>青山</span>
		        		    </p>
		        		  </label>
			            </div>
				    </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "東京・丸の内", @tokyo, {:id => "tokyo", :onclick => "document.face.submit();"}) %>
			              <label for="tokyo">
				            <%= image_tag "tokyo_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>東京</span><br>
		        		  	  <span>丸の内</span><br>
		        		    </p>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "新宿", @shinnjuku, {:id => "shinnjuku", :onclick => "document.face.submit();"}) %>
			              <label for="shinnjuku">
				            <%= image_tag "shinnjuku_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>新宿</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "六本木", @roppongi, {:id => "roppongi", :onclick => "document.face.submit();"}) %>
			              <label for="roppongi">
				            <%= image_tag "roppongi_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>六本木</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "麻布", @azabu, {:id => "azabu", :onclick => "document.face.submit();"}) %>
			              <label for="azabu">
				            <%= image_tag "azabu_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>麻布</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "お台場", @odaiba, {:id => "odaiba", :onclick => "document.face.submit();"}) %>
			              <label for="odaiba">
				            <%= image_tag "odaiba_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>お台場</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "品川", @shinagawa, {:id => "shinagawa", :onclick => "document.face.submit();"}) %>
			              <label for="shinagawa">
				            <%= image_tag "shinagawa_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>品川</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "池袋", @ikebukuro, {:id => "ikebukuro", :onclick => "document.face.submit();"}) %>
			              <label for="ikebukuro">
				            <%= image_tag "ikebukuro_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>池袋</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "銀座", @ginza, {:id => "ginza", :onclick => "document.face.submit();"}) %>
			              <label for="ginza">
				            <%= image_tag "ginza_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>銀座</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "汐留・新橋", @shiodome, {:id => "shiodome", :onclick => "document.face.submit();"}) %>
			              <label for="shiodome">
				            <%= image_tag "shiodome_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>汐留</span><br>
		        		  	  <span>新橋</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "上野", @ueno, {:id => "ueno", :onclick => "document.face.submit();"}) %>
			              <label for="ueno">
				            <%= image_tag "ueno_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>上野</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "浅草", @asakusa, {:id => "asakusa", :onclick => "document.face.submit();"}) %>
			              <label for="asakusa">
				            <%= image_tag "asakusa_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>浅草</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "押上", @oshiage, {:id => "oshiage", :onclick => "document.face.submit();"}) %>
			              <label for="oshiage">
				            <%= image_tag "oshiage_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>押上</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "目黒", @meguro, {:id => "meguro", :onclick => "document.face.submit();"}) %>
			              <label for="meguro">
				            <%= image_tag "meguro_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>目黒</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "吉祥寺", @kichijoji, {:id => "kichijoji", :onclick => "document.face.submit();"}) %>
			              <label for="kichijoji">
				            <%= image_tag "kichijoji_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>吉祥寺</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "神楽坂", @kagurazaka, {:id => "kagurazaka", :onclick => "document.face.submit();"}) %>
			              <label for="kagurazaka">
				            <%= image_tag "kagurazaka_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>神楽坂</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "下北沢", @shimokitazawa, {:id => "shimokitazawa", :onclick => "document.face.submit();"}) %>
			              <label for="shimokitazawa">
				            <%= image_tag "shimokitazawa_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>下北沢</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "谷中・根津・千駄木", @taninaka, {:id => "taninaka", :onclick => "document.face.submit();"}) %>
			              <label for="taninaka">
				            <%= image_tag "taninaka_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>谷中</span><br>
		        		  	  <span>根津</span><br>
		        		  	  <span>千駄木</span>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "赤坂", @akasaka, {:id => "akasaka", :onclick => "document.face.submit();"}) %>
			              <label for="akasaka">
				            <%= image_tag "akasaka_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>赤坂</span><br>
		        		    </p>
		        		  </label>
			            </div>
				      </div>

				      <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "自由が丘", @jiyugaoka, {:id => "jiyugaoka", :onclick => "document.face.submit();"}) %>
			              <label for="jiyugaoka">
				            <%= image_tag "jiyugaoka_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>自由が丘</span><br>
		        		    </p>
		        		  </label>
			            </div>
					  </div>

					  <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "二子玉川", @futagotamagawa, {:id => "futagotamagawa", :onclick => "document.face.submit();"}) %>
			              <label for="futagotamagawa">
				            <%= image_tag "futagotamagawa_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>二子玉川</span>
		        		    </p>
		        		  </label>
			            </div>
					  </div>

					  <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "中野", @nakano, {:id => "nakano", :onclick => "document.face.submit();"}) %>
			              <label for="nakano">
				            <%= image_tag "nakano_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>中野</span><br>
		        		    </p>
		        		  </label>
			            </div>
					  </div>

					  <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "立川", @tachikawa, {:id => "tachikawa", :onclick => "document.face.submit();"}) %>
			              <label for="tachikawa">
				            <%= image_tag "tachikawa_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>立川</span><br>
		        		    </p>
		        		  </label>
			            </div>
					  </div>


					  <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "巣鴨", @sugamo, {:id => "sugamo", :onclick => "document.face.submit();"}) %>
			              <label for="sugamo">
				            <%= image_tag "sugamo_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>巣鴨</span><br>
		        		    </p>
		        		  </label>
			            </div>
					  </div>

					  <div class="grid_no3">
			          	<div class="radio-city333"> 
			              <%= radio_button_tag(:station, "町田", @machida, {:id => "machida", :onclick => "document.face.submit();"}) %>
			              <label for="machida">
				            <%= image_tag "machida_station.jpg", :class =>'img-category0' %>
		        		    <p>
		        		  	  <span>町田</span><br>
		        		    </p>
		        		  </label>
			            </div>
					  </div>

							        
		        
		        </div>
              </div>

			    <div class="btn-modal">	
					<a href="" data-toggle="modal" data-target="#myModal_detail">
					<div class="btn-modal-next">
			    		<div class="nav nav-pills">
			            	<div class="active">
			            		<a data-toggle="tab" href="#category">
			            		<div>
			            			<i class="fas fa-long-arrow-alt-left"></i>&nbsp;条件選択に戻る
			            		</div>
			            		</a>
			            	</div>			            	
				        </div>
					</div>
					</a>			
				    <a href="" data-toggle="modal" data-dismiss="modal">
						<div class="btn-modal-back">
							<div>
								閉じる
							</div>
						</div>
				    </a>
				</div>


				</div>

				<div id="category" class="tab-pane fade in active">

					
			  <div class="modal-content" style="max-height:75vh;">
              	<div class="box-modal text-center" style="padding:15px 0px 65px;">

              		<div style="height:8vh;"></div>
              		<p style="color:white;">あなたにぴったりのコースを提案します</p>
	                <p style="color:white;">コースの条件を指定してください</p>
                	

	          		<%# 時間帯 %>
              		<div style="height:30px;"></div>
          			<div class="home-box">
            			<div class="home-box-1">
                			<div class="radio-city00"> 
                      			<%= radio_button_tag(:timezone, "noon", true, {:id => "lunch"}) %>
                      			<label for="lunch">
                      				<i class="fas fa-sun"></i>
                   				</label>
                    		</div>
                    		<div class="lunch-info">
                      			ランチから
                    		</div>
                  		</div>
                      	<div class="home-box-1">
                    		<div class="radio-city00"> 
                          		<%= radio_button_tag(:timezone, "night", @timezone_night, {:id => "dinner"}) %>
                          		<label for="dinner">
                          			<i class="fas fa-moon"></i>
                        		</label>
                        	</div>
                        	<div class="lunch-info">
                          		ディナーから
                        	</div>
                  		</div>
              		</div>
              		<%# 予算 %>
              		<div style="height:60px;"></div>
                	<div class="home-box">
                  		<div class="home-box-1">
                    		<div class="radio-city0"> 
                          		<%= radio_button_tag(:budget, "1", @budget_one, {:id => "one"}) %>
                          		<label for="one">
                          			<i class="fas fa-yen-sign"></i>
                        		</label>
                        	</div>
                        	<div class="lunch-info">
                          		低め
                        	</div>
                      	</div>
                      	<div class="home-box-1">
                    		<div class="radio-city0"> 
                          		<%= radio_button_tag(:budget, "2", true, {:id => "two"}) %>
                          		<label for="two">
                          			<i class="fas fa-yen-sign"></i><i class="fas fa-yen-sign"></i>
                        		</label>
                        	</div>
                        	<div class="lunch-info">
                          		普通
                        	</div>
                      	</div>
                      	<div class="home-box-1">
                    		<div class="radio-city0"> 
                          		<%= radio_button_tag(:budget, "3", @budget_three, {:id => "three"}) %>
                          		<label for="three">
                          			<i class="fas fa-yen-sign"></i><i class="fas fa-yen-sign"></i><i class="fas fa-yen-sign"></i>
                        		</label>
                        	</div>
                        	<div class="lunch-info">
                          		高め
                        	</div>
                    	</div> 
                	</div> 
                	<div style="height:23px;"></div>

		      	</div>
              </div>
              <div class="btn-modal">	
					<a href="" data-toggle="modal" data-target="#myModal_detail">
					<div class="btn-modal-next">
			    		<div class="nav nav-pills">
			            	<div class="active">
			            		<a data-toggle="tab" href="#city">
			            		<div>
			            			エリアを選択する&nbsp;<i class="fas fa-long-arrow-alt-right"></i>
			            		</div>
			            		</a>
			            	</div>			            	
				        </div>
					</div>
					</a>			
				    <a href="" data-toggle="modal" data-dismiss="modal">
						<div class="btn-modal-back">
							<div>
								閉じる
							</div>
						</div>
				    </a>
				</div>
				</div>

				</div>

            </div>
          </div>

<% end %>