<header class="">
  <div class="navbar navbar-default navbar-fixed-top visible-xs top_home">
    <a href="/" class="navbar-brand navbar-brand-center">A.Date<span class="site-title" style="font-size:12px;">&nbsp;Tokyo</span></a>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <h2>
              <span class="site-title">A.Date</span>
            </h2>
          </a>
        <p style="font-size:12px;">あなたの代わりにデートコースを</p>
      </div>

      <ul class="nav">               

        <% if (user_signed_in?) %>
          <% if current_user.authority == "manager" %>
            <li>
              <%= link_to new_spot_path do %>
                <i class="fas fa-plus-circle"></i> <span style="font-size: 13px;">デートスポットを投稿する</span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <nav class="nav-footer">
        <% if (user_signed_in?) %>
        <%= link_to user_path(current_user) do %>
        <%= image_tag current_user.image, :class => "img-circle profile-4" %>
        &nbsp;&nbsp;<%= current_user.nickname %>
        <% end %>
        <br>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i> ログアウト
          <% end %>
        <br>
        <% else %>
        <% end %>

        
        <br>
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/adate_ig/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="fa-icon" href="https://www.facebook.com/adate.fa/" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="fa-icon" href="https://twitter.com/adate_tw/" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </p>
      </nav>  
    </div> 
  </nav>
</header>