<header class="">
  <div class="navbar navbar-default navbar-fixed-top visible-xs top1">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand navbar-brand-center">A.Date<span class="site-title" style="font-size:12px;">&nbsp;Tokyo</span></a>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <h2>
              <span class="site-title">A.Date</span>
            </h2>
          </a>
        <p style="font-size:12px;color:black;">あなたの代わりにデートコースを</p>
      </div>

      <% if (user_signed_in?) %>
        <% if current_user.authority == "manager" %>
          <div class="hidden-xs">
            <p class="button-menu">
              <%= link_to root_path do %>
                <i class="fas fa-home btn-menu"></i>
              <% end %>
              <%= link_to "/seeks/courses" do %>
                <i class="fas fa-align-justify btn-menu" aria-hidden="true"></i>
              <% end %>
              <%= link_to "/spots" do %>
                <i class="fas fa-map-marker-alt btn-menu" aria-hidden="true"></i>
              <% end %>
              <% if (user_signed_in?) %>
                <%= link_to user_path(current_user) do %>
                  <i class="far fa-user btn-menu"></i>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path do %>
                  <i class="fas fa-sign-in-alt btn-menu" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>


      <ul class="nav">  

        <li>
          <%= link_to manager_path do %>
            <span style="font-size: 13px;">運営者情報</span>
          <% end %>
        </li>  
        <li>
          <%= link_to terms_path do %>
            <span style="font-size: 13px;">利用規約</span>
          <% end %>
        </li>  
        <li>
          <%= link_to law_path do %>
            <span style="font-size: 13px;">特定商取引法に基づく表記</span>
          <% end %>
        </li>  
        <li>
          <%= link_to policy_path do %>
            <span style="font-size: 13px;">プライバシーポリシー</span>
          <% end %>
        </li>             

        <% if (user_signed_in?) %>
          <% if current_user.authority == "manager" %>
            <li>
              <%= link_to new_spot_path do %>
                <i class="fas fa-plus-circle"></i> <span style="font-size: 13px;">デートスポットを投稿する</span>
              <% end %>
            </li>
          <% end %>
        <% end %>
        
        <li>
          <br><br>
          <p style="font-size:12px;color:red;">※A.DateのデザインはまだPC,タブレット版に対応しておりません。スマートフォンでのご利用をご推奨します</p>
        </li>  

      </ul>

      <nav class="nav-footer">
        <% if (user_signed_in?) %>
        <%= link_to user_path(current_user) do %>
        <%= image_tag current_user.image, :class => "img-circle profile-4" %>
        &nbsp;&nbsp;<%= current_user.nickname %>
        <% end %>
        <br>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i> ログアウト
          <% end %>
        <br>
        <% else %>
          <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt"></i> ログイン
          <% end %>
        <br>
        <% end %>

        
        <br>
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/adate_ig/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="fa-icon" href="https://www.facebook.com/adate.fa/" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="fa-icon" href="https://twitter.com/adate_tw/" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </p>
      </nav>  
    </div> 
  </nav>
</header>