<header class="">
  <div class="navbar navbar-default navbar-fixed-top visible-xs top">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">Powder<span style="font-size: 14px;">&nbsp;&nbsp;あなたのデートに彩りを</span></a>
  </div>

  <nav class="sidebar side">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <h2>
              <%= image_tag 'mashup-logo.svg', :class =>'site-logo' %>
              Powder
            </h2>
          </a>
        <p style="font-weight: bold;">あなたのデートに彩りを</p>
      </div>
      <ul class="nav">
        <% if (user_signed_in?) %>
        <br>
        <li>
          <%= link_to articles_path do %>
          <i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;looking by movie
          <% end %> 
        </li>
        <li>
          <%= link_to spots_path do %>
          <i class="fa fa-camera" aria-hidden="true"></i>&nbsp;&nbsp;looking by photo
          <% end %> 
        </li>
        <br>
        
        

        <li>
        <%= link_to edit_user_registration_path(current_user) do %>
        <i class="fa fa-cog" aria-hidden="true"></i> プロフィール編集
        <% end %>
        </li>

        <% end %>

      </ul>

      <nav class="nav-footer">
        <% if (user_signed_in?) %>
        
        <%= link_to user_path(current_user) do %>
        <%= image_tag current_user.image, :class => "img-circle profile-4" %>
        &nbsp;&nbsp;<%= current_user.nickname %>
        <% end %>
        <br>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <br>
        <% else %>
        <%= link_to "アカウント作成", new_user_registration_path %>
        <br>
          <%= link_to "ログイン", new_user_session_path %>
          <br>
        <% end %>

        
        
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/powder.date/" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="fa-icon" href="/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a class="fa-icon" href="/" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
      </nav>  
    </div> 
  </nav>
</header>