<header class="">
  <div class="navbar navbar-default navbar-fixed-top visible-xs top1">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand navbar-brand-center">A.Date</a>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <h2>
              <%= image_tag 'mashup-logo.svg', :class =>'site-logo' %>
              <span class="site-title">A.Date</span>
            </h2>
          </a>
        <p style="font-weight: bold;">デートコースを驚くほど簡単に</p>
      </div>

      <div class="hidden-xs">
        <p class="button-menu">
          <%= link_to root_path do %>
            <i class="fa fa-home btn-menu"></i>
          <% end %>
          <%= link_to "/spots" do %>
            <i class="fa fa-map-marker btn-menu" aria-hidden="true"></i>
          <% end %>
          <% if (user_signed_in?) %>
            <%= link_to user_path(current_user) do %>
              <i class="fa fa-user btn-menu"></i>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in btn-menu" aria-hidden="true"></i>
            <% end %>
          <% end %>
          <a href='#main-collapse'>
            <i class="fa fa-level-up btn-menu" aria-hidden="true"></i>
          </a>
        </p>
      </div>



      <ul class="nav">

        <div class="row">
          <div class="col-xs-10 col-sm-10 col-md-10">      
            <%= search_form_for(@q, url:spots_result_path) do |f| %>
              <dl class="search1">
                <dt><%= f.search_field :title_cont, placeholder: "Search" %></dt>
                <dd><span><%= button_tag :type => "submit" do %>
                  <i class="fa fa-search"></i>
                <% end %></span></dd>
              </dl>
            <% end %>
          </div>
        </div>
        
        

        <% if (user_signed_in?) %>
          <% if current_user.authority == "manager" %>
            <li>
              <%= link_to new_spot_path do %>
                <i class="fa fa-plus-circle" aria-hidden="true"></i> <span style="font-size: 13px;">デートスポットを投稿する</span>
              <% end %>
            </li>
          <% end %>
        <% end %>

      </ul>

      <nav class="nav-footer">
        <% if (user_signed_in?) %>
        <%= link_to user_path(current_user) do %>
        <%= image_tag current_user.image, :class => "img-circle profile-4" %>
        &nbsp;&nbsp;<%= current_user.nickname %>
        <% end %>
        <br>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out" aria-hidden="true"></i> ログアウト
          <% end %>
        <br>
        <% else %>
        <%= link_to new_user_registration_path do %>
          <i class="fa fa-user-plus" aria-hidden="true"></i> アカウント作成
          <% end %>
        <br>
          <%= link_to new_user_session_path do %>
          <i class="fa fa-sign-in" aria-hidden="true"></i> ログイン
          <% end %>
        <br>
        <% end %>

        
        <br>
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/powder.date/" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="fa-icon" href="/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a class="fa-icon" href="/" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="fa-icon" href="/" target="_blank">
            <i class="fa fa-pinterest" aria-hidden="true"></i>
          </a>
        </p>
      </nav>  
    </div> 
  </nav>
</header>