<div class="panel panel-default">
    <div class="panel-body">
      	<p class="form-title">
              エリアを選ぶ
            </p>
            <div class="city-check">
                  <%= link_to search_tokyo1_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>  東京のすべてのエリアで探す
                  </div>
                  <% end %>
                  <br>

                  <p class="city-category">
                    都心部
                  </p>
                  <%= link_to search_tokyo16_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  東京駅・丸の内・日本橋
                  </div>
                  <% end %>
                  <%= link_to search_tokyo12_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  赤坂・永田町・虎ノ門
                  </div>
                  <% end %>
                  <%= link_to search_tokyo20_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  豊洲・お台場・湾岸
                  </div>
                  <% end %>
                  <%= link_to search_tokyo26_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  銀座・有楽町
                  </div>
                  <% end %>
                  <%= link_to search_tokyo7_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  新橋・浜松町
                  </div>
                  <% end %>
                  <%= link_to search_tokyo33_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  六本木・麻布・広尾
                  </div>
                  <% end %>
                  <%= link_to search_tokyo25_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  月島・勝どき
                  </div>
                  <% end %>

                  <br>
                  <p class="city-category">
                    副都心部
                  </p>
                  <%= link_to search_tokyo28_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  新宿
                  </div>
                  <% end %>
                  <%= link_to search_tokyo4_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  渋谷・恵比寿・中目黒・目黒
                  </div>
                  <% end %>
                  <%= link_to search_tokyo32_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  原宿・表参道・青山
                  </div>
                  <% end %>
                  <%= link_to search_tokyo14_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  池袋・巣鴨・駒込
                  </div>
                  <% end %>
                  <%= link_to search_tokyo34_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  四ツ谷・信濃町・千駄ヶ谷
                  </div>
                  <% end %>
                  <%= link_to search_tokyo8_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  神田・秋葉原・御茶ノ水
                  </div>
                  <% end %>
                  <%= link_to search_tokyo10_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  水道橋・飯田橋・神楽坂・本郷
                  </div>
                  <% end %>
                  <%= link_to search_tokyo29_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  新大久保・高田馬場・早稲田
                  </div>
                  <% end %>
                  <%= link_to search_tokyo31_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  代々木・初台
                  </div>
                  <% end %>

                  <br>
                  <p class="city-category">
                    23区西部
                  </p>
                  <%= link_to search_tokyo2_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  下北沢・明大前・成城学園前
                  </div>
                  <% end %>
                  <%= link_to search_tokyo5_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  自由が丘・三軒茶屋・二子玉川
                  </div>
                  <% end %>
                  <%= link_to search_tokyo15_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  中野・吉祥寺・三鷹
                  </div>
                  <% end %>
                  <%= link_to search_tokyo18_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  品川・田町・五反田
                  </div>
                  <% end %>
                  <%= link_to search_tokyo13_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  大井町・大森・蒲田
                  </div>
                  <% end %>
                  <%= link_to search_tokyo30_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  馬込・池上
                  </div>
                  <% end %>
                  <%= link_to search_tokyo17_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  板橋・成増・赤羽
                  </div>
                  <% end %>
                  <%= link_to search_tokyo6_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  十条・王子
                  </div>
                  <% end %>
                  <%= link_to search_tokyo24_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  練馬・江古田・田無
                  </div>
                  <% end %>

                  <br>
                  <p class="city-category">
                    23区東部
                  </p>
                  <%= link_to search_tokyo35_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  上野・浅草・日暮里
                  </div>
                  <% end %>
                  <%= link_to search_tokyo3_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  錦糸町・浅草・新小岩
                  </div>
                  <% end %>
                  <%= link_to search_tokyo21_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  北千住・綾瀬・金町
                  </div>
                  <% end %>
                  <%= link_to search_tokyo27_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  亀有・柴又
                  </div>
                  <% end %>
                  <%= link_to search_tokyo9_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  人形町・門前仲町・葛西
                  </div>
                  <% end %>
                  <%= link_to search_tokyo22_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  木場・東陽町
                  </div>
                  <% end %>
                  <%= link_to search_tokyo11_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  西新井・舎人
                  </div>
                  <% end %>

                  <br>
                  <p class="city-category">
                    市町村エリア
                  </p>
                  <%= link_to search_tokyo36_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  東急沿線
                  </div>
                  <% end %>
                  <%= link_to search_tokyo37_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  京王・小田急沿線
                  </div>
                  <% end %>
                  <%= link_to search_tokyo38_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  小金井・国分寺・国立
                  </div>
                  <% end %>
                  <%= link_to search_tokyo23_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  立川・八王子・青梅
                  </div>
                  <% end %>
                  <%= link_to search_tokyo19_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  府中・調布・多摩センター
                  </div>
                  <% end %>
      		
                  
      		<br>
                  <p class="city-category">
                    島部
                  </p>
                  <%= link_to search_tokyo99_path do %>
                  <div class="black station-font">
                  <i class="fa fa-map-marker stastion-btn" aria-hidden="true"></i>  伊豆諸島・小笠原諸島
                  </div>
                  <% end %>

        </div>
    </div>
</div>
 