<% set_meta_tags noindex: true %>
<%= render "partial/navbar" %>
<main class="" id="main-collapse">


<div class="row">
  <div class="col-xs-12 col-sm-11 col-md-10">

    <div class="title-content">
        北海道・東北地方
      </div> 
      <hr class="style2">

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_hokkaido_path do %>
        <div class="example">
              <%= image_tag "hokkaido.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">北海道</p> 
            </div>
        <% end %>
      </div>
    
      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_aomori_path do %>
        <div class="example">
              <%= image_tag "aomori.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">青森</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_iwate_path do %>
        <div class="example">
              <%= image_tag "iwate.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">岩手</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_miyagi_path do %>
        <div class="example">
              <%= image_tag "miyagi.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">宮城</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_akita_path do %>
        <div class="example">
              <%= image_tag "akita.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">秋田</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_yamagata_path do %>
        <div class="example">
              <%= image_tag "yamagata.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">山形</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_fukushima_path do %>
        <div class="example">
              <%= image_tag "fukushima.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">福島</p> 
            </div>
        <% end %>
      </div>

    </div>
    <br>

    <div class="title-content">
      北陸地方
    </div> 
    <hr class="style2">

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_toyama_path do %>
        <div class="example">
              <%= image_tag "toyama.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">富山</p> 
            </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_ishikawa_path do %>
        <div class="example">
              <%= image_tag "ishikawa.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">石川</p> 
            </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_fukui_path do %>
        <div class="example">
              <%= image_tag "fukui.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">福井</p> 
            </div>
        <% end %>
      </div>
    </div>
    <br>

    <div class="title-content">
      甲信越地方
    </div> 
    <hr class="style2">

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_niigata_path do %>
        <div class="example">
              <%= image_tag "niigata.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">新潟</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_yamanashi_path do %>
        <div class="example">
              <%= image_tag "yamanashi.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">山梨</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_nagano_path do %>
        <div class="example">
              <%= image_tag "nagano.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">長野</p> 
            </div>
        <% end %>
      </div>
    </div>
    <br>

    <div class="title-content">
        関東地方
      </div> 
      <hr class="style2">

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_ibaraki_path do %>
        <div class="example">
              <%= image_tag "ibaraki.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">茨城</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_tochigi_path do %>
        <div class="example">
              <%= image_tag "tochigi.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">栃木</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_gunma_path do %>
        <div class="example">
              <%= image_tag "gunma.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">群馬</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_saitama_path do %>
        <div class="example">
              <%= image_tag "saitama.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">埼玉</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_chiba_path do %>
        <div class="example">
              <%= image_tag "chiba.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">千葉</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_tokyo_path do %>
        <div class="example">
              <%= image_tag "tokyo.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">東京</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_kanagawa_path do %>
        <div class="example">
              <%= image_tag "kanagawa.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">神奈川</p> 
            </div>
        <% end %>
      </div>

    </div>
    <br>

    <div class="title-content">
      東海地方
    </div> 
    <hr class="style2">

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_gifu_path do %>
        <div class="example">
              <%= image_tag "gifu.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">岐阜</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_shizuoka_path do %>
        <div class="example">
              <%= image_tag "shizuoka.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">静岡</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_aichi_path do %>
        <div class="example">
              <%= image_tag "aichi.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">愛知</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_mie_path do %>
        <div class="example">
              <%= image_tag "mie.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">三重</p> 
            </div>
        <% end %>
      </div>

    </div>
    <br>

    <div class="title-content">
      近畿地方
    </div> 
    <hr class="style2">

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_shiga_path do %>
        <div class="example">
              <%= image_tag "shiga.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">滋賀</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_kyoto_path do %>
        <div class="example">
              <%= image_tag "kyoto.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">京都</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_osaka_path do %>
        <div class="example">
              <%= image_tag "osaka.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">大阪</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_hyogo_path do %>
        <div class="example">
              <%= image_tag "hyogo.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">兵庫</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_nara_path do %>
        <div class="example">
              <%= image_tag "nara.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">奈良</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_wakayama_path do %>
        <div class="example">
              <%= image_tag "wakayama.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">和歌山</p> 
            </div>
        <% end %>
      </div>

    </div>
    <br>

    <div class="title-content">
      中国地方
    </div> 
    <hr class="style2">

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_shimane_path do %>
        <div class="example">
              <%= image_tag "shimane.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">島根</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_tottori_path do %>
        <div class="example">
              <%= image_tag "tottori.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">鳥取</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_okayama_path do %>
        <div class="example">
              <%= image_tag "okayama.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">岡山</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_hiroshima_path do %>
        <div class="example">
              <%= image_tag "hiroshima.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">広島</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_yamaguchi_path do %>
        <div class="example">
              <%= image_tag "yamaguchi.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">山口</p> 
            </div>
        <% end %>
      </div>

    </div>
    <br>

    <div class="title-content">
      四国地方
    </div> 
    <hr class="style2">

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_tokushima_path do %>
        <div class="example">
              <%= image_tag "tokushima.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">徳島</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_kagawa_path do %>
        <div class="example">
              <%= image_tag "kagawa.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">香川</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_ehime_path do %>
        <div class="example">
              <%= image_tag "ehime.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">愛媛</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_kouchi_path do %>
        <div class="example">
              <%= image_tag "kouchi.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">高知</p> 
            </div>
        <% end %>
      </div>

    </div>
    <br>

    <div class="title-content">
      九州・沖縄地方
    </div> 
    <hr class="style2">

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_fukuoka_path do %>
        <div class="example">
              <%= image_tag "fukuoka.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">福岡</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_saga_path do %>
        <div class="example">
              <%= image_tag "saga.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">佐賀</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_nagasaki_path do %>
        <div class="example">
              <%= image_tag "nagasaki.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">長崎</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_kumamoto_path do %>
        <div class="example">
              <%= image_tag "kumamoto.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">熊本</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_oita_path do %>
        <div class="example">
              <%= image_tag "oita.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">大分</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_miyazaki_path do %>
        <div class="example">
              <%= image_tag "miyazaki.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">宮崎</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_kagoshima_path do %>
        <div class="example">
              <%= image_tag "kagoshima.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">鹿児島</p> 
            </div>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_okinawa_path do %>
        <div class="example">
              <%= image_tag "okinawa.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">沖縄</p> 
            </div>
        <% end %>
      </div>

    </div>
    <br>

    <div class="title-content">
      その他
    </div> 
    <hr class="style2">

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to search_oversea_path do %>
        <div class="example">
              <%= image_tag "oversea.jpg", :class =>'img-prefecture' %>
              <p class="prefecture-search">海外</p> 
            </div>
        <% end %>
      </div>

    </div>

  </div>
</div>



</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./main.85741bff.js"></script></body>
