<%= render "partial/navbar" %>
<main class="" id="main-collapse">


<br>
<div class="row">
<div class="col-xs-12 col-sm-11 col-md-10">

  <div class="title-content">
    都道府県を選ぶ
  </div> 
  <hr class="style1">



  <div class="hero-full-wrapper">
  <div class="grid">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    
    <div class="grid-item">
      <%= image_tag "hokkaido.jpg", :class =>'img-responsive' %>
      <%= link_to search_hokkaido_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">北海道</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "aomori.jpg", :class =>'img-responsive' %>
      <%= link_to search_aomori_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">青森</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "iwate.jpg", :class =>'img-responsive' %>
      <%= link_to search_iwate_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">岩手</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "miyagi.jpg", :class =>'img-responsive' %>
      <%= link_to search_miyagi_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">宮城</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "akita.jpg", :class =>'img-responsive' %>
      <%= link_to search_akita_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">秋田</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "yamagata.jpg", :class =>'img-responsive' %>
      <%= link_to search_yamagata_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">山形</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "fukushima.jpg", :class =>'img-responsive' %>
      <%= link_to search_fukushima_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">福島</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "ibaraki.jpg", :class =>'img-responsive' %>
      <%= link_to search_ibaraki_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">茨城</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "tochigi.jpg", :class =>'img-responsive' %>
      <%= link_to search_tochigi_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">栃木</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "gunma.jpg", :class =>'img-responsive' %>
      <%= link_to search_gunma_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">群馬</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "saitama.jpg", :class =>'img-responsive' %>
      <%= link_to search_saitama_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">埼玉</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "chiba.jpg", :class =>'img-responsive' %>
      <%= link_to search_chiba_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">千葉</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "tokyo.jpg", :class =>'img-responsive' %>
      <%= link_to search_tokyo_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">東京</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "kanagawa.jpg", :class =>'img-responsive' %>
      <%= link_to search_kanagawa_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">神奈川</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "niigata.jpg", :class =>'img-responsive' %>
      <%= link_to search_niigata_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">新潟</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "toyama.jpg", :class =>'img-responsive' %>
      <%= link_to search_toyama_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">富山</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "ishikawa.jpg", :class =>'img-responsive' %>
      <%= link_to search_ishikawa_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">石川</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "fukui.jpg", :class =>'img-responsive' %>
      <%= link_to search_fukui_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">福井</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "yamanashi.jpg", :class =>'img-responsive' %>
      <%= link_to search_yamanashi_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">山梨</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "nagano.jpg", :class =>'img-responsive' %>
      <%= link_to search_nagano_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">長野</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "gifu.jpg", :class =>'img-responsive' %>
      <%= link_to search_gifu_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">岐阜</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "shizuoka.jpg", :class =>'img-responsive' %>
      <%= link_to search_shizuoka_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">静岡</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "aichi.jpg", :class =>'img-responsive' %>
      <%= link_to search_aichi_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">愛知</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "mie.jpg", :class =>'img-responsive' %>
      <%= link_to search_mie_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">三重</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "shiga.jpg", :class =>'img-responsive' %>
      <%= link_to search_shiga_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">滋賀</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "kyoto.jpg", :class =>'img-responsive' %>
      <%= link_to search_kyoto_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">京都</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "osaka.jpg", :class =>'img-responsive' %>
      <%= link_to search_osaka_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">大阪</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "hyogo.jpg", :class =>'img-responsive' %>
      <%= link_to search_hyogo_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">兵庫</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "nara.jpg", :class =>'img-responsive' %>
      <%= link_to search_nara_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">奈良</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "wakayama.jpg", :class =>'img-responsive' %>
      <%= link_to search_wakayama_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">和歌山</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "tottori.jpg", :class =>'img-responsive' %>
      <%= link_to search_tottori_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">鳥取</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "shimane.jpg", :class =>'img-responsive' %>
      <%= link_to search_shimane_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">島根</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "okayama.jpg", :class =>'img-responsive' %>
      <%= link_to search_okayama_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">岡山</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "hiroshima.jpg", :class =>'img-responsive' %>
      <%= link_to search_hiroshima_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">広島</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "yamaguchi.jpg", :class =>'img-responsive' %>
      <%= link_to search_yamaguchi_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">山口</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "tokushima.jpg", :class =>'img-responsive' %>
      <%= link_to search_tokushima_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">徳島</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "kagawa.jpg", :class =>'img-responsive' %>
      <%= link_to search_kagawa_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">香川</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "ehime.jpg", :class =>'img-responsive' %>
      <%= link_to search_ehime_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">愛媛</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "kouchi.jpg", :class =>'img-responsive' %>
      <%= link_to search_kouchi_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">高知</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "fukuoka.jpg", :class =>'img-responsive' %>
      <%= link_to search_fukuoka_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">福岡</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "saga.jpg", :class =>'img-responsive' %>
      <%= link_to search_saga_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">佐賀</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "nagasaki.jpg", :class =>'img-responsive' %>
      <%= link_to search_nagasaki_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">長崎</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "kumamoto.jpg", :class =>'img-responsive' %>
      <%= link_to search_kumamoto_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">熊本</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "oita.jpg", :class =>'img-responsive' %>
      <%= link_to search_oita_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">大分</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "miyazaki.jpg", :class =>'img-responsive' %>
      <%= link_to search_miyazaki_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">宮崎</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "kagoshima.jpg", :class =>'img-responsive' %>
      <%= link_to search_kagoshima_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">鹿児島</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "okinawa.jpg", :class =>'img-responsive' %>
      <%= link_to search_okinawa_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">沖縄</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid-item">
      <%= image_tag "oversea.jpg", :class =>'img-responsive' %>
      <%= link_to search_oversea_path do %>
      <div class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h4><span style="color: #fff;">海外</span></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    
  </div>
</div>

</div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>
</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./main.85741bff.js"></script></body>
