<%= render "partial/navbar" %>

<main class="" id="main-collapse">

<div class="row">

<div class="hidden-xs col-sm-7 col-md-5">
	<%= render "partial/tokyo" %>
</div>

<div class="col-xs-12 col-sm-5 col-md-7">
	<div class="panel panel-default">
		<%= search_form_for @q, url: search_tokyo9e_path do |f| %>
		<div class="panel-body">
	    <p class="form-title">
		      さらに絞り込む
		    </p>
	      	
	      		<div class="city-check">
		        <label class="checkbox-inline">
				 <%= f.check_box :station_eq_any, { multiple: true },checked_value = "茅場町", unchecked_value = "" %>茅場町　
				</label>
				<label class="checkbox-inline">
				  <%= f.check_box :station_eq_any, { multiple: true },checked_value = "人形町", unchecked_value = "" %>人形町　
				</label>
				<label class="checkbox-inline">
				  <%= f.check_box :station_eq_any, { multiple: true },checked_value = "清澄白河", unchecked_value = "" %>清澄白河　
				</label>
				<label class="checkbox-inline">
				  <%= f.check_box :station_eq_any, { multiple: true },checked_value = "門前仲町", unchecked_value = "" %>門前仲町　
				</label>
				<label class="checkbox-inline">
				  <%= f.check_box :station_eq_any, { multiple: true },checked_value = "葛西", unchecked_value = "" %>葛西　
				</label>
				
		        </div>	    
	     
		        <div class="pull-right">
		        <%= f.submit "検索", class: "btn btn-default btn-sm" %>
		        </div>
	        </div>
	    
		<% end %>
	</div>
</div>

</div>
 
</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./main.85741bff.js"></script></body>



