<%= render "partial/navbar" %>

<main class="" id="main-collapse">

	<div class="row">

	<div class="col-s-12 col-sm-12 col-md-5">
		<div class="example">
          <%= image_tag "tokyo.jpg", :class =>'img-prefecture' %>
          <p class="prefecture-search1">東京</p> 
        </div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-4">

<div class="panel panel-default">
	
	<%= search_form_for @q, url: search_tokyo1_path do |f| %>
    <div class="panel-body">

    	<div class="form-title">
              エリアを絞る
        </div> 
        <hr class="style1">

      	<div class="form-group">
      		<div class="city-check">

      		<p class="city-category">
              	都心部
            </p>

            <label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "東京駅・丸の内・日本橋", unchecked_value = "" %>東京駅・丸の内・日本橋　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "赤坂・永田町・虎ノ門", unchecked_value = "" %>赤坂・永田町・虎ノ門　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "銀座・有楽町", unchecked_value = "" %>銀座・有楽町　
			</label>
			<br>
			<label class="checkbox-inline">
			 <%= f.check_box :city_eq_any, { multiple: true },checked_value = "新橋・浜松町", unchecked_value = "" %>新橋・浜松町　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "六本木・麻布・広尾", unchecked_value = "" %>六本木・麻布・広尾　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "月島・勝どき", unchecked_value = "" %>月島・勝どき　
			</label>
			<br>


            <br>
            <p class="city-category">
              	副都心部
            </p>

            <label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "新宿", unchecked_value = "" %>新宿　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "渋谷・恵比寿・中目黒・目黒", unchecked_value = "" %>渋谷・恵比寿・中目黒・目黒　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "原宿・表参道・青山", unchecked_value = "" %>原宿・表参道・青山　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "池袋・巣鴨・駒込", unchecked_value = "" %>池袋・巣鴨・駒込　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "四ツ谷・信濃町・千駄ヶ谷", unchecked_value = "" %>四ツ谷・信濃町・千駄ヶ谷　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "神田・秋葉原・御茶ノ水", unchecked_value = "" %>神田・秋葉原・御茶ノ水　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "水道橋・飯田橋・神楽坂・本郷", unchecked_value = "" %>水道橋・飯田橋・神楽坂・本郷　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "新大久保・高田馬場・早稲田", unchecked_value = "" %>新大久保・高田馬場・早稲田　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "代々木・初台", unchecked_value = "" %>代々木・初台　
			</label>
			<br>



			<br>
          	<p class="city-category">
            	23区西部
          	</p>

          	<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "下北沢・明大前・成城学園前", unchecked_value = "" %>下北沢・明大前・成城学園前　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "自由が丘・三軒茶屋・二子玉川", unchecked_value = "" %>自由が丘・三軒茶屋・二子玉川　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "中野・吉祥寺・三鷹", unchecked_value = "" %>中野・吉祥寺・三鷹　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "練馬・江古田・田無", unchecked_value = "" %>練馬・江古田・田無　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "十条・王子", unchecked_value = "" %>十条・王子　
			</label>
			<br>
			

          	<br>
            <p class="city-category">
            	23区北部
          	</p>

          	<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "板橋・成増・赤羽", unchecked_value = "" %>板橋・成増・赤羽　
			</label>
			<br>

          	<br>
          	<p class="city-category">
            	23区東部
          	</p>

          	<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "上野・浅草・日暮里", unchecked_value = "" %>上野・浅草・日暮里　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "錦糸町・浅草・新小岩", unchecked_value = "" %>錦糸町・浅草・新小岩　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "北千住・綾瀬・金町", unchecked_value = "" %>北千住・綾瀬・金町　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "亀有・柴又", unchecked_value = "" %>亀有・柴又　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "人形町・門前仲町・葛西", unchecked_value = "" %>人形町・門前仲町・葛西　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "木場・東陽町", unchecked_value = "" %>木場・東陽町　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "西新井・舎人", unchecked_value = "" %>　西新井・舎人　
			</label>
			<br>

          	<br>
          	<p class="city-category">
            	23区南部
          	</p>

          	<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "品川・田町・五反田", unchecked_value = "" %>品川・田町・五反田　
			</label>
			<br>
			<label class="checkbox-inline">
			 <%= f.check_box :city_eq_any, { multiple: true },checked_value = "大井町・大森・蒲田", unchecked_value = "" %>大井町・大森・蒲田　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "馬込・池上", unchecked_value = "" %>馬込・池上　
			</label>
			<br>

          	<br>
          	<p class="city-category">
            	市町村エリア
          	</p>

          	<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "小金井・国分寺・国立", unchecked_value = "" %>小金井・国分寺・国立　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "立川・八王子・青梅", unchecked_value = "" %>立川・八王子・青梅　
			</label>
			<br>
			<label class="checkbox-inline">
			 <%= f.check_box :city_eq_any, { multiple: true },checked_value = "府中・調布・多摩センター", unchecked_value = "" %>府中・調布・多摩センター　
			</label>
			<br>
          	<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "東急沿線", unchecked_value = "" %>東急沿線　
			</label>
			<br>
			<label class="checkbox-inline">
			  <%= f.check_box :city_eq_any, { multiple: true },checked_value = "京王・小田急沿線", unchecked_value = "" %>京王・小田急沿線　
			</label>
			<br>


          	<br>
          	<p class="city-category">
            	島部
          	</p>

	        <label class="checkbox-inline">
			 <%= f.check_box :city_eq_any, { multiple: true },checked_value = "伊豆諸島・小笠原諸島", unchecked_value = "" %>伊豆諸島・小笠原諸島　
			</label>
					
	        </div>	   
	      </div> 
      	
    
        <div class="pull-right">
        <%= f.submit "検索", class: "btn btn-default" %>
        </div>
    </div>

      
    <br>  
<% end %>
</div>
</div>
</div>
 
</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./main.85741bff.js"></script></body>



