<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

<%= form_tag(searches_middle_third_path, method: :get) do %>
　<%= hidden_field_tag :timezone, params[:timezone] %>
  <%= hidden_field_tag :spot1, params[:spot1] %>
  <%= hidden_field_tag :spot2, params[:spot2] %>
  <%= hidden_field_tag :distance, 500 %>

  <div class="box95" id=''>
		  	<div>
		  		<h3 class="box-top" style="color:white;text-shadow: 1px 1px 2px black;">この後はどこに行きますか？</h3>
		  	</div>
		  	<div>
			  	<span class="img_radio-home">
				 	<%= radio_button_tag(:large, "おまかせ", true, {:id => "adate"}) %>
						<%= label_tag('adate', "３軒目を探す") %> 
			  	</span>
			  	<span class="img_radio-home2">
				 	<%= radio_button_tag(:large, "３軒目なし", false, {:id => "not"}) %>
						<%= label_tag('not', "３軒目なし") %> 
			  	</span>
		  	</div>
			<br>
			<h1><%= submit_tag "次へ進む", :class => "btn btn-default" %></h1>
		  </div>


<% end %>


<script>
//更新
function scroll(){
	var n = window.location.href.slice(window.location.href.indexOf('?') + 4);
    var p = $("section1").offset().top;
    $('html,body').animate({ scrollTop: p }, 'slow');
    return false;
}
</script>


</mains>
