<%= render "partial/navbar" %>

<mains class="" id="main-collapse">


<% if @spots.blank? %>

  <h4 class="text-center" style="margin:20px 0px;">
    該当するスポットがありません
  </h4> 

  <h4 class="text-center" style="margin:20px 0px;">
    <a href="" data-toggle="modal" data-target="#myModal-distance">
      <span style="font-size:12px;">
      <i class="fa fa-chevron-circle-down"></i>&nbsp;条件を絞る
      </span>
    </a>
  </h4> 

<% else %>
	
    <h4 class="text-center" style="margin:20px 0px;">
	    どちらにしますか？
	    <a href="" data-toggle="modal" data-target="#myModal-distance">
	      <span style="font-size:12px;">
	      <i class="fa fa-chevron-circle-down"></i>&nbsp;条件を絞る
	      </span>
	    </a>
	</h4> 

  <%= form_tag(searches_result_path, method: :get) do %>
  <%= hidden_field_tag :timezone, params[:timezone] %>

    <% if !@spot1.blank? %>
      <%= hidden_field_tag :spot1, @spot1.id %>
    <% end %>
    <% if !@spot3.blank? %>
      <%= hidden_field_tag :spot3, @spot3.id %>
    <% end %>

    <% @spots.each do |spot| %>
      <div class="radio-city1">	
        <% @n = @n + 1 %>
        <% if @n == 1 %>	
          <%= radio_button_tag(:spot2, spot.id, true) %>
        <% else %>
          <%= radio_button_tag(:spot2, spot.id) %>
        <% end %>
        <label for="spot2_<%= spot.id %>">
          <%= image_tag spot.pictures.first.image.url, :class =>'img-course-result' %>
          <h3>
            <%# タイトル %>
            <%= spot.title %>
            <%# 駅 %>
            <span style="font-size:11px;text-shadow: 0px 0px 0px black;"><br><i class="fa fa-map-marker"></i>&nbsp;<%= spot.station %></span>
            <%# カテゴリー %>
            <% unless spot.large.blank? %>
              <span style="font-size:11px;text-shadow: 0px 0px 0px black;"><br><i class="fa fa-tag"></i>&nbsp;</span>
              <% @i = 0 %>
              <% spot.large.each do |large| %>
                <% @i = @i + 1 %>
                <span style="font-size:11px;text-shadow: 0px 0px 0px black;">
                  <% unless large == "ランチ" || large == "ディナー" %>
                  <% if @i == spot.large.size %>
                    <%= large %>
                  <% else %>
                    <%= large %>/
                  <% end %>
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </h3>  
          <a href="" data-toggle="modal" data-target="#myModal<%= @n %>">
            <h4>
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </h4>
          </a>
        </label>
      </div>
      <!-- モーダルウィンドウの中身 -->
      <div class="modal" id="myModal<%= @n %>">
        <div class="modal-dialog">
        <div class="modal-content">
          <br>
          <%# 横スクロール写真 %>
          <div class="horizontal_scroll_wrap_content_spot">
            <ul class="scroll_lst_content">
              <% @pictures = spot.pictures.order(id: "ASC") %>
              <% @pictures.each do |picture| %>
                <li class="scroll_item_content">
                  <div class="scroll_item_inr_content">
                    <div class="scroll_item_thum_content">
                      <%# $$$spotから利用する写真をfitstなどで指定 %>
                      <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                    </div>
                    <div class="scroll_item_info_content_quote">
                      <p class="scroll_item_ttl_content_quote pull-right">
                        <% if !picture.url.blank? %>
                          <% if !picture.quote.blank? %>
                            <a href="<%= picture.url %>" target="_blank" class="gray">
                              出典&nbsp;<%= picture.quote %>
                            </a>
                          <% else %> 
                            <a href="<%= picture.url %>" target="_blank" class="gray">
                              出典&nbsp;
                            </a>
                          <% end %>
                        <% else %> 
                            &nbsp;
                        <% end %>  
                      </p>
                    </div>
                 </div>
                </li>
              <% end %>  
            </ul>
          </div>
          <div class="panel-body">
            <%# タイトル %>
            <div class="title-spot-show-min"><%= spot.title %></div>
            <%# カテゴリー %>
            <% unless spot.large.blank? %>
              <p style="color: #666666;margin:5px 0px;font-size:12px"><i class="fa fa-tag"></i>&nbsp;
              <% @i = 0 %>
                <% spot.large.each do |large| %>
                  <% @i = @i + 1 %>
                  <% if @i == spot.large.size %>
                    <%= large %>
                  <% else %>
                    <%= large %>/
                  <% end %> 
                <% end %>
              </p> 
            <% end %>
            <%# ジャンル %>
            <% unless spot.small.blank? %>
              <p style="color: #666666;margin:5px 0px;font-size:12px"><i class="fa fa-cutlery"></i>&nbsp;
              <% @i = 0 %>
                <% spot.small.each do |small| %>
                  <% @i = @i + 1 %>
                  <% if @i == spot.small.size %>
                    <%= small %>
                  <% else %>
                    <%= small %>/
                  <% end %>
                <% end %>
              </p> 
            <% end %>
            <%# 都道府県、エリア %>
            <p style="color: #66666;margin-top:5px;font-size:12px">
              <i class="fa fa-map-marker" aria-hidden="true"></i><%= spot.city %>&nbsp;&nbsp;[<%= spot.station %>]
            </p> 
            <%# 営業時間 %>
            <div onclick="obj=document.getElementById('open<%= @n %>').style; obj.display=(obj.display=='none')?'block':'none';">
              <p style="cursor:pointer;color: #66666;margin-top:-7px;font-size:12px;">
                <i class="fa fa-clock-o"></i>
                <% if @wday == 0 %>
                <% unless spot.sunday.blank? %>(日)<%= spot.sunday %><% end %>
                <% end %>
                <% if @wday == 1 %>
                <% unless spot.monday.blank? %>(月)<%= spot.monday %><% end %>
                <% end %>
                <% if @wday == 2 %>
                <% unless spot.tuesday.blank? %>(火)<%= spot.tuesday %><% end %>
                <% end %>
                <% if @wday == 3 %>
                <% unless spot.wednesday.blank? %>(水)<%= spot.wednesday %><% end %>
                <% end %>
                <% if @wday == 4 %>
                <% unless spot.thursday.blank? %>(木)<%= spot.thursday %><% end %>
                <% end %>
                <% if @wday == 5 %>
                <% unless spot.friday.blank? %>(金)<%= spot.friday %><% end %>
                <% end %>
                <% if @wday == 6 %>
                <% unless spot.saturday.blank? %>(土)<%= spot.saturday %><% end %>
                <% end %>
                ▼
              </p>
            </div>
            <div id="open<%= @n %>" style="display:none;clear:both;">
              <p style="color: #66666;margin-top:5px;font-size:12px">
                月&nbsp;&nbsp;<% unless spot.monday.blank? %><%= spot.monday %><% end %><br>
                火&nbsp;&nbsp;<% unless spot.tuesday.blank? %><%= spot.tuesday %><% end %><br>
                水&nbsp;&nbsp;<% unless spot.wednesday.blank? %><%= spot.wednesday %><% end %><br>
                木&nbsp;&nbsp;<% unless spot.thursday.blank? %><%= spot.thursday %><% end %><br>
                金&nbsp;&nbsp;<% unless spot.friday.blank? %><%= spot.friday %><% end %><br>
                土&nbsp;&nbsp;<% unless spot.saturday.blank? %><%= spot.saturday %><% end %><br>
                日&nbsp;&nbsp;<% unless spot.sunday.blank? %><%= spot.sunday %><% end %><br>
                祝&nbsp;&nbsp;<% unless spot.holiday.blank? %><%= spot.holiday %><% end %><br>
              </p> 
            </div>
            <%# 見出し %>
            <% unless spot.heading.blank? %>
              <p class="aaa-min"><%= spot.heading %></p>
            <% end %>
            <%# Description %>
            <% unless spot.description.blank? %>
              <p style="font-size:12px"><%= spot.description %></p>
            <% end %>
            <%# 食べログ、rettyボタン等 %>
            <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
            <div class="info-box1-min">
              <% unless spot.tabelog.blank? %>
                <a href="<%= spot.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログで見る</a>
              <% end %>
              <% unless spot.retty.blank? %>
                <a href="<%= spot.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Rettyで見る</a>
              <% end %>
            </div>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
          </div>  
        </div>
        </div>
      </div>
    <% end %>

    <div class="dinner-box change-btn">	
      <div class="col-xs-12">
        <div class="text-center">
          <a href="javascript:;" onclick="koshin()" class=""><i class="fa fa-refresh"></i>&nbsp;Change</a>&nbsp;&nbsp;
          <%= submit_tag "変更を確定する", :class => "btn btn-default" %>
        </div>
      </div>	
    </div>

  <% end %>

<% end %>


<%#詳細条件モーダルの中身%>
<div class="modal" id="myModal-distance">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(searches_change_second_path, method: :get) do %>
        <%= hidden_field_tag :timezone, params[:timezone] %>
        <%= hidden_field_tag :spot2, @spot2.id %>
        <% if !@spot1.blank? %>
	      <%= hidden_field_tag :spot1, @spot1.id %>
	    <% end %>
	    <% if !@spot3.blank? %>
	      <%= hidden_field_tag :spot3, @spot3.id %>
	    <% end %>
        <div class="text-center" style="padding-top:30px;">
          <p>１軒目からの距離はどうしますか？</p>
	        <br>
	        <div class="row">
	          <div class="col-xs-offset-1 col-xs-10">
	            <input id="distance" name="distance" type="range" value="<%= params[:distance].to_i %>" min="1" max="2000" step="1" class="search-detail"
	              oninput="document.getElementById('output2').value=this.value">
	              <div class="pull-right">
	              <span class="rage-output2">~</span><output id="output2" class="rage-output2"><%= params[:distance].to_i %></output><span class="rage-output2">m</span>
	            </div>
	          </div>
	        </div>
	        <br>
	        <p>エリアを指定することもできます</p>
	        <br>
	        <div class="horizontal_scroll_search">
	          <ul class="scroll_lst_search">
	            <li class="scroll_item_search">
	                <span class="radio-city"> 
	              <%= radio_button_tag(:city, "恵比寿・代官山・中目黒", @ebisu, {:id => "ebisu"}) %>
	              <%= label_tag('ebisu', "恵比寿・代官山・中目黒") %>
	            </span>
	            </li>
	            <li class="scroll_item_search">
	                <span class="radio-city"> 
	              <%= radio_button_tag(:city, "渋谷", @shibuya, {:id => "shibuya"}) %>
	              <%= label_tag('shibuya', "渋谷") %>
	            </span>
	            </li>
	            <li class="scroll_item_search">
	                <span class="radio-city"> 
	              <%= radio_button_tag(:city, "原宿・表参道・青山", @harajuku, {:id => "harajuku"}) %>
	              <%= label_tag('harajuku', "原宿・表参道・青山") %>
	            </span>
	            </li>
	            <li class="scroll_item_search">
	                <span class="radio-city"> 
	              <%= radio_button_tag(:city, "新宿", @shinjuku, {:id => "shinjuku"}) %>
	              <%= label_tag('shinjuku', "新宿") %>
	            </span>
	            </li>
	            <li class="scroll_item_search">
	                <span class="radio-city"> 
	              <%= radio_button_tag(:city, "東京・丸の内・日本橋", @tokyo, {:id => "tokyo"}) %>
	              <%= label_tag('tokyo', "東京・丸の内・日本橋") %>
	            </span>
	            </li>
	          </ul>
	        </div>
	        <br>
	        <p>どこに行きたいですか？</p>
	        <div class="horizontal_scroll_search">
	          <ul class="scroll_lst_search">
	            <% if params[:timezone] == "夜" %>
	              <li class="scroll_item_search">
	                  <span class="img_radio-bar">  
	                <%= radio_button_tag(:large, "バー", @bar, {:id => "bar"}) %>
	                  <%= label_tag('bar', "バー") %>
	              </span>
	              </li>
	              <li class="scroll_item_search">
	                  <span class="img_radio-nightcafe">  
	                <%= radio_button_tag(:large, "カフェ", @cafe, {:id => "cafe"}) %>
	                  <%= label_tag('cafe', "カフェ") %>
	              </span>
	              </li>
	              <li class="scroll_item_search">
	                        <span class="img_radio-nightactive">  
	                      <%= radio_button_tag(:large, "アクティブ", @active, {:id => "active"}) %>
	                        <%= label_tag('active', "アクティブ") %> 
	                    </span>
	                    </li>
	                    <li class="scroll_item_search">
	                        <span class="img_radio-night">  
	                      <%= radio_button_tag(:large, "夜景", @night, {:id => "night"}) %>
	                        <%= label_tag('night', "夜景") %> 
	                    </span>
	                    </li>
	                <% end %>
	                <% if params[:timezone] == "昼" %>
	              <li class="scroll_item_search">
	                  <span class="img_radio-cafe"> 
	                <%= radio_button_tag(:large, "カフェ", @cafe, {:id => "cafe"}) %>
	                  <%= label_tag('cafe', "カフェ") %>
	              </span>
	              </li>
	              <li class="scroll_item_search">
	                  <span class="img_radio-park"> 
	                <%= radio_button_tag(:large, "公園", @park, {:id => "park"}) %>
	                  <%= label_tag('park', "公園") %> 
	              </span>
	              </li>
	              <li class="scroll_item_search">
	                  <span class="img_radio-museum"> 
	                <%= radio_button_tag(:large, "ミュージアム", @museum, {:id => "museum"}) %>
	                  <%= label_tag('museum', "ミュージアム") %> 
	              </span>
	              </li>
	              <li class="scroll_item_search">
	                  <span class="img_radio-shop"> 
	                <%= radio_button_tag(:large, "ショップ", @shop, {:id => "shop"}) %>
	                  <%= label_tag('shop', "ショップ") %> 
	              </span>
	              </li>
	              <li class="scroll_item_search">
	                  <span class="img_radio-walk"> 
	                <%= radio_button_tag(:large, "食べ歩き", @walk, {:id => "walk"}) %>
	                  <%= label_tag('walk', "食べ歩き") %> 
	              </span>
	              </li>
	              <li class="scroll_item_search">
	                        <span class="img_radio-active"> 
	                      <%= radio_button_tag(:large, "アクティブ", @active, {:id => "active"}) %>
	                        <%= label_tag('active', "アクティブ") %> 
	                    </span>
	                    </li>
	                <% end %>
	            <li class="scroll_item_search">
	                <span class="img_radio-recommend">  
	              <%= radio_button_tag(:large, "その他", @other, {:id => "other"}) %>
	                <%= label_tag('other', "その他") %>
	            </span>
	            </li>
	          </ul>
	        </div>
	        <br><br>
          <%= submit_tag "絞る", :class => "btn btn-default" %>
          <div class="panel-body">
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">閉じる×</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
//更新
function koshin(){
	$('body,html').animate({
  scrollTop: 0},0);

  location.reload();
}
</script>

<script>
  $(function () {
    $('.radio-city').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });
</script>

<script>
  $(function () {
    $('.img_radio-bar').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });

  $(function () {
    $('.img_radio-nightcafe').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });

  $(function () {
    $('.img_radio-nightactive').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });

  $(function () {
    $('.img_radio-night').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });

  $(function () {
    $('.img_radio-cafe').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });

  $(function () {
    $('.img_radio-park').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });

  $(function () {
    $('.img_radio-museum').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });

  $(function () {
    $('.img_radio-shop').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });

  $(function () {
    $('.img_radio-walk').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });

  $(function () {
    $('.img_radio-active').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });

  $(function () {
    $('.img_radio-recommend').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });
</script>

</mains>