<%= render "partial/navbar" %>
<mains class="" id="main-collapse">

  	<div class="box99" id='top'> 
  		<div>
  			<h4 class="text-center box-top1">Coolなデートコースを10秒で</h4>
  			<p class="text-center">提案するのは厳選したデートコースのみ</p>
  			<p class="text-center">私たちが完璧なデートへのハードルをお下げします</p>
  		</div>
      <h1>
      <div class="home-box">
        <div class="home-box-1">
          <%= form_tag(searches_category_first_path, method: :get) do %>
          	<%= hidden_field_tag :timezone, "昼" %>
          	<%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="lunch-btn">
	              <i class="fa fa-sun-o"></i>
	            </div>
	            <div class="lunch-info">
	              ランチから
	            </div>
            <% end %>
          <% end %>
        </div>
        <div class="home-box-1">
          <%= form_tag(searches_category_first_path, method: :get) do %>
	          <%= hidden_field_tag :timezone, "夜" %>
	          <%= button_tag :type => "submit", :class =>"button1" do %>
	            <div class="dinner-btn">
	              <i class="fa fa-moon-o"></i>
	            </div>
	            <div class="dinner-info">
	              ディナーから
	            </div>
	          <% end %>
          <% end %>
        </div>
      </div>
      </h1>
      <h2 class="text-center">
        <a href="#section1">
          <span style="color:#CCC;">A.dateとは</span>
        </a>
      </h2>
    </div>

    <div class="box-what1">
      <div class="text-center" id="section1" style="padding:0px 15px;">
        <h2 style="padding:100px 0px 50px;"><span class="what">What</span></h2>
        <h4 style="padding:20px -5px;">「デートコースを考える面倒さ」</h4> 
        デートコースを作ることは簡単ではありません。ブラウザで検索し、予算や雰囲気、相手の女性の好みなどの様々な条件を加味しながらスポットを選び、それらを移動を考えながら繋ぎ合わせていく、これだけでも多くの時間を費やしてしまいます。
        <br><br><br>
        <h4 style="padding:20px -5px;">「誰でも簡単にデートコースが作れる」</h4> 
        <span class="site-title">A.Date</span>はデートコースが簡単に作れる新しいメディアです。あなたが意中の女性とのデートを楽しめるように、デートの手間を省きます。
      </div>
    </div>
    <div class="box-what2">
      <div class="text-center" id="section1" style="padding:0px 15px;">
        <h2 style="padding-top:100px;"><span class="what">Feature</span></h2>
        <div class="box-feature">
          <%= image_tag "thumb.png", :class =>'img-feature' %>
          <h4>デートに最適なスポットを厳選</h4>
          <p>「ブラウザで検索して良さそうなところを集めてくる。」そんな手間を省きます。</p>
        </div>
        <div class="box-feature">
          <%= image_tag "touch.png", :class =>'img-feature' %>
          <h4>あなたは２択から選ぶだけ</h4>
          <p>質問に答えると、あなたの条件に合ったスポットを２つ提示します。あなたは行きたいと思った方を選択していくだけです。</p>
        </div>
        <div class="box-feature">
          <%= image_tag "navi.png", :class =>'img-feature' %>
          <h4>点ではなく線のコースができる</h4>
          <p>「行きたいところは見つけられるけどそれを繋いでコースにすることは苦手。」そんな方でも簡単に距離やジャンルも完璧なデートコースが作れます。</p>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a href="#top" class="btn btn-default">
        <span style="color:black;">トップに戻る&nbsp;<i class="fa fa-level-up"></i></span>
      </a>
    </div>
    <br><br>

</mains>

<% if (user_signed_in?) %>
  <% if current_user.authority == "manager" %>
    <%= render "partial/footer" %>
  <% end %>
<% end %>

