<%= render "partial/navbar" %>

<mains class="" id="main-collapse">

<% if !@spots.blank? %>	

	<h4 class="text-center" style="margin:20px 0px;">
	    どちらにしますか？
	    <a href="" data-toggle="modal" data-target="#myModal-distance">
	      <span style="font-size:12px;">
	      <i class="fa fa-chevron-circle-down"></i>&nbsp;条件を絞る
	      </span>
	    </a>
    </h4> 

    <div class="modal fade" id="myModal-distance">
      <div class="modal-dialog">
        <div>
          <%= form_tag(searches_third_path, method: :get) do %>
          	<%= hidden_field_tag :timezone, params[:timezone] %>
　			<%= hidden_field_tag :scene, params[:scene] %>
            <%= hidden_field_tag :large, params[:large] %>
            <%= hidden_field_tag :spot1, params[:spot1] %>
            <%= hidden_field_tag :spot2, params[:spot2] %>
            <div class="text-center" style="padding-top:30px;">
              <p>予算はいくらにしますか？</p>
              <br>
              <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                  <input id="price" name="price" type="range" value="<%= params[:price].to_i %>" min="0" max="10000" step="1000" class="search-detail"
                    oninput="document.getElementById('output1').value=this.value">
                    <div class="pull-right">
                    <span class="rage-output2">~&nbsp;</span><output id="output1" class="rage-output2"><%= params[:price].to_i %></output><span class="rage-output2">円</span> 
                  </div>
                </div>
              </div>
              <br><br>
              <% if params[:large] == "ディナー" || params[:large] == "ディナー" %>
	              <p>ジャンルを指定しますか？</p>
	              <br>
	              <div class="horizontal_scroll_search">
	                <ul class="scroll_lst_search">
	                  <li class="scroll_item_search">
	                      <span class="radio-city"> 
	                    <%= radio_button_tag(:small, "和食", @japanese, {:id => "japanese"}) %>
	                    <%= label_tag('japanese', "和食") %>
	                  </span>
	                  </li>
	                  <li class="scroll_item_search">
	                      <span class="radio-city"> 
	                    <%= radio_button_tag(:small, "焼肉・ホルモン", @yakiniku, {:id => "yakiniku"}) %>
	                    <%= label_tag('yakiniku', "焼肉・ホルモン") %>
	                  </span>
	                  </li>
	                  <li class="scroll_item_search">
	                      <span class="radio-city"> 
	                    <%= radio_button_tag(:small, "ステーキ・ハンバーグ", @steak, {:id => "steak"}) %>
	                    <%= label_tag('steak', "ステーキ・ハンバーグ") %>
	                  </span>
	                  </li>
	                  <li class="scroll_item_search">
	                      <span class="radio-city"> 
	                    <%= radio_button_tag(:small, "鍋", @pot, {:id => "pot"}) %>
	                    <%= label_tag('pot', "鍋") %>
	                  </span>
	                  </li>
	                </ul>
	              </div>
	              <div class="horizontal_scroll_search">
	                <ul class="scroll_lst_search">
	                  <li class="scroll_item_search">
	                      <span class="radio-city"> 
	                    <%= radio_button_tag(:small, "フレンチ", @french, {:id => "french"}) %>
	                    <%= label_tag('french', "フレンチ") %>
	                  </span>
	                  </li>
	                  <li class="scroll_item_search">
	                      <span class="radio-city"> 
	                    <%= radio_button_tag(:small, "イタリアン", @italian, {:id => "italian"}) %>
	                    <%= label_tag('italian', "イタリアン") %>
	                  </span>
	                  </li>
	                  <li class="scroll_item_search">
	                      <span class="radio-city"> 
	                    <%= radio_button_tag(:small, "西洋各国料理", @western, {:id => "western"}) %>
	                    <%= label_tag('western', "西洋各国料理") %>
	                  </span>
	                  </li>
	                  <li class="scroll_item_search">
	                      <span class="radio-city"> 
	                    <%= radio_button_tag(:small, "中華料理", @chinese, {:id => "chinese"}) %>
	                    <%= label_tag('chinese', "中華料理") %>
	                  </span>
	                  </li>
	                  <li class="scroll_item_search">
	                      <span class="radio-city"> 
	                    <%= radio_button_tag(:small, "アジア・エスニック", @asia, {:id => "asia"}) %>
	                    <%= label_tag('asia', "アジア・エスニック") %>
	                  </span>
	                  </li>
	                  <li class="scroll_item_search">
	                      <span class="radio-city"> 
	                    <%= radio_button_tag(:small, "その他", @otherwise, {:id => "otherwise"}) %>
	                    <%= label_tag('otherwise', "その他") %>
	                  </span>
	                  </li>
	                </ul>
	              </div>
	          <br>
	          <% end %>
	          <p>２軒目からの距離はどうしますか？</p>
            <br>
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10">
                <input id="distance" name="distance" type="range" value="<%= params[:distance].to_i %>" min="1" max="2000" step="1" class="search-detail"
                  oninput="document.getElementById('output2').value=this.value">
                  <div class="pull-right">
                  <span class="rage-output2">~</span><output id="output2" class="rage-output2"><%= params[:distance].to_i %></output><span class="rage-output2">m</span>
                </div>
              </div>
            </div>
            <br>
            <p>エリアを指定することもできます</p>
            <br>
            <div class="horizontal_scroll_search">
              <ul class="scroll_lst_search">
                <li class="scroll_item_search">
                    <span class="radio-city"> 
                  <%= radio_button_tag(:city, "恵比寿・代官山・中目黒", @ebisu, {:id => "ebisu"}) %>
                  <%= label_tag('ebisu', "恵比寿・代官山・中目黒") %>
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="radio-city"> 
                  <%= radio_button_tag(:city, "渋谷", @shibuya, {:id => "shibuya"}) %>
                  <%= label_tag('shibuya', "渋谷") %>
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="radio-city"> 
                  <%= radio_button_tag(:city, "原宿・表参道・青山", @harajuku, {:id => "harajuku"}) %>
                  <%= label_tag('harajuku', "原宿・表参道・青山") %>
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="radio-city"> 
                  <%= radio_button_tag(:city, "新宿", @shinjuku, {:id => "shinjuku"}) %>
                  <%= label_tag('shinjuku', "新宿") %>
                </span>
                </li>
                <li class="scroll_item_search">
                    <span class="radio-city"> 
                  <%= radio_button_tag(:city, "東京・丸の内・日本橋", @tokyo, {:id => "tokyo"}) %>
                  <%= label_tag('tokyo', "東京・丸の内・日本橋") %>
                </span>
                </li>
              </ul>
            </div>
            <br>
              <%= submit_tag "絞る", :class => "btn btn-default" %>
            </div>
            <br>
          <% end %>
        </div>
      </div>
    </div>

    <%= form_tag(searches_result_path, method: :get) do %>
    <%= hidden_field_tag :timezone, params[:timezone] %>
　	<%= hidden_field_tag :scene, params[:scene] %>
	<%= hidden_field_tag :spot1, params[:spot1] %>
	<%= hidden_field_tag :spot2, params[:spot2] %>

		<% @spots.each do |spot| %>
      <div class="radio-city1">	
        <% @n = @n + 1 %>
        <% if @n == 1 %>	
          <%= radio_button_tag(:spot3, spot.id, true) %>
        <% else %>
          <%= radio_button_tag(:spot3, spot.id) %>
        <% end %>
        <label for="spot3_<%= spot.id %>">
          <%= image_tag spot.pictures.first.image.url, :class =>'img-course-result' %>
          <h3>
            <%= spot.title %><br><span style="font-size:10px;text-shadow: 0px 0px 0px black;"><i class="fa fa-map-marker" aria-hidden="true"></i><%= spot.station %></span>
          </h3> 
          <a href="" data-toggle="modal" data-target="#myModal<%= @n %>">
        	  <h4>
        	  	<i class="fa fa-info-circle" aria-hidden="true"></i>
        	  </h4>
          </a>
        </label>
      </div>
      <!-- モーダルウィンドウの中身 -->
      <div class="modal fade" id="myModal<%= @n %>">
        <div class="modal-dialog">
          <br>
          <%# 横スクロール写真 %>
          <div class="horizontal_scroll_wrap_content_spot">
            <ul class="scroll_lst_content">
              <% @pictures = spot.pictures.order(id: "ASC") %>
              <% @pictures.each do |picture| %>
                <li class="scroll_item_content">
                  <div class="scroll_item_inr_content">
                    <div class="scroll_item_thum_content">
                      <%# $$$spotから利用する写真をfitstなどで指定 %>
                      <%= image_tag picture.image.url(), :class =>'img-scroll_content' %>
                    </div>
                    <div class="scroll_item_info_content_quote">
                      <p class="scroll_item_ttl_content_quote pull-right">
                        <% if !picture.url.blank? %>
                          <% if !picture.quote.blank? %>
                            <a href="<%= picture.url %>" target="_blank" class="gray">
                              出典&nbsp;<%= picture.quote %>
                            </a>
                          <% else %> 
                            <a href="<%= picture.url %>" target="_blank" class="gray">
                              出典&nbsp;
                            </a>
                          <% end %>
                        <% else %> 
                            &nbsp;
                        <% end %>  
                      </p>
                    </div>
                 </div>
                </li>
              <% end %>  
            </ul>
          </div>
          <div class="panel-body">
            <%# タイトル %>
            <div class="title-spot-show-min"><%= spot.title %></div>
            <%# 都道府県、エリア %>
            <p style="color: #CCCCCC;margin-top:5px 0px;font-size:12px">
              <i class="fa fa-map-marker" aria-hidden="true"></i><%= spot.city %>&nbsp;&nbsp;[<%= spot.station %>]
            </p> 
            <%# 見出し %>
            <% unless spot.heading.blank? %>
              <p class="aaa-min"><%= spot.heading %></p>
            <% end %>
            <%# Description %>
            <% unless spot.description.blank? %>
              <p style="font-size:12px"><%= spot.description %></p>
            <% end %>
            <%# 食べログ、rettyボタン等 %>
            <h4 style="margin:20px 0px 0px;font-size:15px">For your infomation</h4>
            <div class="info-box1-min">
              <% unless spot.tabelog.blank? %>
                <a href="<%= spot.tabelog %>" target="_blank" class="raise2-result"><%= image_tag "tabelog.png", :style =>'width:20px;height:auto;' %>食べログで見る</a>
              <% end %>
              <% unless spot.retty.blank? %>
                <a href="<%= spot.retty %>" target="_blank" class="raise3-result"><i class="fa fa-cutlery"></i>&nbsp;Rettyで見る</a>
              <% end %>
            </div>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">×&nbsp;閉じる</button>
          </div>  
        </div>
      </div>
    <% end %>

	　
      <div class="col-xs-12">
        <div class="text-center">
          <a href="javascript:;" onclick="koshin()" class=""><i class="fa fa-refresh"></i>&nbsp;Change</a>&nbsp;&nbsp;
          <%= submit_tag "次へ進む", :class => "btn btn-default" %>
        </div>
      </div>  
		
	   
	<% end %>

<% else %>
	該当するスポットがありません
<% end %>


<script>
//更新
function koshin(){
	$('body,html').animate({
  scrollTop: 0},0);

  location.reload();
}
</script>

<script>
  $(function () {
    $('.radio-city').on('click', function(event) {
      // 既定の動作をキャンセル(今回はinputにcheckedが入るのをキャンセル)
      event.preventDefault();
      
      // チェック済みの場合はチェックを外し、未チェックの場合はチェックを入れる
      var $input = $(this).find('input');
      $input.prop('checked', !$input.prop('checked'));
    });
  });
</script>


</mains>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./main.85741bff.js"></script></body>

