<%= render "partial/navbar00" %>
<mains class="" id="main-collapse">

    <div class="visible-xs visible-sm">
	  	<div class="img_box_home_half">
	      <h1 style="font-size:50px;color:white;margin-bottom:-10px;line-height:1.4;text-shadow: 1px 1px 1px black;">
	        <span class="site-title">A.Date</span>
	      </h1>
	      <p class="text-center" style="font-size:15px;color:white;text-shadow: 1px 1px 2px black;">
	        デートコースを10秒で
	      </p>
	    </div>


		<%= render 'spots' %>
		<a href="" data-toggle="modal" data-target="#myModal-distance">
			<div class="btn-max">
				<div>
					<i class="fas fa-search"></i>&nbsp;条件を絞ってスポットを探す
				</div>
			</div>
		</a>

		<%#詳細条件モーダルの中身%>
		<div class="modal" id="myModal-distance">
		  <%= form_tag(exams_spots_path, method: :get) do %>
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <div class="text-center" style="padding-top:30px;">
		        	<h4 class="text-center">
		            	条件を絞る
		            </h4>
		            <div style="padding:30px 20px 40px;">
		              <div class="form-group">
		                <p class="pull-left">エリア</p>
		                <div class="select-box01">
		                  <%= select_tag :city, options_for_select([["指定なし", "指定なし"],["恵比寿・代官山・中目黒","恵比寿・代官山・中目黒"],["渋谷","渋谷"],["原宿・表参道・青山","原宿・表参道・青山"],["新宿","新宿"],["東京・丸の内・日本橋","東京・丸の内・日本橋"],["六本木・麻布・赤坂","六本木・麻布・赤坂"],["銀座・有楽町","銀座・有楽町"],["品川","品川"],["お台場","お台場"],["池袋","池袋"],["新橋・汐留・浜松町","新橋・汐留・浜松町"],["上野","上野"],["浅草・押上","浅草・押上"],["目黒・白金・五反田","目黒・白金・五反田"],["吉祥寺・三鷹","吉祥寺・三鷹"],["神楽坂・飯田橋","神楽坂・飯田橋"],["下北沢","下北沢"],["谷中・根津・千駄木","谷中・根津・千駄木"],["神田・秋葉原・御茶ノ水","神田・秋葉原・御茶ノ水"],["赤坂・虎ノ門・永田町","赤坂・虎ノ門・永田町"],["四ツ谷・信濃町・千駄ヶ谷","四ツ谷・信濃町・千駄ヶ谷"],["自由が丘・二子玉川","自由が丘・二子玉川"],["中野・荻窪","中野・荻窪"],["人形町・門前仲町・葛西","人形町・門前仲町・葛西"],["立川・八王子・青梅","立川・八王子・青梅"],["大井町・大森・蒲田","大井町・大森・蒲田"],["三軒茶屋・駒沢","三軒茶屋・駒沢"],["大塚・巣鴨・駒込","大塚・巣鴨・駒込"],["調布・府中・狛江","調布・府中・狛江"],["町田・稲城・多摩","町田・稲城・多摩"],["千住・綾瀬・葛飾","千住・綾瀬・葛飾"],["練馬・江古田","練馬・江古田"],["大久保・高田馬場・早稲田","大久保・高田馬場・早稲田"],["代々木・初台","代々木・初台"],["板橋・赤羽","板橋・赤羽"],["両国・錦糸町・小岩","両国・錦糸町・小岩"],["小金井・国分寺・国立","小金井・国分寺・国立"],["伊豆諸島・小笠原","伊豆諸島・小笠原"]], @city) %>
		                </div>
		              </div>
		              <div class="form-group">
		                <p class="pull-left">カテゴリー</p>
		                <div class="select-box01">
		                  <%= select_tag :category, options_for_select([["指定なし", "指定なし"], ["朝食", "朝食"], ["ランチ", "ランチ"], ["ディナー", "ディナー"], ["カフェ", "カフェ"], ["アニマルカフェ", "アニマルカフェ"], ["バー", "バー"], ["映画", "映画"], ["ショップ・雑貨屋", "ショップ・雑貨屋"], ["スポーツ", "スポーツ"], ["夜景", "夜景"], ["プラネタリウム", "プラネタリウム"], ["動物園", "動物園"], ["水族館", "水族館"], ["美術館", "美術館"], ["遊園地", "遊園地"], ["カラオケ", "カラオケ"], ["ボーリング", "ボーリング"], ["ダーツ", "ダーツ"], ["食べ歩き", "食べ歩き"], ["公園", "公園"], ["スパ・温泉", "スパ・温泉"], ["ゲームセンター", "ゲームセンター"], ["お寺・神社", "お寺・神社"], ["劇場", "劇場"], ["インターネットカフェ", "インターネットカフェ"], ["コンセプトカフェ・バー", "コンセプトカフェ・バー"], ["既", "既"], ["体験", "ストリート"], ["複合施設", "複合施設"], ["その他", "その他"]], @category) %>
		                </div>
		              </div>
		            </div>
		        </div>
		      </div>
			    <div class="btn-modal">
			        <div class="btn-modal-next">
			          <%= button_tag :type => "submit", :class =>"button-half" do %>
			            <div>
			              条件を絞る
			            </div>
			          <% end %>
			        </div>
			      <% end %>
			      <a href="" data-toggle="modal" data-dismiss="modal">
			        <div class="btn-modal-back">
			          <div>
			            閉じる
			          </div>
			        </div>
			      </a>  
			    </div>
		    </div>
		</div>

	    <div style="height:60px;" id="next"></div>

	    <div class="box-max">
		    <div style="padding:0px 10px;text-align:center;font-size:20px;color:black;">
			  	<h4 class="text-center">LINEでもデートコースを提案</h4>
			    <p style="font-size:13px;padding:0px 20px;color:black;">
			      ショーンがLINEでもデートコースを提案してくれます。
			      <br><span style="font-size:10px;">※対応エリアは東京エリアのみです</span>   
			    </p>
			    <div style="padding:0px 0px 0px;text-align:center;margin:-20px auto 0;font-size:20px;color:black;">
			        <a href="/plans/sean" class="black">
			          <%= image_tag "line.jpg", :class =>'img-circle profile-line' %>
			          <br>
			          <h4>ショーン&nbsp;<span style="font-size:14px;">＠zjy4945t</span></h4> 
			          <div class="btn btn-default" style="margin-top:30px;">
			          	ショーンについてもっと詳しく知る
			      	  </div>   
			        </a>
			    </div>
			</div>
		</div>

		<div style="height:10px;"></div>
	    
		  <div style="padding:0px 10px 35vh;text-align:center;font-size:20px;color:black;">
			  <div style="text-align:center;font-size:20px;color:black;padding:20px 0px 0px;">
			    <a href="/" class="site-title black" style="letter-spacing:0em;font-size:24px;">A.Date</a>
			    <p style="margin-top:-5px;">誰でもデートコースを10秒で</p>
			  </div>
			  <div style="text-align:center;">
			    <a class="btn-sns" href="https://www.instagram.com/adate_ig/" target="_blank">
			      <i class="fab fa-instagram"></i>
			    </a>
			    <a class="btn-sns" href="https://www.facebook.com/adate.fa/" target="_blank">
			      <i class="fab fa-facebook-f"></i>
			    </a>
			    <a class="btn-sns" href="https://twitter.com/adate_tw/" target="_blank">
			      <i class="fab fa-twitter"></i>
			    </a>
			    <a class="btn-sns" href="mailto:adate.ask@gmail.com?subject=お問い合わせ" target="_blank">
			      <i class="far fa-envelope"></i>
			    </a>
			  </div>
			  <p style="color:black;padding:20px 10px 0px 0px;font-size:10px;">Copyright © 2018 A.Date All rights reserved</p>
		  </div>    
	</div>



	<div class="visible-md visible-lg">
	  	
	</div>
	  		

</mains>
<% if (user_signed_in?) %>
  <% if current_user.authority == "manager" %>
    <%= render "partial/footer" %>
  <% end %>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>

