<%= render "partial/navbar00" %>
<mains class="" id="main-collapse">

    <div class="visible-xs visible-sm">

    	<div class="course-bar">
	    <i class="fa fa-search"></i>&nbsp;
	    &nbsp;<%= @city %>
	    &nbsp;/&nbsp;<%= @category %>
	    <% if @category == "朝食" || @category == "ランチ" || @category == "ディナー" %>
	    &nbsp;/&nbsp;<%= @price %>円
	    <% end %>
	  </div>
	  <div class="course-bar-box">   
	  </div>


		<%= render 'spots' %>
		<div class="text-center">
		  <%= paginate @spots %>
		</div>

		<%#詳細条件モーダルボタン%>
		<div class="btn-details_0">
		 <a href="" data-toggle="modal" data-target="#myModal-distance" id="btn-detail">
		  <i class="fa fa-search"></i>
		 </a>
		</div>

		<%#詳細条件モーダルの中身%>
		<div class="modal" id="myModal-distance">
		  <%= form_tag(exams_spots_path, method: :get) do %>
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <div class="text-center" style="padding-top:30px;">
		        	<h4 class="text-center">
		            	条件を絞ってスポットを探す
		            </h4>
		            <div style="padding:20px 40px 40px;">
		              <%= render "partial/form1" %>
		            </div>
		        </div>
		      </div>
			    <div class="btn-modal">
			        <div class="btn-modal-next">
			          <%= button_tag :type => "submit", :class =>"button-half" do %>
			            <div>
			              条件を絞る
			            </div>
			          <% end %>
			        </div>
			      <% end %>
			      <a href="" data-toggle="modal" data-dismiss="modal">
			        <div class="btn-modal-back">
			          <div>
			            閉じる
			          </div>
			        </div>
			      </a>  
			    </div>
		    </div>
		</div>

	    
	<div class="visible-md visible-lg">
	  	
	</div>
	  		

</mains>
<% if (user_signed_in?) %>
  <% if current_user.authority == "manager" %>
    <%= render "partial/footer" %>
  <% end %>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>

