<%= render "partial/navbar00" %>
<mains class="" id="main-collapse">

<div class="pc_1">

  <div class="sean-back"></div>
  <div class="text-center" style="margin-top:-80px;z-index:99;">
  	<a href="" data-toggle="modal" data-target="#myModal-sean" class="black">
    	<%= image_tag "line.jpg", :class =>'img-circle profile-line' %>
    	<h4>ショーン</h4>
    </a>
  </div>
    <div class="text-center"  style="padding:0px 30px 0px;margin-top:0px;">
      <h3 style="padding:0px 0px 20px;"><span class="what">About</span></h3>
      <h4>デートコースをつくってくれます</h4>
      <p>エリアを伝えるとショーンがあなたの代わりにデートコースをつくってくれます。<br><span style="font-size:11px;">※対応エリアは東京エリアのみです</span></p>
    </div>
    <div class="text-center"  style="padding:10px 30px 0px;">
      <h3 style="padding:0px 0px 20px;"><span class="what">Use</span></h3>
      <h4>質問に答えるだけ</h4>
      <p>ショーンの質問に答えていくだけでデートコースを提案してもらえます。</p>
    </div>
    <%# 横スクロール %>
    <div class="horizontal_scroll_sean" style="margin-top:20px;">
      <ul class="scroll_lst_sean">
        <li class="scroll_item_sean">
          <div class="scroll_item_inr_sean">
              <%= image_tag "sean006.jpg", :class =>'img-scroll_sean' %>
          </div>
        </li>
        <li class="scroll_item_sean">
          <div class="scroll_item_inr_sean">
              <%= image_tag "sean007.jpg", :class =>'img-scroll_sean' %>
          </div>
        </li>
        <li class="scroll_item_sean">
          <div class="scroll_item_inr_sean">
              <%= image_tag "sean008.jpg", :class =>'img-scroll_sean' %>
          </div>
        </li>
      </ul>
    </div>
    <div class="text-center"  style="padding:30px 30px 0px;">
      <h4>キーワードでも</h4>
      <p>行きたいエリアを伝えても提案してくれます。</p>
    </div>
    <div class="horizontal_scroll_sean" style="margin-top:20px">
      <ul class="scroll_lst_sean">
        <li class="scroll_item_sean">
          <div class="scroll_item_inr_sean">
              <%= image_tag "sean004.jpg", :class =>'img-scroll_sean' %>
          </div>
        </li>
        <li class="scroll_item_sean">
          <div class="scroll_item_inr_sean">
              <%= image_tag "sean005.jpg", :class =>'img-scroll_sean' %>
          </div>
        </li>
      </ul>
    </div>
    <div style="height:100px;"></div>
    <div class="fix-btn text-center">
      <a href="https://line.me/R/ti/p/%40zjy4954t" target="_blank" class="btn-sean">
        <i class="fab fa-line"></i> ショーンと友達になる
      </a>
    </div>

    <%#ショーンとはモーダルの中身%>
    <div class="modal" id="myModal-sean">
      <div class="modal-dialog">
      	<div style="height:10vh;"></div>
        <div class="modal-content">
        	<div class="box-details" id=''>
	        	<%= image_tag "line.jpg", :class =>'img-sean-use' %>
      		</div>
        </div>
      </div>
      <div class="btn-details">
        <a href="" data-toggle="modal" data-dismiss="modal" id="btn-detail">
          <i class="fa fa-close"></i>
        </a>
      </div>
    </div>

</div>

  <div class="pc_2">
    
  </div>

</mains>
<% if (user_signed_in?) %>
  <% if current_user.authority == "manager" %>
    <%= render "partial/footer" %>
  <% end %>
<% end %>