<%= render "partial/navbar00" %>
<main class="" id="main-collapse">

  <div class="pc_1 pc_1_padding">
    <p class="text-center" style="color:black;">まずはテーマを決めましょう</p>
    <h4 class="text-center">どんなデートがしたいですか？</h4>
  	<br>

  	  <div style="padding-top:0px;">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "ディナー" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "dinner5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">美味しい食事と会話を楽しむ</div>
                <div style="font-size:21px;margin:5px 0px 10px;">ディナーデート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div style="padding-top:10px;">
      <div class="">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "ランチ" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "lunch5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">初デートでも安心</div>
                <div style="font-size:21px;margin:5px 0px 10px;">ランチデート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    
      <div style="padding-top:10px;">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "水族館" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "aquarium5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">ロマンチックな雰囲気はデートに最適</div>
                <div style="font-size:21px;margin:5px 0px 10px;">水族館デート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div style="padding-top:10px;">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "動物園" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "zoo5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">動物たちと非日常を楽しむ</div>
                <div style="font-size:21px;margin:5px 0px 10px;">動物園デート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div style="padding-top:10px;">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "映画" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "movie5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">定番だけどやっぱり行きたい</div>
                <div style="font-size:21px;margin:5px 0px 10px;">映画デート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div style="padding-top:10px;">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "夜景" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "night-view5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">東京でしか見られない夜景を楽しむ</div>
                <div style="font-size:21px;margin:5px 0px 10px;">夜景デート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>


      <div style="padding-top:10px;">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "美術館巡り" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "museum5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">ふたりで静かにアートの世界に浸る</div>
                <div style="font-size:21px;margin:5px 0px 10px;">美術館巡りデート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div style="padding-top:10px;">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "雑貨屋巡り" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "shop5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">個性的なお店や街を楽しむ</div>
                <div style="font-size:21px;margin:5px 0px 10px;">雑貨屋巡りデート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div style="padding-top:10px;">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "お寺・神社巡り" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "temple5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">東京の神様にパワーをもらう</div>
                <div style="font-size:21px;margin:5px 0px 10px;">お寺・神社巡りデート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div style="padding-top:10px;">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "プラネタリウム" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "planetarium5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">ロマンチックな星空を眺める</div>
                <div style="font-size:21px;margin:5px 0px 10px;">プラネタリウムデート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div style="padding-top:10px;">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "アクティブ" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "sport5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">一緒に汗を流して一体感を深める</div>
                <div style="font-size:21px;margin:5px 0px 10px;">アクティブデート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div style="padding-top:10px;">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "公園" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "park5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">ふたりでまったりと過ごす</div>
                <div style="font-size:21px;margin:5px 0px 10px;">公園デート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div style="padding-top:10px;">
        <%= form_tag(plans_budget_path, method: :get) do %>
          <%= hidden_field_tag :theme, "食べ歩き" %>
          <%= button_tag :type => "submit", :class =>"button1" do %>
            <div class="box-category-img">
              <%= image_tag "walk-eat5.jpg", :class =>'img-category' %>
              <div class="text-category2">
              	<div style="font-size:13px;">東京のグルメを食べ尽くす</div>
                <div style="font-size:21px;margin:5px 0px 10px;">食べ歩きデート</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>



  </div>

  <div class="pc_2">
    
  </div>

</main>
<% if (user_signed_in?) %>
  <% if current_user.authority == "manager" %>
    <%= render "partial/footer" %>
  <% end %>
<% end %>


