<%= render "partial/navbar00" %>
<mains class="" id="main-collapse">

<div class="pc_1">

  <div class="box86" id=''>
    <div style="height:100px;"></div>
    <div style="height:100px;"></div>
    <div style="margin-top:0px;">
        <p class="text-center" style="color:white;text-shadow: 1px 1px 2px black;">次に時間帯を選びましょう。</p>
        <h4 class="text-center" style="color:white;text-shadow: 1px 1px 2px black;">どちらの時間帯からにしますか？</h4>
      </div>
      <div style="height:30px;"></div>
      <div class="home-box">
        <div class="home-box-1">
          <%= form_tag(plans_budget_path, method: :get) do %>
            <%= hidden_field_tag :city, params[:city] %>
            <%= hidden_field_tag :station, params[:station] %>
            <%= hidden_field_tag :timezone, "noon" %>
            <%= button_tag :type => "submit", :class =>"button1" do %>
              <div class="lunch-btn">
                <i class="fa fa-sun-o"></i>
              </div>
              <div class="lunch-info">
                ランチから
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="home-box-1">
          <%= form_tag(plans_budget_path, method: :get) do %>
            <%= hidden_field_tag :city, params[:city] %>
            <%= hidden_field_tag :station, params[:station] %>
            <%= hidden_field_tag :timezone, "night" %>
            <%= button_tag :type => "submit", :class =>"button1" do %>
              <div class="dinner-btn">
                <i class="fa fa-moon-o"></i>
              </div>
              <div class="dinner-info">
                ディナーから
              </div>
            <% end %>
          <% end %>
        </div>
      </div>      

</div>

  <div class="pc_2">
    
  </div>

</mains>
<% if (user_signed_in?) %>
  <% if current_user.authority == "manager" %>
    <%= render "partial/footer" %>
  <% end %>
<% end %>