<%= render "partial/navbar4" %>
<main class="" id="main-collapse">

    <div class="box-what3">
      <div class="text-center" style="padding:0px 15px;">
        <br><br><br>
        <h4 style="padding:0px 0px 40px;"><span class="what">あなたにデートコースを提案します</span></h4>
        <p>ショーンは無料であなたの条件に合ったデートコースを提案してくれます。<br>ショーンにあなたのデートの条件をお伝えください。</p>
        <a href="https://line.me/R/ti/p/%40zjy4954t" target="_blank">
          <%= image_tag "line.jpg", :class =>'img-circle profile-line' %>
          <br>
          <h4>ショーン&nbsp;<span style="font-size:14px;">＠zjy4945t</span></h4>
        </a>
        <a href="" data-toggle="modal" data-target="#myModal-sean" class="black">
          <p>ショーンとは？</p>
        </a>
      </div>
    </div>

    <%#ショーンとはモーダルの中身%>
    <div class="modal" id="myModal-sean">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="sean-back"></div>
          <div class="text-center" style="margin-top:-80px;z-index:99;">
            <%= image_tag "line.jpg", :class =>'img-circle profile-line' %>
            <h4>ショーン</h4>
          </div>
          <div class="panel-body">
            <div class="text-center">
              <h2 style="padding:40px 0px;"><span class="what">About</span></h2>
              <h4>あなたのデートプランナー</h4>
              <p>ショーンはあなたがデートコースを作るのをサポートしてくれるデートプランナーです。<br><span class="site-title">A.Date</span>で作ってデートコースの詳細を調べてくれたり、アドバイスをくれたり様々なサポートをしてくれます。</p>
            </div>
            <div class="text-center"  style="margin-bottom:50px;">
              <h2 style="padding:40px 0px;"><span class="what">Example</span></h2>
              <h4>使い方はあなた次第</h4>
              <p>ショーンはできる限りのことをサポートしてくれます。ぜひあなただけの使い方を見つけてください。</p>
            </div>
            <div class="row" style="padding:20px 0px;">
              <div class="col-xs-6">
              <h4 style="margin-bottom:25px;"><span class="what">様々な情報を</span></h4>
              <p>「次のスポットへは歩いてどのくらい？」</p>
              <p>「オススメのメニューを教えて！」</p>
              <p>「ここってサプライズとか対応してくれるのかな？」</p>
              </div>
              <div class="col-xs-6" style="padding-left:0px;">
                <%= image_tag "sean01.jpg", :class =>'img-sean-use' %>
              </div>
            </div>
            <div class="row" style="padding:40px 0px;">
              <div class="col-xs-6">
              <h4 style="margin-bottom:25px;"><span class="what">アドバイスを</span></h4>
              <p>「次のスポットまでは歩いたがいいかな？それともタクシーかな？」</p>
              <p>「どんなファッションで行ったらいいんだろう？」</p>
              <p>「初デートのアドバイスってある？」</p>
              </div>
              <div class="col-xs-6" style="padding-left:0px;">
                <%= image_tag "sean02.jpg", :class =>'img-sean-use' %>
              </div>
            </div>
            <div class="row" style="padding:40px 0px;">
              <div class="col-xs-6">
              <h4 style="margin-bottom:25px;"><span class="what">代わりに予約を</span></h4>
              <p>「ディナーのお店を代わりに予約しといて欲しい！」</p>
              <p>「このお店ってランチでも予約できるのかな？」</p>
              </div>
              <div class="col-xs-6" style="padding-left:0px;">
                <%= image_tag "sean03.jpg", :class =>'img-sean-use' %>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a href="https://line.me/R/ti/p/%40zjy4954t" target="_blank" class="btn btn-default">
              ショーンと友達になる
            </a>
          </div>
          <br>
          <div class="text-center">
            <button type="button" class="btn btn-default" data-dismiss="modal">×&nbsp;閉じる</button>
          </div>
          <br>
        </div>
      </div>
    </div>

</main>