<%= render "partial/navbar" %>
<main class="" id="main-collapse">

    <div class="box-what3">
      <div class="text-center" style="padding:0px 15px;">
        <br><br>
        <h4 style="padding:0px 0px 40px;"><span class="what">あなたにデートコースを提案します</span></h4>
        <p>ショーンは無料であなたの条件に合ったデートコースを提案してくれます。<br>ショーンにあなたのデートの条件をお伝えください。</p>
        <p style="font-size:10px;">※東京エリアのみに対応しています</p>
        
          <%= image_tag "line.jpg", :class =>'img-circle profile-line' %>
          <br>
          <h4>ショーン&nbsp;<span style="font-size:14px;">＠zjy4945t</span></h4>
        
        <a href="" data-toggle="modal" data-target="#myModal-sean" class="black">
          <p>ショーンとは？</p>
        </a>
      </div>
    </div>

    <%#ショーンとはモーダルの中身%>
    <div class="modal" id="myModal-sean">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="sean-back"></div>
          <div class="text-center" style="margin-top:-80px;z-index:99;">
            <%= image_tag "line.jpg", :class =>'img-circle profile-line' %>
            <h4>ショーン</h4>
          </div>
          <div class="panel-body">
            <div class="text-center">
              <h2 style="padding:40px 0px;"><span class="what">About</span></h2>
              <h4>あなたのデートプランナー</h4>
              <p>ショーンはあなたがデートコースを作るのをサポートしてくれるデートプランナーです。<br><span class="site-title">A.Date</span>で作ってデートコースの詳細を調べてくれたり、アドバイスをくれたり様々なサポートをしてくれます。</p>
            </div>
            <div class="text-center"  style="margin-bottom:50px;">
              <h2 style="padding:40px 0px;"><span class="what">Example</span></h2>
              <h4>使い方はあなた次第</h4>
              <p>ショーンはできる限りのことをサポートしてくれます。ぜひあなただけの使い方を見つけてください。</p>
            </div>
            <div class="row" style="padding:20px 0px;">
              <div class="col-xs-6">
              <h4 style="margin-bottom:25px;"><span class="what">様々な情報を</span></h4>
              <p>「次のスポットへは歩いてどのくらい？」</p>
              <p>「オススメのメニューを教えて！」</p>
              <p>「ここってサプライズとか対応してくれるのかな？」</p>
              </div>
              <div class="col-xs-6" style="padding-left:0px;">
                <%= image_tag "sean01.jpg", :class =>'img-sean-use' %>
              </div>
            </div>
            <div class="row" style="padding:40px 0px;">
              <div class="col-xs-6">
              <h4 style="margin-bottom:25px;"><span class="what">アドバイスを</span></h4>
              <p>「次のスポットまでは歩いたがいいかな？それともタクシーかな？」</p>
              <p>「どんなファッションで行ったらいいんだろう？」</p>
              <p>「初デートのアドバイスってある？」</p>
              </div>
              <div class="col-xs-6" style="padding-left:0px;">
                <%= image_tag "sean02.jpg", :class =>'img-sean-use' %>
              </div>
            </div>
            <div class="row" style="padding:40px 0px;">
              <div class="col-xs-6">
              <h4 style="margin-bottom:25px;"><span class="what">代わりに予約を</span></h4>
              <p>「ディナーのお店を代わりに予約しといて欲しい！」</p>
              <p>「このお店ってランチでも予約できるのかな？」</p>
              </div>
              <div class="col-xs-6" style="padding-left:0px;">
                <%= image_tag "sean03.jpg", :class =>'img-sean-use' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="https://line.me/R/ti/p/%40zjy4954t" target="_blank" class="btn btn-default inline">
        ショーンと友達になる
      </a>
      <div class="btn-details">
        <a href="" data-toggle="modal" data-dismiss="modal" id="btn-detail">
          <i class="fa fa-close"></i>
        </a>
      </div>
    </div>

    <br><br>

    <div>
      <%= form_tag(sent_path, method: :get) do %>
        <div class="panel-body" style="background:white;border:1px solid black;">
          <h4 class="text-center"><span class="what">フォーム</span></h4>
          <br>
          <div class="form-group">
            <h4>Area</h4>
            <p>ご希望のエリアを教えてください</p>
            <%= text_field_tag :area, '', placeholder: "エリア", class: "form-control", required: "true" %>
            <p style="font-size:11px;" class="pull-right">※特に希望がない場合は指定なしとご記入ください</p>
          </div>
          <br>
          <div class="form-group">
            <h4>Timezone</h4>
            <p>ご希望の時間帯を教えてください</p>
            <%= text_field_tag :timezone, '', placeholder: "時間帯", class: "form-control", required: "true" %>
            <p style="font-size:11px;" class="pull-right">※特に希望がない場合は指定なしとご記入ください</p>
          </div>
          <br><br>
          <h4>Price</h4>
          <p>一人当たりの予算を教えてください</p>
          <div style="width:80%;margin:0 auto;">
            <span class="pull-left">
              <span id="value-lower"></span>円
            </span>
            <span class="pull-right">
              <span id="value-upper"></span>円
            </span>
          </div>
          <br><br>
          <div style="width:75%;margin:0 auto;">  
            <div id="slider"></div>
          </div>
          <%= hidden_field_tag :price_min , params[:price_min].to_i, :class =>"min" %>
          <%= hidden_field_tag :price_max , params[:price_max].to_i, :class =>"max" %>
          <br><br><br>
          <div class="form-group">
            <h4>Term</h4>
            <p>詳細な条件や希望を教えてください</p>
              <%= text_area_tag :term, '', rows: 7, placeholder: "詳細条件", class: "form-control", required: "true"  %>
              <p style="font-size:11px;" class="pull-right">※特に希望がない場合は指定なしとご記入ください</p>
          </div> 
          <br>
          <div class="text-center">
            <%= submit_tag "次へ進む", :class => "btn btn-default" %>
          </div>
          <br>
        </div>
      <% end %>
    </div>

</main>


<script>
$("#slider").noUiSlider({
  start: [0, 20000],
  step: 500,
  connect: true,
  format: wNumb({
    decimals: 0
  }),
  range: {
    'min': 0,
    'max': 20000
  }
});
$('#slider').Link('lower').to($('#value-lower'), 'html');
$('#slider').Link('upper').to($('#value-upper'), 'html');

$("#slider").on('slide', function(event, values) {
    $("input.min").val(values[0]);
    $("input.max").val(values[1]);
  });
</script>
