<!DOCTYPE html>
<html>
  <head>
    <title>Powder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>



    <style>
      #map {width: auto; height: 450px;}
      @media only screen and (max-width: 768px) {
        #map {width: auto; height: 250px;}
        }
    </style>

  </head>

  <body class='<%= "#{controller.controller_name}" %>'>
    <%= yield %>

    <div class="visible-xs">
    <div class="sticky-bar">
    <div class="col-xs-3">
    <div class="sticky-menu">
      <i class="fa fa-home black" aria-hidden="true"></i>
    </div>
    </div>
    <div class="col-xs-3">
    <div class="sticky-menu">
      <i class="fa fa-map-marker black" aria-hidden="true"></i>
    </div>
    </div>
    <div class="col-xs-3">
    <div class="sticky-menu">
      <i class="fa fa-user black" aria-hidden="true"></i>
    </div>
    </div>
    <div class="col-xs-3">
    <div class="sticky-menu">
      <a href='#main-collapse'>
      <i class="fa fa-level-up black" aria-hidden="true"></i>
      </a>
    </div>
    </div>
    </div>
    </div>

  </body>
</html>
