<!DOCTYPE html>
<html>
  <head>
    <title>Powder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>



    <style>html, body, #map { width: auto; height: 250px; }</style>

  </head>

  <body class='<%= "#{controller.controller_name}" %>'>
    <%= yield %>

    

  </body>
</html>
