<!DOCTYPE html>
<html>
  <head>
    <title>A.Date</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@A__Date" />
    <meta name="twitter:title" content="A.Date" />
    <meta name="twitter:description" content="あなたの代わりにデートコースを" />
    <meta name="twitter:image" content="<%= asset_url('card.jpg') %>" />
    <!-- facebook系カード -->
    <meta property="og:url" content="https://limitless-shelf-32995.herokuapp.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="A.Date" /> 
    <meta property="og:description" content="あなたの代わりにデートコースを" /> 
    <meta property="og:image" content="<%= asset_url('card.jpg') %>" /> 
    <!-- ファビコン -->
    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag('apple-touch-icon.png',
                     {:rel => 'apple-touch-icon',
                      :sizes => '180x180',
                      :type => 'image/png'}) %>

    <!-- グーグルアナリティクス -->
    <%= analytics_init if Rails.env.production? %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1SfOngJW_fXuuUcTf9-0BTn9Io38U10A"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js"></script>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class='<%= "#{controller.controller_name}" %>'>

    <% if (user_signed_in?) %>
      <% if current_user.authority == "manager" %>
        <%= yield %>
      <% else %>
        <div class="visible-xs">
        <%= yield %>
      </div>
      <% end %>
    <% else %>
      <div class="hidden-xs">
        <% if url_for(only_path: false) == "http://localhost:3000/thumbnail" || url_for(only_path: false) == "https://www.a-date.jp/thumbnail" %>
          <div class="box-thumbnail">
            <div class="site-title" style="font-size:100%;color:black;">A.Date</div>
          </div>
        <% else %>
          <%= render "partial/navbar_home" %>
          <mains class="" id="main-collapse">
            <div class="box99">
              <div style="color:white;font-size:20px;">
                A.DateはまだPC,タブレット版に対応しておりません。<br>スマホ版でご利用ください。
              </div>
            </div>
          </main>
        <% end %>
      </div>
      <div class="visible-xs">
        <%= yield %>
      </div>
    <% end %>


    <!-- flashにメッセージがある時 -->
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert','error').gsub('notice','success') %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>

  </body>
</html>
