<!DOCTYPE html>
<html>
  <head>
    <title>A.Date</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1SfOngJW_fXuuUcTf9-0BTn9Io38U10A"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <style>
      #map {width: auto; height: 450px;}
      @media only screen and (max-width: 768px) {
        #map {width: 100%; height: 30vh;}
        }
    </style>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body class='<%= "#{controller.controller_name}" %>'>

    
    <%= yield %>

    <!-- flashにメッセージがある時 -->
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert','error').gsub('notice','success') %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>

  </body>
</html>
