<!DOCTYPE html>
<html>
  <head>
    <title>A.Date</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>



    <style>
      #map {width: auto; height: 450px;}
      @media only screen and (max-width: 768px) {
        #map {width: 100%; height: 60vh;}
        }
    </style>

  </head>

  <body class='<%= "#{controller.controller_name}" %>'>
    <%= yield %>

    <div class="visible-xs">
      <div class="sticky-bar">
        <div class="col-xs-3">
          <div class="sticky-menu">
            <%= link_to root_path do %>
              <i class="fa fa-home sticky-icon" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="sticky-menu">
            <%= link_to "/spots" do %>
              <i class="fa fa-map-marker sticky-icon" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="sticky-menu">
            <% if (user_signed_in?) %>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user sticky-icon" aria-hidden="true"></i>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in sticky-icon" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="sticky-menu">
            <a href='#main-collapse'>
              <i class="fa fa-level-up sticky-icon" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
